<div class="my-container">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-4">
                    <legend class="main-title">SBO Get League Bet Limit</legend>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <form class="text-center border border-light">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-md-12 table-responsive">
                                        <div class="row col-12">
                                            <div class="col-sm-3 col-lg-3"></div>
                                            <div class="col-sm-3 col-lg-3">
                                                <input id="txt_search" type='search' class="form-control" />
                                            </div>
                                            <div class="col-sm-3 col-lg-3">
                                                <button class="btn btn-info" style="text-align: center;font-size: 15px" type="submit" (click)="SearchInDataTable()">Search</button>
                                            </div>
                                        </div>
                                        <div>
                                            <ngx-datatable #table
                                                           class='bootstrap no-detail-row'
                                                           style="width: auto;"
                                                           [columns]="columns"
                                                           [rows]="rows"
                                                           [columnMode]="'force'"
                                                           [footerHeight]="60"
                                                           [rowHeight]="'auto'"
                                                           [limit]="10"
                                                           [loadingIndicator]="loadingIndicator">
                                                <ng-template #minBetTextBox
                                                             ngx-datatable-row-detail-template
                                                             let-rowIndex="rowIndex"
                                                             let-row="row"
                                                             let-expanded="expanded">
                                                    <input id="{{rowIndex}}_minBet"
                                                           type='number'
                                                           class="form-control"
                                                           [(ngModel)]="row.MinBet"
                                                           [ngModelOptions]="{standalone: true}"
                                                           style="width: 100px;" />
                                                </ng-template>
                                                <ng-template #maxBetTextBox
                                                             ngx-datatable-row-detail-template
                                                             let-rowIndex="rowIndex"
                                                             let-row="row"
                                                             let-expanded="expanded">
                                                    <input id="{{rowIndex}}_maxBet"
                                                           type='number'
                                                           class="form-control"
                                                           [(ngModel)]="row.MaxBet"
                                                           [ngModelOptions]="{standalone: true}"
                                                           style="width: 100px;" />
                                                </ng-template>
                                                <ng-template #maxBetRatioTextBox
                                                             ngx-datatable-row-detail-template
                                                             let-rowIndex="rowIndex"
                                                             let-row="row"
                                                             let-expanded="expanded">
                                                    <input id="{{rowIndex}}_maxBetRatio"
                                                           type='number'
                                                           class="form-control"
                                                           [(ngModel)]="row.MaxBetRatio"
                                                           [ngModelOptions]="{standalone: true}"
                                                           style="width: 100px;" />
                                                </ng-template>
                                                <ng-template #groupTypeDropdown
                                                             ngx-datatable-row-detail-template
                                                             let-rowIndex="rowIndex"
                                                             let-row="row"
                                                             let-expanded="expanded">
                                                    <select class="form-control"
                                                            id="ddl_groupType_{{rowIndex}}"
                                                            [(ngModel)]="row.GroupType"
                                                            [ngModelOptions]="{standalone: true}"
                                                            style="width:100px;">
                                                        <option *ngFor="let c of groupType"
                                                                [ngValue]="c.id"
                                                                [selected]="c.id == row.GroupType">
                                                            {{c.type}}
                                                        </option>
                                                    </select>
                                                </ng-template>
                                            </ngx-datatable>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>