@page
@{
    ViewData["Title"] = "Bank - Webet333 -🥇";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<script>CheckLoginOrNot()</script>

<div class="row main_wallet_page_wrap ml0 mr0">
    <div class="container">
        <div class="silver_main_wallet_sec">
            <div class="silver_wallet_main">
                <div class="silver_wallet">
                    <h1>SILVER</h1>
                    <p>Main Wallet</p>
                </div>
            </div>
            <div class="restore_amount_sec_wrap">
                <div class="restore_amount_left">
                    <button>Restore</button>
                </div>
                <div class="restore_amount_center">
                    <div class="myr_cur">
                        <h1>MYR</h1>
                        <h2>100,044.10</h2>
                    </div>
                </div>
                <div class="restore_amount_right">
                    <button>&nbsp;</button>
                </div>
            </div>
            <div class="table_section_black_wrap">
                <div class="table_blacke">
                    <table>
                        <tbody>
                            <tr>
                                <td data-column="First Name">0.00</td>
                                <td data-column="Last Name">0.00</td>
                                <td data-column="Job Title">0.00</td>
                                <td data-column="Twitter">0.00</td>
                                <td data-column="Last Name">0.00</td>
                                <td data-column="Job Title">0.00</td>
                                <td data-column="Twitter">0.00</td>
                            </tr>
                            <tr>
                                <td data-column="First Name">Joker</td>
                                <td data-column="Last Name">PlayTech</td>
                                <td data-column="Job Title">918Kiss</td>
                                <td data-column="Twitter">AG</td>
                                <td data-column="Last Name">M8</td>
                                <td data-column="Job Title">Maxbet</td>
                                <td data-column="Twitter">Mega888</td>
                            </tr>
                            <tr>
                                <td data-column="First Name">0.00</td>
                                <td data-column="Last Name">0.00</td>
                                <td data-column="Job Title">0.00</td>
                                <td data-column="Twitter">0.00</td>
                                <td data-column="Last Name">0.00</td>
                                <td data-column="Job Title">0.00</td>
                                <td data-column="Twitter">0.00</td>
                            </tr>
                            <tr>
                                <td data-column="First Name">DG</td>
                                <td data-column="Last Name">Sexy Baccarat</td>
                                <td data-column="Job Title">SA</td>
                                <td data-column="Twitter">PUSSY 888</td>
                                <td data-column="Last Name">Allbet</td>
                                <td data-column="Job Title">WM</td>
                                <td data-column="Twitter">Pragmatic</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="article_sec_wrap profile-page">
    <div class="download_page_wrapper">
        <div class="container">
            <div class="account-reg ">
                <h4 class="bank-icon symbol"><span>BANKING INFORMATION</span></h4>
                <div class="bank-account-info">
                    <p class="date-note"><span>Latest Update On : </span><span>4/7/2021, 11:14:13 AM</span></p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bank-entry">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center white-bg" id="bankdetail">
                                        <thead>
                                            <tr class="blue-bg">
                                                <th class="black-text text-center"><span class="lang" key="bank_bankDetails"><span>Bank Details</span></span></th>
                                                <th class="black-text text-center"><span class="lang" key="bank_accountname"><span>Account Name</span></span></th>
                                                <th class="black-text text-center"><span class="lang" key="bank_accountnumber"><span>Account Number</span></span></th>
                                            </tr>
                                            <tr>
                                                <td class="half-width text-center white-bg"><img class="public_bank" src="images/public_bank.png"></td>
                                                <td class="half-width text-center white-bg">Lee Chun Sang</td>
                                                <td class="half-width text-center white-bg">243254657658 </td>
                                            </tr>
                                            <tr>
                                                <td><img class="public_bank" src="images/public_bank.png"></td>
                                                <td>Lee Chun Sang</td>
                                                <td>243254657658</td>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="mar-comman">
                        <span class="lang" key="bank_message"></span>
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table width="100%" border="0" class="table table-bordered text-center transactions-limits">
                                    <thead>
                                        <tr class="blue-bg">
                                            <th rowspan="2" class="black-text left-width text-center pad-ten"><span class="lang" key="bank_bankingoptions">Banking Options</span></th>
                                            <th class=" black-text table-bordered text-center transaction-limit" colspan="2"><span class="lang" key="bank_transactionlimit">Transaction Limit</span></th>
                                            <th rowspan="2" class="black-text right-width text-center pad-ten"><span class="lang" key="bank_processingtime">Processing Time</span></th>
                                        </tr>
                                        <tr class="blue-bg">
                                            <th class="black-text table-bordered custom-width text-center"><span class="lang" key="bank_Minimum">Minimum</span></th>
                                            <th class="black-text table-bordered custom-width text-center"><span class="lang" key="bank_Maximum">Minimum</span></th>
                                        </tr>
                                        <tr>
                                            <td class="no-border pad-ten grey-bg" colspan="4" classname="no-border pad-ten grey-bg">Deposit</td>
                                        </tr>
                                        <tr>
                                            <td class="pad-ten white-bg" classname="pad-ten white-bg">Cash Deposit</td>
                                            <td class="text-center pad-ten white-bg" classname="text-center pad-ten white-bg">10</td>
                                            <td class="text-center pad-ten white-bg" classname="text-center pad-ten white-bg">30,000</td>
                                            <td class="text-center pad-ten white-bg" classname="text-center pad-ten white-bg">5-10 minutes</td>
                                        </tr>
                                        <tr>
                                            <td class="pad-ten white-bg" classname="pad-ten white-bg">Internet Banking</td>
                                            <td class="text-center pad-ten white-bg" classname="text-center pad-ten white-bg">10</td>
                                            <td class="text-center pad-ten white-bg" classname="text-center pad-ten white-bg">30,000</td>
                                            <td class="text-center pad-ten white-bg" classname="text-center pad-ten white-bg">5-10 minutes</td>
                                        </tr>
                                        <tr>
                                            <td class="no-border pad-ten grey-bg" colspan="4" classname="no-border pad-ten grey-bg">Withdraw</td>
                                        </tr>
                                        <tr>
                                            <td class="pad-ten white-bg" classname="pad-ten white-bg">Local Bank Transfer</td>
                                            <td class="text-center pad-ten white-bg" classname="text-center pad-ten white-bg">10</td>
                                            <td class="text-center pad-ten white-bg" classname="text-center pad-ten white-bg">30,000</td>
                                            <td class="text-center pad-ten white-bg" classname="text-center pad-ten white-bg">1 Day</td>
                                        </tr>
                                        <tr>
                                            <td class="pad-ten white-bg" classname="pad-ten white-bg">Quick Withdraw</td>
                                            <td class="text-center pad-ten white-bg" classname="text-center pad-ten white-bg">10</td>
                                            <td class="text-center pad-ten white-bg" classname="text-center pad-ten white-bg">30,000</td>
                                            <td class="text-center pad-ten white-bg" classname="text-center pad-ten white-bg">10-30 minutes</td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <h5><strong><span class="lang" key="important_notes">IMPORTANT NOTICES</span></strong></h5>
                    <ol style="width: 100%; padding-left: 20px; list-style-type: decimal;">
                        <li class="mar-btm-ten">All Maximum amounts are based on per transaction per day.</li>
                        <li class="mar-btm-ten">Please Contact our live for latest bank information.</li>
                        <li class="mar-btm-ten">All deposit have to be fully wager before an withdrawal can be made.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

</section>