@page
@{
    ViewData["Title"] = "Webet333 -🥇 Trusted Online Casino Malaysia ";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!-- Main Banner Section and Promotion Slider -->
<div class="main-banner">
    <div class="container">
        <div class="banner-inner">
            <div class="home-slider text-center">
                <div class="" id="slider_promotion" style="height:290px;">
                    <div class="slick-carousel" id="slider_promotion_div">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Banner Section and Promotion Slider -->
<!-- Join Now Section -->
<div class="how_win_main_wrap">
    <div class="container">
        <div class="how-win">
            <ul>

                <li class="step1bg">
                    <div class="process-game step-1">
                        <a href="#">
                            <h4 class="lang" key="register_home">JOIN</h4>
                            <p class="white-text lang" key="for_an_account">Create a Free <br> Account Now !</p>
                        </a>
                    </div>
                </li>
                <li class="step2bg">
                    <div class="process-game step-2">
                        <a href="#">
                            <h4>DEPOSIT</h4>
                            <p class="white-text lang" key="your_fund">Fully Automated <br> &amp; Secured</p>
                        </a>
                    </div>
                </li>
                <li class=" step3bg">
                    <div class="process-game step-3">
                        <a href="#">
                            <h4 class="lang" key="play_home">PLAY</h4>
                            <p class="white-text">Enjoy Your <br> Games !</p>
                        </a>
                    </div>
                </li>
                <li class="step4bg">
                    <div class="process-game step-4">
                        <a href="#">
                            <h4 class="lang" key="withdraw_home">WITHDRAW</h4>
                            <p class="white-text lang" key="your_winnings">Your Winning <br> Money</p>
                        </a>
                    </div>
                </li>
                <li class="step5bg">
                    <a href="#"><img src="images/joinnow.png"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Join Now Section -->
<!-- Accouncment Section -->
<div class="annunce-section-wrap">
    <div class="container">
        <div class="annunce-section">
            <p class="annunce-title">
                <i class="fas fa-bullhorn"></i>
            </p>
            <p class="annunce-text">
                <marquee class="announcment-font" id="announcements"></marquee>
            </p>
            <div class="clear-fix"></div>
        </div>
    </div>
</div>
<!-- Accouncment Section -->
<!-- Contact Section -->
<div class="row follow_up_wrraper_sec ml0 mr0">
    <div class="container">
        <div class="col-sm-4">
            <div class="follow_up_facebook">
                <h1><img src="images/titleicon2.png"> <span> FOLLOW US ON FACEBOOK </span> </h1>
                <div class="facebook_logo_sec">
                    <img src="images/fb2.png" alt="fb2" />
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="follow_up_facebook">
                <h1><img src="images/titleicon6.png"> <span> FOLLOW US ON INSTAGRAM </span> </h1>
                <div class="facebook_logo_sec">
                    <img src="images/ig2.png" alt="ig2" />
                </div>
            </div>
        </div>
        <div class="col-sm-4 follow_up_youtube_wrap">
            <div class="follow_up_youtube">
                <h1><img src="images/titleicon1.png"> <span> FOLLOW US ON YOUTUBE </span> </h1>
                <div class="youtube_logo_sec">
                    <img src="images/youtube2.png" alt="ig2" />
                </div>
            </div>
        </div>
        <div class="col-sm-8 latest_video_wrap">
            <div class="follow_up_lasteat_video">
                <h1><img src="images/titleicon4.png"> <span> LATEST HIGHLIGHT VIDEO </span> </h1>
                <div class="youtube_latest_video">
                    <!-- <img src="images/latest_video.png" alt="ig2" /> -->
                    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Y0mB5txA0_I?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-sm-4 our_support_wrap">
            <div class="our_support_sec">
                <h1><img src="images/titleicon3.png"> <span> OUR SUPPORT </span> </h1>
            </div>
            <div class="our_suport_contact_sec">
                <div class="livechat_support">
                    <h1>LIVE CHART</h1>
                    <p><a href="#">CLICK HERE</a></p>
                </div>
                <div class="phone_support">
                    <h1>PHONE</h1>
                    <p><a href="#">+6013 555 8826</a></p>
                </div>
                <div class="whatsapp_support">
                    <h1>WHATSAPP</h1>
                    <p><a href="#">CS1 : +6013 555 7800</a></p>
                    <p><a href="#">CS2 : +6013 555 8826</a></p>
                </div>
                <div class="wechat_support">
                    <h1>WECHAT</h1>
                    <p><img src="images/barcode.png"></p>
                </div>
                <div class="telegram_support">
                    <h1>TELEGRAM</h1>
                    <p><a href="#">@@MYWBCS1 : : CS1</a></p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Contact Section -->
<!-- Game Section -->
<div class="row casino_tabb_section ml0 mr0">
    <div class="container">
        <div class="casino_profile_wrapper">
            <div class="leftProfileButon">
                <ul>
                    <li><a class="tablinks_account active_tabaccount" onclick="openCity(event, 'livcasino')"><img src="images/livecasino_hover.png"> LIVE CASINO </a></li>
                    <li><a class="tablinks_account" onclick="openCity(event, 'slots')"><img src="images/slot_hover.png"> SLOT </a></li>
                    <li>
                        <a class="tablinks_account" onclick="openCity(event, 'sports')"><img src="images/sport_hover.png"> SPORTS </a>
                    </li>
                    <li><a class="tablinks_account" onclick="openCity(event, 'fishing')"><img src="images/fish_hover.png"> FISHING </a></li>
                </ul>
            </div>
            <div class="genaral_wrapp">
                <div id="livcasino" class="tabcontent_account" style="display: block;">
                    <div class="slider-nav slider">
                        <div>
                            <img class="hover_icons" src="images/carousel_logos/asia_color.png">
                        </div>
                        <div>
                            <img class="hover_icons" src="images/carousel_logos/dream_color.png">
                        </div>
                        <div>
                            <img class="hover_icons" src="images/carousel_logos/allbet_color.png">
                        </div>
                        <div>
                            <img class="hover_icons" src="images/carousel_logos/sexy_color.png">
                        </div>
                        <div>
                            <img class="hover_icons" src="images/carousel_logos/sa_color.png">
                        </div>
                        <div>
                            <img class="hover_icons" src="images/carousel_logos/playtech_color.png">
                        </div>
                        <div>
                            <img class="hover_icons" src="images/carousel_logos/wm_color.png">
                        </div>
                    </div>
                    <section class="slider-for slider">
                        <div>
                            <div class="row casino_wrapper_row ml0 mr0">
                                <div class="col-sm-8  pl0 pr0 ">
                                    <div class="casino_wrapper_left">
                                        <img src="images/asiagaming.jpg" alt="asiagaming" />
                                    </div>
                                </div>
                                <div class="col-sm-4 pl0 pr0">
                                    <div class="casino_wrapper_right">
                                        <div class="asia_girl_right">
                                            <img src="images/asia_girl_right.png" alt="asia_girl_right" />
                                        </div>
                                        <div class="ag_casino_btn">
                                            <a href="#">AG Casino</a>
                                        </div>
                                        <div class="play_now_btn">
                                            <a href="#"><img src="images/playnow.png" alt="playnow" /> Play Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div>
                                <img src="http://placehold.it/350x100?text=2">
                            </div>
                            <div>
                                <img src="http://placehold.it/350x100?text=3">
                            </div>
                            <div>
                                <img src="http://placehold.it/350x100?text=4">
                            </div>
                            <div>
                                <img src="http://placehold.it/350x100?text=5">
                            </div>
                            <div>
                                <img src="http://placehold.it/350x100?text=6">
                            </div>
                            <div>
                                <img src="http://placehold.it/350x100?text=7">
                            </div>*@
                    </section>
                </div>
                <div id="slots" class="tabcontent_account">
                    <div class="slider-nav slider">
                        <div>
                            <img class="hover_icons" src="images/carousel_logos/asia_color.png">
                        </div>
                        <div>
                            <img class="hover_icons" src="images/carousel_logos/dream_color.png">
                        </div>
                        <div>
                            <img class="hover_icons" src="images/carousel_logos/allbet_color.png">
                        </div>
                        <div>
                            <img class="hover_icons" src="images/carousel_logos/sexy_color.png">
                        </div>
                        <div>
                            <img class="hover_icons" src="images/carousel_logos/sa_color.png">
                        </div>
                        <div>
                            <img class="hover_icons" src="images/carousel_logos/playtech_color.png">
                        </div>
                        <div>
                            <img class="hover_icons" src="images/carousel_logos/wm_color.png">
                        </div>
                    </div>
                    <section class="slider-for slider">
                        <div>
                            <div class="row casino_wrapper_row ml0 mr0">
                                <div class="col-sm-8  pl0 pr0 ">
                                    <div class="casino_wrapper_left">
                                        <img src="images/asiagaming.jpg" alt="asiagaming" />
                                    </div>
                                </div>
                                <div class="col-sm-4 pl0 pr0">
                                    <div class="casino_wrapper_right">
                                        <div class="asia_girl_right">
                                            <img src="images/asia_girl_right.png" alt="asia_girl_right" />
                                        </div>
                                        <div class="ag_casino_btn">
                                            <a href="#">AG Casino</a>
                                        </div>
                                        <div class="play_now_btn">
                                            <a href="#"><img src="images/playnow.png" alt="playnow" /> Play Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div>
                                <img src="http://placehold.it/350x100?text=2">
                            </div>
                            <div>
                                <img src="http://placehold.it/350x100?text=3">
                            </div>
                            <div>
                                <img src="http://placehold.it/350x100?text=4">
                            </div>
                            <div>
                                <img src="http://placehold.it/350x100?text=5">
                            </div>
                            <div>
                                <img src="http://placehold.it/350x100?text=6">
                            </div>
                            <div>
                                <img src="http://placehold.it/350x100?text=7">
                            </div>*@
                    </section>
                </div>
                <div id="sports" class="tabcontent_account">
                    <div class="game_logo_sections">
                    </div>
                </div>
                <div id="fishing" class="tabcontent_account">
                    Fishings
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Game Section -->
<!-- Hot Game Section -->
<div class="row hot_game_section_wrap ml0 mr0">
    <div class="container">
        <div class="hot_game_section_title">
            <h1><img src="~/images/titleicon5.png" alt="titleicon5"><span> HOT GAMES </span></h1>
            <a href="~/Web/slots">More Games</a>
        </div>
        <div class="carousel-wrap">
            <div class="game_boxes_wrap owl-carousel">
                <div class="item">
                    <div class="game_boxes">
                        <img src="images/games_boxes1.png" alt="games_boxes1" />
                        <h1>5 Fortune Dragons</h1>
                        <p>Pragmatic Play</p>
                    </div>
                </div>
                <div class="item">
                    <div class="game_boxes">
                        <img src="images/games_boxes2.png" alt="games_boxes1" />
                        <h1>Brothers Kingdom</h1>
                        <p>Pragmatic Play</p>
                    </div>
                </div>
                <div class="item">
                    <div class="game_boxes">
                        <img src="images/games_boxes3.png" alt="games_boxes1" />
                        <h1>Zeus</h1>
                        <p>Pragmatic Play</p>
                    </div>
                </div>
                <div class="item">
                    <div class="game_boxes">
                        <img src="images/games_boxes4.png" alt="games_boxes1" />
                        <h1>Crazy Bomber</h1>
                        <p>Pragmatic Play</p>
                    </div>
                </div>
                <div class="item">
                    <div class="game_boxes">
                        <img src="images/games_boxes4.png" alt="games_boxes1" />
                        <h1>Crazy Bomber</h1>
                        <p>Pragmatic Play</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hot Game Section -->

<script>
    function openCity(evt, cityName) {
        var i, tabcontent_account, tablinks_account;
        tabcontent_account = document.getElementsByClassName("tabcontent_account");
        for (i = 0; i < tabcontent_account.length; i++) {
            tabcontent_account[i].style.display = "none";
        }
        tablinks_account = document.getElementsByClassName("tablinks_account");
        for (i = 0; i < tablinks_account.length; i++) {
            tablinks_account[i].className = tablinks_account[i].className.replace("active_tabaccount", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active_tabaccount";
    }
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/owl.carousel.min.js'></script>
<script src='https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js'></script>

<script type="text/javascript">
    $('.game_logo_sections .owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        autoplay: true,
        navText: [
            '<i class="fa fa-angle-left"></i>',
            '<i class="fa fa-angle-right"></i>'
        ],
        autoplay: true,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 4
            },
            1000: {
                items: 6
            }
        }
    });
    $('.game_boxes_wrap.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        navText: [
            '<i class="fa fa-angle-left"></i>',
            '<i class="fa fa-angle-right"></i>'
        ],
        autoplay: true,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 4
            },
            1000: {
                items: 4
            }
        }
    });
</script>
<script type="text/javascript">
    $('.slider-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        fade: true,
        asNavFor: '.slider-nav'
    });
    $('.slider-nav').slick({
        slidesToShow: 6,
        slidesToScroll: 1,
        asNavFor: '.slider-for',
        dots: false,
        autoplay: true,
        focusOnSelect: true,
        responsive: [
            {
                breakpoint: 992,
                settings: {
                    slidesToShow: 4,
                    slidesToScroll: 1,
                    infinite: true
                }
            },
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1
                }
            }
        ]
    });
</script>

<script>
    AllAnnouncementsCallAPI();
    setInterval(function () {
        if ($('#slider_promotion_div').children().length == 0)
            SetPromotionInMainPage()
    }, 200);
</script>