@page
@{
    ViewData["Title"] = "How to Join - Webet333 -🥇";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="annunce-section-wrap">
    <div class="container">
        <div class="annunce-section">
            <p class="annunce-title">
                <i class="fas fa-bullhorn"></i>
            </p>
            <p class="annunce-text">
                <marquee class="announcment-font" id="announcements"></marquee>
            </p>
            <div class="clear-fix"></div>
        </div>
    </div>
</div>

<section class="article_sec_wrap">
    <div class="about_us_wrap">
        <div class="container">
            <div class="account-reg pad-comman-fifteen white-bg-tab-panel">
                <h4 class="about-icon symbol mar-btm-ten">
                    <span class="lang" key="how_to_join">
                        HOW TO JOIN
                    </span>
                </h4>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="faq-content white-text">
                            <h5 class="title" style="color:#242424">Join us as member</h5>
                            <p class="pad-top-ten">To bet in , you need to create an account and join us as a member.</p>
                            <h5 class="title" style="color:#242424">Member</h5>
                            <ol class="promotion-note white-text" style="color:#242424">
                                <li>Login site, user can click "Register" to be our member.</li>
                                <li>When successful register</li>
                                <li>Then member can start login to visit our site.</li>
                                <li>At the moment, member can start deposit money by using our system to perform betting.</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="mar-comman"></div>
            </div>
        </div>
    </div>
</section>
<script>AllAnnouncementsCallAPI();</script>