@page
@{
    ViewData["Title"] = "Register - Webet333 -🥇";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<script>
    if (GetLocalStorage("currentUser") != null) {
        location.href = "/";
    }

    CheckMobileNumberIsVerifiedOnly();
</script>
<div class="annunce-section-wrap">
    <div class="container">
        <div class="annunce-section">
            <p class="annunce-title">
                <i class="fas fa-bullhorn"></i>
            </p>
            <p class="annunce-text">
                <marquee class="announcment-font" id="announcements"></marquee>
            </p>
            <div class="clear-fix"></div>
        </div>
    </div>
</div>

<section class="article_sec_wrap">
    <div class="about_us_wrap">
        <div class="container">
            <div class="account-reg pad-comman-fifteen white-bg-tab-panel">
                <h4 class="register symbol mar-btm-ten"><span class="lang" key="register">REGISTER</span></h4>
                <div role="form" method="post">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="info-form">
                                <p class="big-text mar-btm-ten">
                                    <strong>
                                        <span class="lang" key="account_information">
                                            ACCOUNT INFORMATION
                                        </span>
                                    </strong>
                                </p>
                                <div class="row form-group ml0 mr0">
                                    <label class="user-title col-md-3 pl0">
                                        <span class="lang" key="username">
                                            Username
                                        </span> :
                                    </label>
                                    <label class="user mendatory col-md-9 pl0">
                                        <input type="text" class="reg-form" placeholder="" id="txt_username" />
                                        <p class="star">*</p>
                                        <p class="note no-mar mar-btm-ten">
                                            <span class="lang" key="username_instruction">
                                                Username must contain a length of 7 charaters
                                            </span>
                                        </p>
                                    </label>
                                </div>

                                <div class="row form-group ml0 mr0">
                                    <label class="user-title col-md-3 pl0">Password :</label>
                                    <label class="lock mendatory col-md-9 pl0">
                                        <input type="password" class="reg-form" placeholder="" id="txt_password" />
                                        <p class="star">*</p>
                                        <p class="note no-mar mar-btm-ten">
                                            <span class="lang" key="password_instruction"> - Password must contain a length of 6 charaters</span>
                                        </p>
                                        <p class="note no-mar mar-btm-ten">
                                            <span class="lang" key="password_alpha_instruction"> - Password must be alphanumeric.</span>
                                        </p>
                                        <p class="note no-mar mar-btm-ten">
                                            <span class="lang" key="password_username_same"> - Password and username must be different.</span>
                                        </p>
                                    </label>
                                </div>

                                <div class="row form-group ml0 mr0">
                                    <label class="user-title col-md-3 pl0 lang" key="confirm_password">Confirm Password :</label>
                                    <label class="lock mendatory col-md-9 pl0">
                                        <input type="password" class="reg-form" placeholder="" id="txt_confirm_password" onkeyup="CheckPasswordMatch()">
                                        <p class="star">*</p>
                                        <label style="color:#ff0000;font-weight:bold" class="registrationFormAlert" id="divCheckPasswordMatch"> </label>
                                    </label>
                                </div>

                                <p class="big-text no-mar">
                                    <strong>
                                        <span class="lang" key="contact_details">
                                            CONTACT DETAILS
                                        </span>
                                    </strong>
                                </p>
                                <p class="note no-mar mar-btm-ten">
                                    <span class="lang" key="contact_instruction">
                                        Please enter valid phone number to received TAC number for activation account
                                    </span>
                                </p>
                                <div class="row form-group ml0 mr0">
                                    <label class="user-title col-md-3 pl0 lang" key="phone_number">Phone Number :</label>
                                    <label class="num mendatory col-md-9 pl0">
                                        <input type="number" p class="reg-form" placeholder="" id="txt_mobile_no" />
                                        <p class="star">*</p>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class=" col-sm-6">
                            <div class="info-form">
                                <p class="big-text mar-btm-ten">
                                    <strong><span class="lang">BASIC INFORMATION</span></strong>
                                </p>
                                <div class="row form-group ml0 mr0">
                                    <label class="user-title col-md-3 pl0 lang" key="nric_placeholder"> Full Name as NRIC</label>
                                    <label class="mar-btm-no user mendatory col-md-9 pl0">
                                        <input type="text" class="reg-form" placeholder="" value="" id="txt_name" />
                                        <p class="star">*</p>
                                    </label>
                                </div>

                                <p class="note no-mar lang" key="name_instruction">Registered name must match your bank account name for banking purpose.You wont able to change your name after registered</p>

                                <div class="row important_notice_register mr0 ml0">
                                    <!-- <div class="col-lg-2">&nbsp;</div> -->
                                    <div class="col-lg-10">
                                        <div class="info-form register-notice deposit-section pad-top-twentyfive" style="background-color: #fff; border-radius: 6px;">
                                            <div class="pad-lr-comman">
                                                <h6 class="info-notice">Important Notice</h6>
                                                <ol class="register-notes-list">
                                                    <li>Phone number is to retrieve your password when you are forgotten.</li>
                                                    <li>Any New rebate credit to your account, will get a SMS notification</li>
                                                    <li>Phone number is your identity, it is very important. please write a phone number you can receive SMS</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row ml0 mr0">
                        <div class="col-md-4 recaptcha" id="g-recaptcha1" data-callback="recaptchaCallback"></div>
                    </div>
                    <div class="checkbox">
                        <label class="tick-note accept_terms_wrap">
                            <input type="checkbox" value="0" class="accept_terms" id="term_condition_checkbox">
                            <span class="accept_terms lang" key="terms_condition_accept">I accept the Terms & Conditions , Privacy Policy and Age Verification Policy as published on this site.</span>
                        </label>
                    </div>
                    <div class="text-left mar-comman">
                        <button type="button" value="Submit" class="submit hand-curson" onclick="DoRegister();" id="submit_button">
                            <span class="lang " key="submit_button">SUBMIT</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback'></script>
<script type="text/javascript">
    AllAnnouncementsCallAPI();
    setTimeout(function () {

        $('.recaptcha').each(function () {
            grecaptcha.render(this.id, {
                'sitekey': '6LdVkwkUAAAAACeeETRX--v9Js0vWyjQOTIZxxeB',
                "theme": "light"
            });
        });

    }, 1000);

    function recaptchaCallback() {
        CapchaChecked = true
    }

</script>
