@page
@{ ViewData["Title"] = "Forget-Password";
    Layout = ""; }
<div id="comContent"></div>
<div id="mComContent">
    <!--<div class="loadingImage" style="z-index: 2147483643;"></div>-->

    <div id="success_snackbar">
        <div>
            <span><img class="Image" width="100px" height="100px" src="~/images/mobile/success.png" /></span>
        </div>
        <div class="message">
            <span id="SuccessMessage">
            </span>
        </div>
    </div>

    <div id="error_snackbar">
        <div>
            <span><img class="Image" width="100px" height="100px" src="~/images/mobile/Error.png" /></span>
        </div>
        <div class="message">
            <span id="ErrorMessage">
            </span>
        </div>
    </div>

    <script>
        document.body.classList.add("no-pad-top");
    </script>
    <div class="white-bg forget-pswd">
        <div class="container">
            <div class="info-form text-center">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="back-btn"><a onclick="loadPageLogin()" href="javascript:void(0);" rel="prefetch"><img class="tab-bankicon" src="~/images/mobile/BackArrow_svg.svg" alt="" /></a></div>
                    </div>
                    <div class="col-xs-8">
                        <h4 class="black-text lang">Reset Password</h4>
                    </div>
                </div>
                <div class="info-form text-left forgot-note"><span class="lang" key="forget_page_text"></span></div>
            </div>
        </div>
    </div>

    <div class="flexible-height login-height white-bg account-page-extra-padding">
        <div class="container" style="margin-bottom:100px;">
            <div class="reg_nav mar-top-15">
                <div class="loin-window">
                    <div class="row">
                        <div class="col-xs-12"><form><div class="form-group"><input type="number" data-translate="forgtopassword_placeholder" id="m_txt_mobile" tabindex="1" pattern="\d*" class="form-control" aria-describedby="emailHelp" autocomplete="new-password" placeholder="Enter Mobile"></div></form></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12"><button type="button" class="btn btn-primary login_btn join_btn no-mar-btm" onclick="DoForgotPassword()"><span class="lang" key="forgtopassworbutton">Reset Password</span></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-widget" id="footerWidget">
        <ul class="list-inline text-center">
            <li id="homePagebottom">
                <a onclick="loadPageHome()" href="javascript:void(0);" rel="prefetch">
                    <i class="fa fa-home"></i>
                    <p class="white-text no-mar" data-translate="menu_home">Home</p>
                </a>
            </li>
            <li id="promotionPagebottom" class="">
                <a onclick="loadPagePromotions()" href="javascript:void(0)" rel="prefetch">
                    <i class="fa fa-gift"></i>
                    <p class="white-text no-mar" data-translate="Promotion">Promotion</p>
                </a>
            </li>
            <li id="contactusPagebottom">
                <a onclick="loadPageContactus()" href="javascript:void(0)" rel="prefetch">
                    <i class="fa fa-user"></i>
                    <p class="white-text no-mar lang" key="contact_us">Contact Us</p>
                </a>
            </li>
            <li>
                <a href="#" onclick="whatsapp()">
                    <figure><img src="~/images/mobile/whatsapp.png" alt="Whats App" /></figure>
                    <p class="white-text no-mar">Whatsapp</p>
                </a>
            </li>
            <li>
                <a href="#" onclick="LiveChat()">
                    <figure><img src="~/images/mobile/livechat.png" alt="LiveChat" /></figure>
                    <p class="white-text no-mar" data-translate="Live_chat">Live Chat</p>
                </a>
            </li>
        </ul>
    </div>
    <div>
        <a id="mobileM8" style="display:none"></a>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".contact-us-btn,.contact-us-btn-footer").click(function () { $("#chatting").toggle(); });
        $(".contact-user").mouseover(function () { $("#chatting").toggle(); });
    });
</script>

<!-- Slider Section End -->
<!-- Modal For Video -->
<script type="text/javascript">
    $(document).ready(function () { $(".open-modal").click(); });
    jQuery(".scroll-down-visible").hide();
    jQuery("#more-arrow").click(function () {
        jQuery(".scroll-down-visible").toggleClass("show");
        jQuery("#more-arrow").toggleClass("rotate");
    });
</script>

<!-- //Modal For Video -->
<script type="text/javascript">
    $(document).ready(function () {
        $(".navbar-toggle,.canvas-overlay").click(function () {
            if (!$("html").hasClass('intro')) $("html").addClass("intro");
            else $("html").removeClass("intro");
        });
        $(".canvas-overlay").click(function () {
            if ($(".navbar-collapse").hasClass('in')) $(".navbar-collapse").removeClass("in");
        });
    });
</script>
<!-- Slider Section End -->
<script>
    $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        if (scroll >= 1) $("header").addClass("sticky-header");
        else $("header").removeClass("sticky-header");
    });
</script>

<script>
    function language(value) {
        SetLocalStorage('language', value);
        get();
    }

    function get() {
        (GetLocalStorage('language') === null) ? SetLocalStorage('language', 'en-US') : false;

        $.ajax({
            url: '../../resources/strings.' + GetLocalStorage('language') + '.json',
            dataType: 'json',
            async: false,
            success: function (lang) {
                $('.lang').each(function (index, element) {
                    if (localStorage.getItem("language") === "ms-MY") $('body').addClass('malay-font');
                    $(this).text(lang[$(this).attr('key')]);
                });
                $("[data-translate]").each(function () {
                    if ($(this).is("input")) $(this).attr('placeholder', lang[$(this).data("translate")]);
                    else $(this).text(lang[$(this).data("translate")]);
                });
            }
        });
        //announcementMobile();
    }

    setTimeout(() => { get(); }, 200);
</script>
