@page
@{ ViewData["Title"] = "Login";
    Layout = ""; }
<div id="comContent"></div>
<div id="mComContent">

    <script>
        document.body.classList.add("no-pad-top");
        $('body').css('padding-top', '0px');

        if (GetLocalStorage('currentUser') !== null) {
            loadPageHome({ backFrom: 'login' });
        }
    </script>
    <div class="page-title white-bg text-center logowithback no-pad-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div class="back-btn"><a onclick="loadPageHome({backFrom:'login'})" href="javascript:void(0);" rel="prefetch"><img class="tab-bankicon" src="~/images/mobile/BackArrow_svg.svg" alt="" /></a></div>
                </div>
                <div class="col-xs-8">
                    <img class="img-responsive" src="~/images/mobile/webet-main-logo.png" alt="Alternate Text" />
                </div>
            </div>
        </div>
    </div>
    <div class="black-bg text-center profile-area">
        <div class="container">
            <h4 class="white-text lang" key="mobile_login"></h4>
        </div>
    </div>
    <div class="login-height white-bg account-page-extra-padding">
        <div class="container">
            <div class="reg_nav">
                <div class="loin-window">
                    <div class="row row-flex mar-top-15">
                        <div class="col-xs-2"><figure><img src="../images/mobile/icon_login_user.png" alt="icon_login_user"></figure></div>
                        <div class="col-xs-10"><form><div class="form-group"><input type="text" id="m_txt_username" autocomplete="new-password" tabindex="1" class="form-control" aria-describedby="emailHelp" placeholder="Username" data-translate="username_placeholder"></div></form></div>
                    </div>
                    <div class="row row-flex">
                        <div class="col-xs-2"><figure><img src="~/images/mobile/icon_login_key.png" alt="icon_login_key"></figure></div>
                        <div class="col-xs-10"><form><div class="form-group"><input type="password" data-translate="password_placeholder" id="m_txt_password" tabindex="2" onkeypress="DoLoginOnEnter()" class="form-control" aria-describedby="emailHelp" autocomplete="new-password" placeholder="Password"></div></form></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-2 col-xs-10">
                            <div class="row row-flex remember-fill">
                                <input type="checkbox" id="m_rember_me" tabindex="3">
                                <label title="Unchecked state" class="keep-log" for="chk1"><span class="lang" key="remember">Remember Me</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12"><button type="button" onclick="DoLogin()" tabindex="4" class="submit btn btn-primary login_btn join_btn"><span class="lang" key="login"></span></button></div>
                        <p class="text-center forgot-psw"><a onclick="loadPageForgetpassword()"><span class="lang" key="forgot_pasword"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="row mar-15-cmn">
                <div class="col-sm-12">
                    <p class="text-center" style="font-size: 10px;">Do not have an account yet? Click <a onclick="loadPageRegister()"><span class="lang" key="register">HERE</span></a> to register.</p>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".contact-us-btn,.contact-us-btn-footer").click(function () {
            $("#chatting").toggle();
        });
        $(".contact-user").mouseover(function () {
            $("#chatting").toggle();
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".open-modal").click();
    });
    jQuery(".scroll-down-visible").hide();
    jQuery("#more-arrow").click(function () {
        jQuery(".scroll-down-visible").toggleClass("show");
        jQuery("#more-arrow").toggleClass("rotate");
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".navbar-toggle,.canvas-overlay").click(function () {
            if (!$("html").hasClass('intro')) {
                $("html").addClass("intro");
            }
            else {
                $("html").removeClass("intro");
            }
        });
        $(".canvas-overlay").click(function () {
            if ($(".navbar-collapse").hasClass('in')) {
                $(".navbar-collapse").removeClass("in");
            }
        });
    });
</script>
<!-- Slider Section End -->
<script>
    $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        if (scroll >= 1) {
            $("header").addClass("sticky-header");
        }
        else {
            $("header").removeClass("sticky-header");
        }
    });
</script>

<script>
    function get() {
        (GetLocalStorage('language') === null) ? SetLocalStorage('language', 'en-US') : false;

        $.ajax({
            url: '../../resources/strings.' + GetLocalStorage('language') + '.json',
            dataType: 'json',
            async: false,
            success: function (lang) {
                $('.lang').each(function (index, element) {
                    if (localStorage.getItem("language") === "ms-MY") {
                        $('body').addClass('malay-font');
                    }
                    $(this).text(lang[$(this).attr('key')]);
                });
                $("[data-translate]").each(function () {
                    if ($(this).is("input")) {
                        $(this).attr('placeholder', lang[$(this).data("translate")]);
                    } else {
                        $(this).text(lang[$(this).data("translate")]);
                    }
                });
            }
        });
    }
    setTimeout(() => {
        get();
        load_em();
    }, 200);
</script>