@page
@{ ViewData["Title"] = "Slots";
    Layout = ""; }
<div id="comContent"></div>
<div id="mComContent">
    <div class="account-reg pad-comman-fifteen white-bg-tab-panel white-bg radius-border" style="height:auto !important;padding-bottom:70px">
        <!-- <div class="info-form text-center">
            <div class="row">
                <div class="col-xs-2">
                    <div class="back-btn"><a onclick="loadPageHome({backFrom:'slots'})" href="javascript:void(0);" rel="prefetch"><img class="tab-bankicon" src="~/images/mobile/BackArrow_svg.svg" alt="" /></a></div>
                </div>
            </div>
        </div> -->
        <div class="head-img-icon">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#playtech" data-toggle="tab"><img src="images/carousel_logos/playtech_color.png" alt="logo" /></a></li>
                <li><a href="#pragmatic" data-toggle="tab"><img src="images/carousel_logos/pragmatic_color.png" alt="logo" /></a></li>
            </ul>
            <div class="tab-content">
                <div id="playtech" class="tab-pane fade in active">
                    <div class="menu-list-area">
                        <ul class="nav nav-pills">
                            <li class="active"><a data-toggle="pill" href="#all">All</a></li>
                            <li><a data-toggle="pill" href="#hot">Hot</a></li>
                            <li><a data-toggle="pill" href="#new">New</a></li>
                            <li><a data-toggle="pill" href="#arcade">Arcade</a></li>
                            <li><a data-toggle="pill" href="#slot">slot</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="all" class="tab-pane fade in active">
                              <ul>
                                <li>
                                    <figure>
                                        <a href=""><img src="http://images.webet333.com/playtechnew/dnr.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="http://images.webet333.com/playtechnew/pop_sw_fr_skw.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="http://images.webet333.com/playtechnew/gpas_nsshen_pop.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="http://images.webet333.com/playtechnew/gpas_extrfruits_pop.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="http://images.webet333.com/playtechnew/wotp.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="http://images.webet333.com/playtechnew/xufe.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                              </ul>
                            </div>
                            <div id="hot" class="tab-pane fade">
                                <ul>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                </ul>
                            </div>
                            <div id="new" class="tab-pane fade">
                                <ul>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                </ul>
                            </div>
                            <div id="arcade" class="tab-pane fade">
                                <ul>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                </ul>
                            </div>
                            <div id="slot" class="tab-pane fade">
                                <ul>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pragmatic" class="tab-pane fade">
                    <div class="menu-list-area">
                        <ul class="nav nav-pills">
                            <li class="active"><a data-toggle="pill" href="#all1">All</a></li>
                            <li><a data-toggle="pill" href="#hot1">Hot</a></li>
                            <li><a data-toggle="pill" href="#new1">New</a></li>
                            <li><a data-toggle="pill" href="#arcade1">Arcade</a></li>
                            <li><a data-toggle="pill" href="#slot1">slot</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="all1" class="tab-pane fade in active">
                              <ul>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                              </ul>
                            </div>
                            <div id="hot1" class="tab-pane fade">
                                <ul>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                <li>
                                    <figure>
                                        <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                    </figure>
                                    <p><a href="">cracy bomber</a></p>  
                                </li>
                                </ul>
                            </div>
                            <div id="new1" class="tab-pane fade">
                                <ul>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                </ul>
                            </div>
                            <div id="arcade1" class="tab-pane fade">
                                <ul>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                </ul>
                            </div>
                            <div id="slot1" class="tab-pane fade">
                                <ul>
                                    <li>
                                        <figure>
                                            <a href=""><img src="images/carousel_logos/pragmatic_color.png" alt=""></a>
                                        </figure>
                                        <p><a href="">cracy bomber</a></p>  
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-widget" id="footerWidget">
        <ul class="list-inline text-center">
            <li id="homePagebottom">
                <a onclick="loadPageHome()" href="javascript:void(0);" rel="prefetch">
                    <i class="fa fa-home"></i>
                    <p class="white-text no-mar" data-translate="menu_home">Home</p>
                </a>
            </li>
            <li id="promotionPagebottom" class="">
                <a onclick="loadPagePromotions()" href="javascript:void(0)" rel="prefetch">
                    <i class="fa fa-gift"></i>
                    <p class="white-text no-mar" data-translate="Promotion">Promotion</p>
                </a>
            </li>
            <li id="contactusPagebottom">
                <a onclick="loadPageContactus()" href="javascript:void(0)" rel="prefetch">
                    <i class="fa fa-user"></i>
                    <p class="white-text no-mar lang" key="contact_us">Contact Us</p>
                </a>
            </li>
            <li>
                <a href="#" onclick="whatsapp()">
                    <figure><img src="~/images/mobile/whatsapp.png" alt="Whats App" /></figure>
                    <p class="white-text no-mar">Whatsapp</p>
                </a>
            </li>
            <li class="live-chat">
                <a class="live-chat-icon"><p class="white-text no-mar" data-translate="Live_chat">Live Chat</p></a>
            </li>
        </ul>
    </div>
    <div>
        <a id="mobileM8" style="display:none"></a>
    </div>

</div>

<script type="text/javascript">
    var OnlineHelpAPI = OnlineHelpAPI || {}; (function (t) { function e(e) { var a = document.createElement("script"), c = document.getElementsByTagName("script")[0]; a.type = "text/javascript", a.async = !0, a.src = e + t.site_id, c.parentNode.insertBefore(a, c) } t.chat_buttons = t.chat_buttons || [], t.chat_buttons.push({ code_plan: "a9010000-0000-0000-0000-008e000391c3", div_id: "onlinehelp-button-a9010000-0000-0000-0000-008e000391c3" }), t.site_id = 233923, t.main_code_plan = "a9010000-0000-0000-0000-008e000391c3", e("https://vue.livelyhelp.chat/livechat.ashx?siteId="), setTimeout(function () { t.loaded || e("https://vue1.livelyhelp.chat/livechat.ashx?siteId=") }, 5e3) })(OnlineHelpAPI || {})
</script>
<script>
    $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        if (scroll >= 1) {
            $(".account-reg").addClass("sticky-gamemenu");
        }
        else {
            $(".account-reg").removeClass("sticky-gamemenu");
        }
    });
</script>