<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a routerLink="/admin/customers/rebate-list">RebateList</a>
    </li>
    <li class="breadcrumb-item">
        Rebate Calculate
    </li>
</ol>
<div class="my-container">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-4">
                    <legend class="main-title">Turnover Rebate</legend>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row col-12">


                <div class="p-2 col-md-2" id="fromDate">
                    <h4 class="text-muted text-thin">From Date</h4>
                    <div class="input-group">
                        <input class="form-control" [owlDateTime]="dt2"  placeholder="Date Time" type="text" id="txt_fromdatetime">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" [owlDateTimeTrigger]="dt2" type="button"></button>
                        </div>
                        <owl-date-time  #dt2></owl-date-time>
                    </div>
                </div>
                <div class="p-2 col-md-2" id="toDate">
                    <h4 class="text-muted text-thin">To Date</h4>
                    <div class="input-group">
                        <input class="form-control" type="datetime" [owlDateTime]="dt1"  placeholder="Date Time" type="text" id="txt_todatetime">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" [owlDateTimeTrigger]="dt1" type="button"></button>
                        </div>
                        <owl-date-time #dt1></owl-date-time>
                    </div>
                </div>



                <div class="p-2 col-md-2">
                    <h4 class="text-muted text-thin">Rebate <span class="required"> * </span></h4>
                    <input class="form-control" type="number" id="txt_rebate">
                </div>
                <div class="p-2 col-md-2">
                    <h4 class="text-muted text-thin">Game Category <span class="required"> * </span></h4>
                    <select class="form-control" id="gameCategory">
                        <option *ngFor="let c of listType" [ngValue]="c">{{c.Category}}</option>
                    </select>
                </div>
                <div class="p-2 col-md-2">
                    <h4 class="text-muted text-thin">&nbsp;</h4>
                    <button class="mb-1 btn btn-success" (click)='Calculate()' type="button" style="position:absolute;font-weight:bolder;font-size:large">Calculate</button>
                </div>
                <div class="p-2 col-md-2" style="position:absolute;right:0px;margin-top:35px">
                    <button id="acceptBtn" class="mb-1 btn btn-success" type="button" (click)='Rebate()' [disabled]="disable" data-toggle="modal" style="position:absolute;right:0px;font-weight:bolder;font-size:large">Rebate</button>
                </div>
            </div>

            <ngx-datatable class="material bootstrap no-detail-row" #table [rows]="rows" [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="7" [loadingIndicator]="loadingIndicator">

            </ngx-datatable>
            <div class="row col-12">
                <div>
                    <label><b>Total Comm Amount:   </b>{{TotolCommAmount}} </label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <label><b>Total Turnover Amount:   </b> {{TotolTurnoverAmount}} </label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <label><b>Total Bet  Amount:     </b> {{TotolBetAmount}} </label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <label><b>Total Rolling Amount:    </b>{{TotolRollingAmount}} </label>&nbsp;&nbsp;&nbsp;&nbsp;
                    <label><b>Total Win Lose Amount:     </b>{{TotolWinloseAmount}} </label>

                </div>
            </div>
        </div>
    </div>
</div>



