.topnavbar .navbar-nav > .nav-item > .nav-link, .topnavbar .navbar-nav > .nav-item.show > .nav-link {
    transition: all 0.2s;
    background-color: #f47d3a;
    box-shadow: 0 -3px 0 #F5F7FA inset;
}

.topnavbar .navbar-nav > .nav-item > .nav-link, .topnavbar .navbar-nav > .nav-item.show > .toggle {
    transition: all 0.2s;
    background-color: #0B1729;
    box-shadow: 0 -3px 0 #F5F7FA inset;
}

.topnavbar .navbar-nav > .nav-item > .nav-link, .topnavbar .navbar-nav > .nav-item.show > .nav-link {
    color: #fff;
}