<div class="my-container">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-4">
                    <legend class="main-title">Game Maintenance</legend>
                </div>
            </div>
        </div><br /><br /><br />
        <div class="row ">
            <div class="container col-12 offset-2">
                <div class="col-lg-12" style="display:inline-flex">
                    <div class="col-lg-2">
                        <div>
                            <h3>Joker</h3>
                        </div>
                        <div>
                            <ui-switch [checked]="jokerMainteance" (change)="WalletMaintenanceUpdate(jokerId,$event)"></ui-switch>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div>
                            <h3>Playtech</h3>
                        </div>
                        <div>
                            <ui-switch [checked]="PlaytechMainteance" (change)="WalletMaintenanceUpdate(PlaytechId,$event)"></ui-switch>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div>
                            <h3>918 Kiss</h3>
                        </div>
                        <div>
                            <ui-switch [checked]="Kiss918Mainteance" (change)="WalletMaintenanceUpdate(Kiss918Id,$event)"></ui-switch>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div>
                            <h3>Max Bet</h3>
                        </div>
                        <div>
                            <ui-switch [checked]="MaxBetMainteance" (change)="WalletMaintenanceUpdate(MaxBetId,$event)"></ui-switch>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div>
                            <h3>AG</h3>
                        </div>
                        <div>
                            <ui-switch [checked]="AGMainteance" (change)="WalletMaintenanceUpdate(AGId,$event)"></ui-switch>
                        </div>
                    </div>
                </div>

            </div>
        </div><br /><br /><br />
        <div class="row ">
            <div class="container col-12 offset-2">
                <div class="col-lg-12" style="display:inline-flex">
                    <div class="col-lg-2">
                        <div>
                            <h3>M8</h3>
                        </div>
                        <div>
                            <ui-switch [checked]="M8Mainteance" (change)="WalletMaintenanceUpdate(M8Id,$event)"></ui-switch>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div>
                            <h3>Mega888</h3>
                        </div>
                        <div>
                            <ui-switch [checked]="Mega888Mainteance" (change)="WalletMaintenanceUpdate(Mega888Id,$event)"></ui-switch>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div>
                            <h3>DG</h3>
                        </div>
                        <div>
                            <ui-switch [checked]="DGMainteance" (change)="WalletMaintenanceUpdate(DGId,$event)"></ui-switch>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div>
                            <h3>Sexy Baccarat</h3>
                        </div>
                        <div>
                            <ui-switch [checked]="SexyMainteance" (change)="WalletMaintenanceUpdate(SexyId,$event)"></ui-switch>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div>
                            <h3>SA</h3>
                        </div>
                        <div>
                            <ui-switch [checked]="SAMainteance" (change)="WalletMaintenanceUpdate(SAId,$event)"></ui-switch>
                        </div>
                    </div>
                </div>

            </div>
        </div><br /><br /><br />
        <div class="row ">
            <div class="container col-12 offset-2">
                <div class="col-lg-12" style="display:inline-flex">
                    <div class="col-lg-1">
                    </div>

                    <div class="col-lg-2">
                        <div>
                            <h3>Pussy888</h3>
                        </div>
                        <div>
                            <ui-switch [checked]="Pussy888Mainteance" (change)="WalletMaintenanceUpdate(Pussy888Id,$event)"></ui-switch>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div>
                            <h3>AllBet</h3>
                        </div>
                        <div>
                            <ui-switch [checked]="AllBetMainteance" (change)="WalletMaintenanceUpdate(AllBetId,$event)"></ui-switch>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div>
                            <h3>WM</h3>
                        </div>
                        <div>
                            <ui-switch [checked]="WMMainteance" (change)="WalletMaintenanceUpdate(WMId,$event)"></ui-switch>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div>
                            <h3>Pragmatic</h3>
                        </div>
                        <div>
                            <ui-switch [checked]="PragmaticMainteance" (change)="WalletMaintenanceUpdate(PragmaticId,$event)"></ui-switch>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--<div class="row ">
            <div class="container col-10 offset-2">
                <div class="col-lg-10" style="display:inline-flex">

                </div>
            </div>
        </div><br /><br /><br />-->
    </div>
</div>





<div class="my-container">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-4">
                    <legend class="main-title">Game Maintenance</legend>
                </div>
            </div>
        </div><br /><br /><br />
        <div class="row ">
            <div class="container col-12 offset-2">
                <div class="col-lg-12" style="display:inline-flex">
                    <div class="col-lg-2 offset-lg-4">
                        <div>
                            <h3>Vader Pay</h3>
                        </div>
                        <div>
                            <ui-switch [checked]="VaderPayMainteance" (change)="VaderPayMaintenanceUpdate($event)"></ui-switch>
                        </div>
                    </div>
                </div>

            </div>
        </div><br /><br /><br />
    </div>
</div>





