<div class="my-container">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-4">
                    <legend class="main-title">SBO Player Default Bet Limit</legend>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <form class="text-center border border-light">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="col-md-12 table-responsive">
                                        <div style="font-weight:500; font-size:20px;">Football</div>
                                        <fieldset style="border-width:2px; border-style:groove; border-color:threedface; border-image:initial;">
                                            <legend style="display:flex; width:auto; margin-left:30px; text-align:left;">Match Type</legend>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <td></td>
                                                        <td>Other Match Type</td>
                                                        <td>Over_Under</td>
                                                        <td>Correct_Score</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>MinBet</td>
                                                        <td><input class="form-control" id="Football_OthersMatchType_MinBet" type="number" value="{{playerDefaultBetLimit.Football_OthersMatchType_MinBet}}" /></td>
                                                        <td><input class="form-control" id="Football_OverUnder_MinBet" type="number" value="{{playerDefaultBetLimit.Football_OverUnder_MinBet}}" /></td>
                                                        <td><input class="form-control" id="Football_CorrectScore_MinBet" type="number" value="{{playerDefaultBetLimit.Football_CorrectScore_MinBet}}" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td>MaxBet</td>
                                                        <td><input class="form-control" id="Football_OthersMatchType_MaxBet" type="number" value="{{playerDefaultBetLimit.Football_OthersMatchType_MaxBet}}" /></td>
                                                        <td><input class="form-control" id="Football_OverUnder_MaxBet" type="number" value="{{playerDefaultBetLimit.Football_OverUnder_MaxBet}}" /></td>
                                                        <td><input class="form-control" id="Football_CorrectScore_MaxBet" type="number" value="{{playerDefaultBetLimit.Football_CorrectScore_MaxBet}}" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td>MaxBet/Match</td>
                                                        <td><input class="form-control" id="Football_OthersMatchType_MaxBetMatch" type="number" value="{{playerDefaultBetLimit.Football_OthersMatchType_MaxBetMatch}}" /></td>
                                                        <td><input class="form-control" id="Football_OverUnder_MaxBetMatch" type="number" value="{{playerDefaultBetLimit.Football_OverUnder_MaxBetMatch}}" /></td>
                                                        <td><input class="form-control" id="Football_CorrectScore_MaxBetMatch" type="number" value="{{playerDefaultBetLimit.Football_CorrectScore_MaxBetMatch}}" /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </fieldset>
                                    </div>

                                    <div class="col-md-12 table-responsive">
                                        <div style="font-weight:500; font-size:20px;">Others Sport</div>
                                        <fieldset style="border-width:2px; border-style:groove; border-color:threedface; border-image:initial;">
                                            <legend style="display:flex; width:auto; margin-left:30px; text-align:left;">Match Type</legend>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <td></td>
                                                        <td>Other Match Type</td>
                                                        <td>Over_Under</td>
                                                        <td>Correct_Score</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>MinBet</td>
                                                        <td><input class="form-control" id="OthersSport_OthersMatchType_MinBet" type="number" value="{{playerDefaultBetLimit.OthersSport_OthersMatchType_MinBet}}" /></td>
                                                        <td><input class="form-control" id="OthersSport_OverUnder_MinBet" type="number" value="{{playerDefaultBetLimit.OthersSport_OverUnder_MinBet}}" /></td>
                                                        <td><input class="form-control" id="OthersSport_CorrectScore_MinBet" type="number" value="{{playerDefaultBetLimit.OthersSport_CorrectScore_MinBet}}" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td>MaxBet</td>
                                                        <td><input class="form-control" id="OthersSport_OthersMatchType_MaxBet" type="number" value="{{playerDefaultBetLimit.OthersSport_OthersMatchType_MaxBet}}" /></td>
                                                        <td><input class="form-control" id="OthersSport_OverUnder_MaxBet" type="number" value="{{playerDefaultBetLimit.OthersSport_OverUnder_MaxBet}}" /></td>
                                                        <td><input class="form-control" id="OthersSport_CorrectScore_MaxBet" type="number" value="{{playerDefaultBetLimit.OthersSport_CorrectScore_MaxBet}}" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td>MaxBet/Match</td>
                                                        <td><input class="form-control" id="OthersSport_OthersMatchType_MaxBetMatch" type="number" value="{{playerDefaultBetLimit.OthersSport_OthersMatchType_MaxBetMatch}}" /></td>
                                                        <td><input class="form-control" id="OthersSport_OverUnder_MaxBetMatch" type="number" value="{{playerDefaultBetLimit.OthersSport_OverUnder_MaxBetMatch}}" /></td>
                                                        <td><input class="form-control" id="OthersSport_CorrectScore_MaxBetMatch" type="number" value="{{playerDefaultBetLimit.OthersSport_CorrectScore_MaxBetMatch}}" /></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </fieldset>
                                    </div>

                                    <span class="col-md-4 mb-4">
                                        <button class="btn btn-info" style="text-align: center;font-size: 20px" type="submit" (click)="Update()">Save</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>