body                                        { background-color: #ffffff; padding-top: 40px; }
.scroll-content .join-now-section .myr-quote { margin-top: 10px; }
.transfer-header                            { background-color: #feb801; }
.menu-main-wallet,
.menuwallet                                 { color: #000000; }
.menuwallet > .btn-default                  { margin-left: 10px;}
.black-bg                                   { background-color: #232323; }
.promotion-title                            { padding: 10px; margin-top: 9px;}
.promotion-title h4                         { text-transform: uppercase; }
.margin-promotion                           { margin-top: 0px; }
#afterlogin_mobile .navbar-header.mob-layout > li { width: 50%;}
.navbar-toggle .icon-bar                    { width: 15px; }
.navbar-toggle                              { padding: 7px; }
.navbar-brand .logo                         { margin-top: 5px; max-width: 150px;}
.mob-layout > ul                            { padding: 2px 0px; }
.navbar-header .dropdown-menu               { min-width: 200px; }
.announcment-font                           { font-size: 12px; }
#comm100-float-button-2 > div               { right: calc(10% - 10px) !important;}
/* Sidebar */
.sidebar                                    { height: 100%; }
.nav.mob-menu > li > a                      { color: #feb801; cursor: pointer;}
.nav.mob-menu > li > a > img                { max-width: 40px; }
/* Header */
.navbar-header.mob-layout                   { box-shadow: 0px 0px 5px #333; }
.navbar-default                             { background: #ffffff;}
.mob-layout.navbar-header .navbar-toggle    { margin-left: 10px; }
.navbar-default .navbar-toggle              { background: #feb801; border-radius: 5px;}
.navbar-default .navbar-toggle .icon-bar    { background: #2b2b2b; }
.navbar-default .navbar-toggle:hover        { background: #ffc52d;}
.dropdown-toggle.wallet img                 { max-width: 30px;}
.wallet-dropdown > li:nth-child(odd)        { background: #232323; padding: 10px 5px; }
.wallet-dropdown > li:nth-child(odd) ul     { margin: 0; }
.wallet-dropdown > li:nth-child(even) ul    { background: #2a2a2a; padding: 10px 0px; margin: 0 10px; }
.wallet-dropdown > li                       { margin: 0px; background: #232323; }
.dropdown .dropdown-menu                    { padding: 0px;max-height: calc(100vh - 250px);overflow-y: scroll;background-color:#232323}
.mob-layout .dropdown .btn                  { box-shadow: none;padding: 0;margin-right: 6px;}
.wallet-dropdown > li                       { color: #ffffff; }
.scroll-content                             {padding-bottom: 0px;overflow: hidden;}
.body-content                               { padding-bottom: 70px;}
.join-now-section .account-icon             { display: flex; justify-content: space-around; padding-bottom: 10px;}
.join-now-section .account-icon > li        { width: calc(100% / 5 - 5px);}
.join-now-section                           { padding-bottom: 0px;}
.login-join-btn-row                         { margin-bottom: 0px; background: #1d1d1d; padding: 10px 0px 10px; display: flex; 
                                            justify-content: center; }
.login-join-btn-row .btn                    { padding: 10px 40px 10px 30px; border-radius: 30px; color: #ffffff; transition: 0.5s; width: 43%;
                                            border-bottom: 1px solid #8f0000; position: relative; text-transform: uppercase; margin: 0 5px;
                                            max-width: 175px;outline:0px; }
.login-join-btn-row .btn:hover,
.login-join-btn-row .btn:focus              {border:0px;outline:none;}
.login-join-btn-row .btn:before             { content: ''; display: block; left: 15px; top: 50%; transform: translateY(-50%); width: 15px; 
                                            height: 12px; position: absolute; background: no-repeat center center / cover; }
.login-join-btn-row .btn-success:hover      { background: #ffffff; color: #8f0000;}
.login-join-btn-row .btn.login-btn:hover    { background: #ffffff; color: #956b00;}
.login-join-btn-row .btn.login-btn          { border-bottom: 1px solid #a17400; background: #feb801; color: #956b00; outline: none; }
.login-join-btn-row .btn.login-btn:before   { background-image: url(../../images/mobile/login.png); }
.login-join-btn-row .btn.join-btn:before    { background-image: url(../../images/mobile/signup.png); }
.join-btn                                   { background: #dd1616; }
.login-join-btn-row .btn:after              { content: ''; display: block; right: 5px; top: -10px; width: 40px; height: 50px; 
                                            position: absolute; background: no-repeat center center / cover; filter: drop-shadow(2px 0px 2px #000);}
.login-join-btn-row .btn.login-btn:after    { background-image: url(../../images/mobile/login_image.png); width: 50px; 
                                            background-size: contain; right: 0px; }
.login-join-btn-row .btn.join-btn:after     { background-image: url(../../images/mobile/signup_image.png); }

/*  */
.myr-quote                                  { background: #feb801; color: #000000; width: 100%; margin: 0; border-radius: 0px;}
.account-icon                               { width: 100%; margin: 0px; border-radius: 0px; background: #000000;}
.account-icon > li                          { padding: 5px; border: 1px solid #feb801; border-radius: 5px; }
.account-icon > li:hover                    { background: #feb801; }
.myr-quote h4 span,
.account-icon > li:hover a span             { color: #000000;}
.account-icon li a span                     { color: #feb801;}

.game-tab-panel.nav-pills > li.active > a, 
.game-tab-panel.nav-pills > li.active > a:focus, 
.game-tab-panel.nav-pills > li.active > a:hover { background-color: transparent; }
.game-tab-panel                             { display: flex; justify-content: space-between; background: #000; }
.game-tab-panel li                          { background: #2a2a2a; width: calc(100% / 4); text-align: center;position: relative; }
.game-tab-panel li:before                   { content: '\f0de'; display: block; left: 50%; transform: translateX(-50%); width: 0; height: 0px; 
                                            position: absolute; bottom: 10px; font-family: fontAwesome; font-weight: 400; }
.game-tab-panel li.active:before,
.game-tab-panel li:hover:before             { color: #ffffff;}
.game-tab-panel li a                        { color: #525252; padding: 35px 0px 5px 0px; display: block; }
.game-tab-panel li:hover a                  { color: #ffffff; border: 0px;}
.game-tab-panel li:not(:last-child)         { border-right: 1px solid #151515; }
.casino a,.sport a,.slot a,.fishing a		{ position: relative;}
.nav-tabs > li.casino.active a,
.nav-tabs > li.sport.active a,
.nav-tabs > li.slot.active a,
.nav-tabs > li.fishing.active a            { background: transparent; border: 0px; color: #ffffff; }
.casino a:before,.sport a:before,.slot a:before,
.fishing a:before                           { content: ""; display: block; top: 5px; left: 50%; transform: translateX(-50%); 
                                            background: no-repeat center center / 100%; width: 30px; height: 30px; position: absolute; }
.casino a:before                            { background-image: url(../../images/mobile/casino.png);}
.casino.active a:before, .casino.active:hover a:before,
.casino:hover a:before                      { background-image: url(../../images/mobile/casino_hover.png); filter: drop-shadow(10px 10px 6px black); }
.sport a:before                             { background-image: url(../../images/mobile/sport.png);}
.sport.active a:before, .sport.active:hover a:before,
.sport:hover a:before                       { background-image: url(../../images/mobile/sport_hover.png); filter: drop-shadow(10px 10px 6px black); }
.slot a:before                              { background-image: url(../../images/mobile/slot.png);}
.slot.active a:before, .slot.active:hover a:before,
.slot:hover a:before                        { background-image: url(../../images/mobile/slot_hover.png); filter: drop-shadow(10px 10px 6px black); }
.fishing a:before                           { background-image: url(../../images/mobile/fish.png);}
.fishing.active a:before, .fishing.active:hover a:before,
.fishing:hover a:before                     { background-image: url(../../images/mobile/fish_hover.png); filter: drop-shadow(10px 10px 6px black); }
/* Middle Area */
.annunce-title img                          { max-width: 20px; margin-right: 5px;}
.annunce-section                            { padding-top: 10px; padding-bottom: 0px; margin-bottom: 0px;}
.game-series                                { display: flex; flex-wrap: wrap; justify-content: flex-start; margin-top: 5px; }
.game-series li                             { width: calc(100% / 3); padding: 0 5px; margin: 0px 0px 10px; text-align: center; }
.game-series li img                         { width: 100%; transform: scale(1); max-width: 100px; }
.tab-area                                   { background: #ffffff; padding-bottom: 25px; }
.game-title                                 { padding: 10px 5px 5px; font-size: 11px; line-height: 10px; background: #fff; border-radius: 30px;
                                            box-shadow: 0px 5px 5px #ccc; display: block; color: #000; margin-top: -10px; border: 0px; 
                                            width: 100%; }
/*.hero-banner .slick-initialized .slick-slide { height: 100px;}*/
/* Footer */
.footer-widget                              { background-image: linear-gradient(to bottom right,#ffb701 ,#ff9600);}
.footer-widget ul                           { padding: 0px;}
.footer-widget ul li                        { transition: 0.5s; position: relative; padding: 10px 0px; width: 20%;}
.footer-widget ul li.active-link            { background-color: #ffc52c;}
.footer-widget ul li:before                 { content: ''; display: block; top: 0; width: 0px; height: 5px; background: #8e5502; position: absolute;
                                            transition-timing-function: linear; transition-duration: 0.4s;}
.footer-widget ul li.active-link:before  { width: 100%; }

.footer-widget ul li a                      { color: #fff3d2; transition: 0.5s; display: block;text-transform:capitalize; }
.footer-widget ul li i                      { font-size: 25px; line-height: 30px;}
.footer-widget ul li.active-link a,
.footer-widget ul li.active-link a .white-text { color: #8e5502;}
.footer-widget ul li:last-child             { display: block; }
.footer-widget ul li:last-child,
.live-chat                                  { position: relative; transform: unset; padding-top: 11px; bottom: unset; top: unset; right: unset; }
.live-chat:after                            { content:''; transition: 0.5s; width: 22px; height: 28px; position: absolute; top: 12px; left: 50%; 
                                            transform: translateX(-50%); }
/* Deposite */
.transfer-wallet-div                        { font-size: 12px; line-height: 16px; }
.fright.mendatory.black-text p              { background: #feb801; }
.fake-upload-btn.upload-btn                 { background: linear-gradient(to bottom, #ffb701 0%, #f90 102%); }
.history-tabs .nav-tabs                     { background: transparent; padding-bottom: 10px;; }
.info-form.history-tabs .nav > li.active > a,
.history-tabs .nav-tabs > li.active > a, 
.history-tabs .nav-tabs > li.active > a:focus, 
.history-tabs .nav-tabs > li.active > a:hover { background-color: #feb801; }
.game-name > p                              { color: #feb801; }
.info-form.history-tabs .nav > li > a       { background: #dcdcdc; }
.turnover-show > label                      { font-size: 11px; line-height: 16px; }
.turnover-show > label:first-child          { margin-top: 5px; margin-bottom: 0px; }
.account-reg .turnover-show label:last-child { font-size: 13px; line-height: 18px; }
.transfer-wallet                            { padding: 5px 10px; }
.transfer-wallet-div .btn-default-border    { font-size: 12px; padding: 3px 9px; }
.account-reg                                { margin-bottom: 20px; }
#Deposit .deposit-section.info-form         { padding-bottom: 50px; }
.profile-area                               { background-color: #000000; margin: 0px; }
.profile-area h4                            { padding: 15px;}
.account-page-extra-padding                 { padding-bottom: 40px !important;}
.profile-page.account-page-extra-padding    { padding: 0px;}
.hero-banner img                            { width: 100%; height:150px;}
.login-top-slider .slick-prev               { left: 25px; width: 20px; height: 20px; }
.login-top-slider .slick-next               { right: 25px; width: 20px; height: 20px; }
.login-top-slider .slick-prev,
.login-top-slider .slick-next               { width: 25px; height: 25px; }
.login-top-slider .slick-prev:hover:before,
.login-top-slider .slick-next:hover:before  { color: #000000; background-color: #ffffff; }
.login-top-slider .slick-prev:before,
.login-top-slider .slick-next:before        { width: 25px; height: 25px; background-color: #000000; color: #ffffff; font-size: 14px; 
                                            line-height: 25px; display: block; border-radius: 50%; transition: 0.5s; font-family: fontAwesome; }
.login-top-slider .slick-prev:before        { content: '\f053'; }
.login-top-slider .slick-next:before        { content: '\f054'; }
.login-top-slider .slick-prev               { left: 25px; }
.login-top-slider .slick-next               { right: 25px; }
/* Promotion Page */
.promotion-bg                               { background: no-repeat center center / 100% 100%;height: 100px;filter: drop-shadow(2px 4px 6px black);border-radius:10px;}
.promotion-bg a                             { display: block; height: 100%; }
.promotion-bg:not(:last-child)              { margin-bottom: 10px; }
.logowithback .row                          { display: flex; align-items: center; }
.login_btn.join_btn                         { background: #feb801; border: 0px; color: #8d4f00; }
.forgot-psw a                               { color: #8d4f00; }
.panel-group                                { margin-bottom: 0px; }
#language .modal-content                    { background-color: #fff; width: 100%; margin: 0; }
.promo-inner .row                           { display: flex; align-items: center;}
.promo-inner img                            { max-width:175px;}
.promo-inner img.tab-bankicon               { width:25px;}
.mar-none                                   { margin: 0px;}
.footer-widget ul li p                      { font-size: 11px; }
label.mobile-number a                       { line-height: 25px; display: block; }
.sidebar                                    { height: 100%;}
.panel-group                                { margin-bottom: 75px; }
.intro .main-content                        { left: unset; }
.extra-bottom-padding                       { padding-bottom:100px; }
.malay-font .account-icon li a span         { word-break: break-all; }
.hero-banner .promotion-bg                  { filter:unset; border-radius:0px; padding-top:5px; }
.remember-fill input[type="checkbox"], 
.remember-fill label                        { margin: 0 3px 0; } 
.remember-fill                              { margin:0px; }
.lang-modal ul                              { display: flex; justify-content: center; align-items: center; width: 100%; margin-right: 0px; margin-left: 0px; }
select.main-wallet.jcf-hidden,
.history-tabs ul.nav-tabs:after             { display:none; }
#beforelogin_mobile .mob-layout > ul        { padding: 5px 0px; }
.register-password-icon a                   { position:absolute; right:-20px; top:10px; z-index:3; font-size:15px; }
.step-screen form                           { overflow:visible; }
.visible-content                            { display: none; background: #000000; padding: 5px; border-radius: 5px; position: relative; right: -20px; top: -5px; }
.tooltip-text.main + .visible-content       { display: block;position: absolute;top: 40px;z-index: 1;}
.visible-content *                          { color: #fff;}
.visible-content p                          { margin: 0px;}
.footer-copyright-section-img               { width:50vw;text-align:center; }
.footer-copyright-section-p                 { text-align:center;font-size:10px; }

.deposit_icon:hover img,
.transfer_icon:hover img,
.restore_icon:hover img,
.withdraw_icon:hover img,
.history_icon:hover img {
    object-position: top;
}

.deposit_icon img, .transfer_icon img,
.withdraw_icon img, .restore_icon img,
.history_icon img {
    width: 38px;
    height: 35px;
    object-fit: cover;
    object-position: bottom;
    display: block;
    margin:0 auto;
}


#beforelogin_mobile .hero-banner .slick-dots, #afterlogin_mobile .hero-banner .slick-dots {
    bottom: 0px;
    right: 0px;
}

#beforelogin_mobile .hero-banner .slick-dotted.slick-slider, #afterlogin_mobile .hero-banner .slick-dotted.slick-slider {
    margin-bottom: 0px;
}

#beforelogin_mobile .hero-banner .slick-dots li, #afterlogin_mobile .hero-banner .slick-dots li {
    width: 7px;
    height: 7px;
}



.promotion-hero-banner .full-img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    filter: drop-shadow(2px 4px 6px black);
    border-radius: 10px;
}

.promotion-slide-hero-banner{
    margin-bottom:-5px;
}

.promotion-slide-hero-banner .full-img {
    width: 100%;
    height: auto;
}

.container.extra-bottom-padding { padding-left: 0px; padding-right: 0px; }
.history-tabs ul::after { height: 0px; }
.listing-for-deposite li:last-child { border: 0px; }
.listing-for-deposite li { padding: 5px 10px;}
.listing-for-deposite li:nth-child(odd) { background: #f2f2f2; }
.list-content { display: flex; }
.list-content .back-btn.rotate { display: flex; align-items: center; }
.list-content .back-btn.rotate a { display: block; min-width: 25px; padding: 0px; }
.list-content .back-btn.rotate a img { max-width: 15px;}
.history-tabs .list-content .back-btn.rotate a:hover { background: transparent; }
.product-name-time h6 { font-size: 14px; line-height: 18px; color: #ff9b00; font-weight: bold; }
.product-name-time p { font-size: 11px; line-height: 16px; color: rgba(0,0,0,0.7); margin-bottom: 0px; }
.product-subdesc { display: flex; align-items: center; margin-left: auto;}
.product-amount { margin-right: 10px; width: 100px;}
.product-amount,
.product-available { font-size: 12px; line-height: 18px; text-transform: uppercase; font-weight: bold; margin-bottom: 0px;text-align: right; }
.product-available { color: #ff0000;width:75px; }
.product-approve { color: green;}


.head-img-icon > .nav.nav-tabs { position: fixed; width: 100%; top: 0; left: 0; background-color: #ffffff; z-index: 5; padding: 10px; box-shadow: 0px 10px 10px #cccccc; display: flex; margin-bottom: 15px; border: 0px; justify-content: center;}
/* SLot Page  */
.main-logo-img img { max-width: 100px;}
.main-logo-img a { display: block;}
.head-img-icon .d-flex { justify-content: space-between; }
.menu-list-area > ul { background-color: #ffb701; display: flex; justify-content: space-between; }
.menu-list-area .nav-pills > ul { display: flex; align-items: center; }
.nav-tabs > li,
.nav-pills li { float: none; }
.nav-tabs > li { margin-bottom: 0px;}
.head-img-icon .nav-tabs li a img { max-width: 150px; width: 100%; }
.head-img-icon .nav-tabs > li > a { border: 0px; margin: 0px 5px; padding: 0px;}
.head-img-icon .nav-tabs > li.active > a, .head-img-icon .nav-tabs > li.active > a:focus, .head-img-icon .nav-tabs > li.active > a:hover {border: 0px;background-color: #ffb701;}
.head-img-icon > .tab-content { margin: 0 -15px;}
.head-img-icon > .tab-content { padding-top: 88px;}
.menu-list-area .nav-pills > li.active > a,
.menu-list-area .nav-pills > li.active > a:focus,
.menu-list-area .nav-pills > li.active > a:hover { background: transparent; color: #000000;}
.menu-list-area .nav-pills > li > a { color: rgba(0,0,0,0.7); padding: 0px; margin: 10px; text-transform: uppercase; }
.menu-list-area .tab-pane ul { margin: 10px 0px 0px; display: flex; align-items: center; flex-wrap: wrap; }
.menu-list-area .tab-pane ul li { margin: 0 5px 10px; box-shadow: 0px 10px 10px #cccccc; width: calc(100% / 3 - 10px); }
.menu-list-area .tab-pane ul li a { display: block; text-align: center; }
.menu-list-area .tab-pane ul li p { font-size: 1rem; line-height: 16px; padding: 0 5px; text-transform: capitalize; margin: 5px 0px; display: flex; align-items: center; justify-content: center; height: 32px; }
.menu-list-area .tab-pane ul li p a { display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; color: #000000;}
.menu-list-area .tab-pane ul li:hover  p { color: rgba(0,0,0,0.7); }
.menu-list-area .tab-pane ul li img { width: 100%; max-width: 100%; object-fit: cover; }
.grey-color{color:gray !important;}
.green-color{color:green !important;}
.no-game{width:100%;text-align:center;}
.main-wallet-bal-pad{padding-left:0px !important;}
.home-vip-image{margin-top:-4px;}
.main-wallet-bar{line-height:20px;}




















/* Normal Css */
@charset "utf-8";
@import url(https: //fonts.googleapis.com/css?family=Noto+Sans:400, 400i, 700, 700i);

@font-face {
    font-family: text-security-disc;
    src: url(fonts/text-security-disc.eot);
    src: url(fonts/text-security-disc.eot?#iefix) format('embedded-opentype'), url(fonts/text-security-disc.woff) format('woff'), url(fonts/text-security-disc.ttf) format('truetype'), url(images/text-security-disc.svg#text-security) format('svg');
}

no-js #loader {
    display: none;
}

.pl0 {
    padding-left: 0px !important;
}

.pr0 {
    padding-right: 0px !important;
}

.ml0 {
    margin-left: 0px !important;
}

.mr0 {
    margin-right: 0px !important;
}
/*.container1{max-width:1000px; margin:0px auto; overflow:hidden;}*/
.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: center no-repeat #0f203a;
    background-image: url('../images/dual ring-1.4s-200px.svg');
}

.thm-txt {
    color: #0c7ba1;
}

.loadingImage {
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: center no-repeat #0f203a;
    opacity: .9;
    background-image: url(../images/loading2.gif);
    background-size: 90px 100px;
}

.restore {
    color: #a248be;
    font-weight: 700;
    font-size: larger;
    vertical-align: bottom;
}

.restort-btn img {
    max-height: 26px;
}

.box-border {
    border-style: solid;
    border-color: #0b688b;
    border-width: 2px;
}

.font-increase {
    font-size: 14px;
}

.register-important {
    color: #000;
}

.register-important-notes {
    color: red;
}

.register-notes-list {
    list-style: disc;
    text-align: justify;
    font-size: 12px;
}

input.password {
    font-family: text-security-disc;
}

.img-filter {
    filter: drop-shadow(2px 4px 6px black);
}

body {
    background-color: #0f203a;
    font-family: noto sans, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow-x: hidden;
}

* {
    outline: 0;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

ol, ul {
    list-style: none;
}

a, a:active, a:focus, a:hover, a:visited {
    outline: 0;
    border: 0;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 35px;
    line-height: 45px;
}

.sub-title {
    font-size: 32px;
    line-height: 40px;
}

h2 {
    font-size: 30px;
    line-height: 37px;
}

h3 {
    font-size: 20px;
    line-height: 35px;
}

h4 {
    font-size: 18px;
    line-height: 32px;
}

h5 {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
}

p {
    font-size: 14px;
    line-height: 20px;
}

    p.big {
        font-size: 16px;
        line-height: 24px;
    }

.vertical-line {
    border-left: 2px solid #60656f;
    height: 60px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.big-text {
    font-size: 18px;
    line-height: 25px;
}

.blk-text {
    color: #000;
}

.br {
    display: block;
}

.clear-fix {
    clear: both;
}

.padt-none {
    padding-top: 0;
}

.padb-none {
    padding-bottom: 0;
}

.pad-top-ten {
    padding-top: 10px;
}

.pt2 {
    padding-top: 2px;
}

.pt5 {
    padding-top: 5px;
}

.pt8 {
    padding-top: 8px;
}

.pt10 {
    padding-top: 10px;
}

.pt12 {
    padding-top: 12px;
}

.pt15 {
    padding-top: 15px;
}

.pad-top-btm-10 {
    padding: 10px 0;
}

.pad-btm-ten {
    padding-bottom: 10px;
}

.pad-top-twentyfive {
    padding-top: 25px;
}

.pad-btm-twentyfive {
    padding-bottom: 25px;
}

.pad-left-15 {
    padding-left: 15px;
}

.margint-none {
    margin-top: 0;
}

.marginb-none {
    margin-bottom: 0 !important;
}

.mar-top-ten {
    margin-top: 10px;
}

.mar-top-15 {
    margin-top: 15px;
}

.btn-barcode {
    max-width: 170px;
    margin: 0 auto;
}

.mb5 {
    margin-bottom: 5px;
}

.mar-btm-ten {
    margin-bottom: 10px;
}

.mar-top-twentyfive {
    margin-top: 25px;
}

.mar-btm-twentyfive {
    margin-bottom: 25px;
}

.mar-btm-fifteen {
    margin-bottom: 15px;
}

.no-mar {
    margin: 0;
}

.mar-fifty {
    margin: 0 50px;
}

.mar-left-15 {
    margin-left: 15px;
}

.pad-comman {
    padding: 25px 0;
}

.pad-lr-comman {
    padding: 0 10px;
}

.pad-comman-fifteen {
    padding: 15px;
}

.mar-comman {
    margin: 25px 0;
}

.border-none {
    border: none;
}

.radius-none {
    border-radius: none;
}

.bg-none {
    background: 0 0;
}

.checkbox {
    margin: 0;
}

.jcf-checkbox {
    background-color: transparent;
    border: 2px solid #0e92bf;
    border-radius: 1.6px;
    width: 21px;
    height: 21px;
}

    .jcf-checkbox.jcf-focus {
        border: 2px solid #0e92bf;
    }

    .jcf-checkbox span {
        border-color: #0e92bf;
    }

.select-checkboxes .full-img {
    height: 100px;
}

.full-img {
    width: 100%;
    height: 70px;
}

.white-text {
    color: #fff;
}

.black-text {
    color: #1d1d1d;
}

.btn-download {
    padding: 10px 0;
}

    .btn-download .common-btn {
        font-size: 12px;
    }

.common-btn {
    border: 4px solid #0e92bf;
    padding: 5px 13px;
    color: #fff;
    display: inline-block;
    text-align: center;
}

    .common-btn:focus, .common-btn:hover, .common-btn:visited {
        background-color: #0e92bf;
        border: 4px solid #0e92bf;
        color: #fff;
    }

.modal-body button.close {
    opacity: 1;
    background-color: #fff;
    text-shadow: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 15px;
    padding-bottom: 2px;
}

.modal-body .close {
    font-size: 50px;
}

.modal-body button.close:hover {
    opacity: .5;
}

.tabcontent_benefits_referal {
    display: none;
    padding: 0px 0px;
    border-top: none;
}

.tablinks_benefits_referal.active {
    color: #141416 !important;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#edcb6a+0,cda03b+40,aa7108+100 */
    background: rgb(237,203,106); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(237,203,106,1) 0%, rgba(205,160,59,1) 40%, rgba(170,113,8,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(237,203,106,1) 0%,rgba(205,160,59,1) 40%,rgba(170,113,8,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(237,203,106,1) 0%,rgba(205,160,59,1) 40%,rgba(170,113,8,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edcb6a', endColorstr='#aa7108',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #e4bb52;
}

.benefits_referal_left {
    width: 100%;
    float: left; /*border-bottom: 1px solid #eeee;*/
    background: #222222; /*border-radius: 5px;
-webkit-box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);
box-shadow: 0 0 5px 1px rgb(0 0 0 / 10%);*/
}

.benefits_referal_genaral_wrapp {
    width: 100%;
    float: left;
    background-color: #151515; /*-webkit-box-shadow: 0 0 5px 1px #ededec; box-shadow: 0 0 5px 1px #ededec;*/
    padding: 0px 0px 20px 0px;
    margin-left: 0px;
}

.benefits_referal_left ul {
    padding-left: 0px;
    width: 100%;
    float: left;
    margin-bottom: 0px;
}

    .benefits_referal_left ul li {
        width: 33.333%;
        float: left;
    }

        .benefits_referal_left ul li a {
            padding: 16px 20px;
            display: block;
            font-size: 16px;
            font-weight: 600;
            color: #fefefe;
            width: 100%;
            cursor: pointer;
            float: left;
            text-align: center;
            background: #373737;
            border-right: 2px solid #222222;
        }

        .benefits_referal_left ul li .active {
            color: #000;
        }

.benefits_referal_left .tablinks {
    float: none !important;
}

.benefits_content_tab_sec {
    width: 100%;
    float: left;
}

    .benefits_content_tab_sec h1 {
        background: -webkit-linear-gradient(#e7c462, #ab730a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; /* -webkit-text-stroke: 1px #e5b853; */
        font-family: fantasy;
        font-size: 50px;
        font-weight: 900;
        padding: 30px 0px;
        text-align: center;
        letter-spacing: 1px;
    }

.vip-main-banner {
    background: url(../../images/en.jpg)top center no-repeat;
    width: 100%;
    float: left;
    background-size: cover;
    min-height: 599px;
}
/*Progress bars*/
.progress-bar {
    -webkit-transition: width .5s ease-out;
    -moz-transition: width .5s ease-out;
    -o-transition: width .5s ease-out;
    transition: width .5s ease-out;
}
/*.progress-bar:after {content: ""; position: absolute; border-radius: 5px; background: #0892d9; z-index: 10; box-shadow: 0px 2px 4px -1px rgba(0,0,0,.75); }*/
.steps-1 .progress {
    position: relative;
    height: 20px;
    margin: 0;
    background-color: #d9d9d9;
    border: 1px solid #c3c3c3;
    border-width: 1px 0 0 0;
    border-radius: 10px;
    box-shadow: none;
}

    .steps-1 .progress > .progress-type {
        position: absolute;
        left: 0px;
        font-weight: 800;
        padding: 3px 30px 2px 10px;
        color: rgb(255, 255, 255);
        background-color: rgba(25, 25, 25, 0.2);
    }

    .steps-1 .progress > .progress-completed {
        position: absolute;
        right: 0px;
        font-weight: 800;
        padding: 3px 10px 2px;
    }

.steps-1 .progress-bar {
    position: relative;
    background: #0892d9;
}

.steps-1 {
    position: relative;
    margin: 0 0 25px 0;
}

    .steps-1 .step {
        position: relative;
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: -30px 0 0 0;
        padding: 0 35px;
    }

    .steps-1 .step-title {
        position: absolute;
        top: -37px;
        margin: 0 0 0 -11px;
        width: 35px;
        color: #807d7d;
        font-size: 11px;
    }

    .steps-1 .point {
        width: 40px;
        height: 40px;
        padding: 3px 0 0 0;
        box-shadow: inset 0 1px 2px rgba(0,0,0,.25);
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.5);
        -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.5);
        border-radius: 50%;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #585858;
        vertical-align: middle;
        background: #d9d9d9;
    }

    .steps-1 .activestep {
        width: 40px;
        height: 40px;
        padding: 3px 0 0 0;
        border: 2px solid rgba(0,0,0,.25);
        border-width: 0 0 2px 0;
        box-shadow: 0 1px 1px rgba(0,0,0,.25);
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,.5);
        border-radius: 50%;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        vertical-align: middle;
        background: #0892d9;
    }

    .steps-1 .passed {
        width: 40px;
        height: 40px;
        border: 2px solid rgba(0,0,0,.25);
        border-width: 0 0 2px 0;
        box-shadow: 0 1px 1px rgba(0,0,0,.25);
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,.5);
        border-radius: 50%;
        color: transparent;
        overflow: hidden;
        z-index: 10;
        background: #0892d9 url('https://i.imgur.com/7znmb5L.png') no-repeat 3px -484px;
    }

.steps-2 .progress {
    position: relative;
    height: 40px;
    margin: 0;
    background-color: #151515;
    border-radius: 10px;
    box-shadow: none;
    overflow: visible;
    border: 1px solid #e4b950;
}

    .steps-2 .progress > .progress-type {
        position: absolute;
        left: 0px;
        font-weight: 800;
        padding: 3px 30px 2px 10px;
        color: rgb(255, 255, 255);
        background-color: rgba(25, 25, 25, 0.2);
    }

    .steps-2 .progress > .progress-completed {
        position: absolute;
        right: 0px;
        font-weight: 800;
        padding: 3px 10px 2px;
    }

.steps-2 .progress-bar {
    position: relative;
    /*background: #4db739;*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#81c6e7+0,558abc+40,16377e+100 */
    background: rgb(129,198,231); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(129,198,231,1) 0%, rgba(85,138,188,1) 40%, rgba(22,55,126,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(129,198,231,1) 0%,rgba(85,138,188,1) 40%,rgba(22,55,126,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(129,198,231,1) 0%,rgba(85,138,188,1) 40%,rgba(22,55,126,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81c6e7', endColorstr='#16377e',GradientType=0 ); /* IE6-9 */
    height: 38px;
    margin: 0;
    border: 1px solid #c3c3c3;
    border-width: 1px 0 0 0;
    border-radius: 10px;
    box-shadow: none;
}

    .steps-2 .progress-bar:after {
        top: -8px;
        right: 0;
        width: 31px;
        height: 33px;
    }

.steps-2 span:hover {
    color: #F58723;
}

.steps-2 {
    position: relative;
    margin: 15px 0 110px 0;
}

    .steps-2 .step {
        position: absolute;
        top: 7px;
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0 35px;
    }

    .steps-2 .step-title {
        position: absolute;
        top: 44px;
        margin: 0 0 0 -15px;
        width: 118px;
        color: #fff;
        font-size: 12px;
        cursor: pointer;
        left: -44px;
    }

    .steps-2 .step-title1 {
        position: absolute;
        top: 68px;
        margin: 0 0 0 -15px;
        width: 118px;
        color: #fff;
        font-size: 12px;
        cursor: pointer;
        left: -44px;
    }

    .steps-2 .point {
        cursor: pointer;
        position: relative;
        width: 2px;
        height: 14px;
        margin: 0 0 0 10px;
        padding: 3px 0 0 0;
        border-radius: 25px;
        text-align: center;
        vertical-align: middle;
        background: #fff;
        top: 36px;
        left: -35px;
    }

        .steps-2 .point .price {
            position: absolute;
            top: 20px;
            left: -56px;
            width: 110px;
            color: #fff;
            text-align: center;
        }

    .steps-2 .caret {
        display: block;
        margin: 0 0 0 12px;
        transform: rotate(180deg);
    }

.steps-3 .progress {
    position: relative;
    height: 45px;
    margin: 0;
    background-color: #d9d9d9;
    border: none;
    border-width: 1px 0 0 0;
    border-radius: 5px;
    box-shadow: none;
    overflow: visible;
}

    .steps-3 .progress > .progress-type {
        position: absolute;
        left: 0px;
        font-weight: 800;
        padding: 3px 30px 2px 10px;
        color: rgb(255, 255, 255);
        background-color: rgba(25, 25, 25, 0.2);
    }

    .steps-3 .progress > .progress-completed {
        position: absolute;
        right: 0px;
        font-weight: 800;
        padding: 3px 10px 2px;
    }

.steps-3 .progress-bar {
    position: relative;
    background: #585858;
    margin: 0;
    border: 1px solid #c3c3c3;
    border-width: 1px 0 0 0;
    border-radius: 5px;
    box-shadow: none;
}

    .steps-3 .progress-bar:after {
        top: -7px;
        right: 0;
        width: 62px;
        height: 54px;
    }

.steps-3 span:hover {
    color: #F58723;
}

.steps-3 {
    position: relative;
    margin: 50px 0 50px 0;
}

    .steps-3 .step {
        position: absolute;
        top: 6px;
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0 35px;
    }

    .steps-3 .step-title {
        position: absolute;
        top: 55px;
        margin: 0 0 0 -50px;
        width: 90px;
        color: #807d7d;
        font-size: 11px;
        cursor: pointer;
    }

    .steps-3 .point {
        cursor: pointer;
        position: relative;
        width: 39px;
        height: 35px;
        text-align: center;
        vertical-align: middle;
    }

.s-1, .s-2, .s-3, .s-5, .s-10,
.s-1-active, .s-2-active, .s-3-active, .s-5-active, .s-10-active,
.s-1-passed, .s-2-passed, .s-3-passed, .s-5-passed, .s-10-passed {
    z-index: 10;
}

.s-1 {
    background: url('https://i.imgur.com/7znmb5L.png')no-repeat -266px -49px;
}

.s-2 {
    background: url('https://i.imgur.com/7znmb5L.png')no-repeat -314px -97px;
}

.s-3 {
    background: url('https://i.imgur.com/7znmb5L.png')no-repeat -362px -147px;
}

.s-5 {
    background: url('https://i.imgur.com/7znmb5L.png')no-repeat -411px -200px;
}

.s-10 {
    background: url('https://i.imgur.com/7znmb5L.png')no-repeat -462px -244px;
}

.s-1-active {
    background: url('https://i.imgur.com/7znmb5L.png')no-repeat -151px -153px;
}

.s-2-active {
    background: url('https://i.imgur.com/7znmb5L.png')no-repeat -199px -200px;
}

.s-3-active {
    background: url('https://i.imgur.com/7znmb5L.png')no-repeat -252px -244px;
}

.s-5-active {
    background: url('https://i.imgur.com/7znmb5L.png')no-repeat -305px -289px;
}

.s-10-active {
    background: url('../img/sprite.png')no-repeat -362px -332px;
}

.s-1-passed {
    background: url('https://i.imgur.com/7znmb5L.png')no-repeat -198px -97px;
}

.s-2-passed {
    background: url('https://i.imgur.com/7znmb5L.png')no-repeat -252px -153px;
}

.s-3-passed {
    background: url('https://i.imgur.com/7znmb5L.png')no-repeat -305px -194px;
}

.s-5-passed {
    background: url('https://i.imgur.com/7znmb5L.png')no-repeat -362px -244px;
}

.s-10-passed {
    background: url('https://i.imgur.com/7znmb5L.png')no-repeat -411px -289px;
}

.steps-3 .point .price {
    position: absolute;
    top: -35px;
    left: -40px;
    width: 110px;
    color: #0892d9;
    text-align: center;
}

.steps-3 .caret {
    display: block;
    margin: 0 0 0 42px;
    transform: rotate(180deg);
}

.vip_sec_logo_left {
    width: 100%;
    float: left;
}

    .vip_sec_logo_left img {
        width: 100%;
        padding: 50px;
    }

.vip_sec_form_right {
    width: 100%;
    float: left;
    padding-top: 50px;
}

.current_status_row {
    width: 100%;
    float: left;
}

.current_status_row_left label {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding: 10px 0px;
}

.current_status_row_right input {
    background-color: #151515;
    border: 1px solid #e5b853;
    width: 100%;
    height: 46px;
    color: #fff;
}

.current_deposit_form_sec {
    width: 100%;
    float: left;
}

.vip_pri_btn { /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#edcb6a+0,cda03b+40,aa7108+100 */
    background: rgb(237,203,106); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(237,203,106,1) 0%, rgba(205,160,59,1) 40%, rgba(170,113,8,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(237,203,106,1) 0%,rgba(205,160,59,1) 40%,rgba(170,113,8,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(237,203,106,1) 0%,rgba(205,160,59,1) 40%,rgba(170,113,8,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edcb6a', endColorstr='#aa7108',GradientType=0 ); /* IE6-9 */
    color: #212121;
    font-size: 15px;
    border: 1px solid #e5b950;
    width: 48%;
    float: left;
    padding: 10px;
    border: none;
    font-weight: 600;
    margin-right: 2%;
    border-radius: 5px;
}

.become_a_vip {
    background-color: #151515;
    color: #fff;
    border: 1px solid #e5b950;
    width: 48%;
    float: left;
    padding: 10px;
    font-weight: 600;
    margin-left: 2%;
    border-radius: 5px;
}

.vip_privilage_sec_credits {
    width: 100%;
    float: left;
    background-color: #fff;
    padding: 20px 0px 43px 0px;
}

.vip_privileges_inner_sec_credits h1 {
    font-size: 20px;
    font-weight: 600;
    padding: 15px 0px 25px 0px;
    text-align: center;
    line-height: normal;
}

.vip_privileges_inner_sec_credits p {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 10px;
    text-align: left;
    line-height: normal;
    margin-bottom: 0px;
    padding-left: 150px;
}

/*Progress bars*/
.game_logo_sections .carousel-wrap {
    margin: 10px auto;
    padding: 0 0%;
    width: 90%;
    position: relative;
}
/* fix blank or flashing items on carousel */
.game_logo_sections .owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}
/* end fix */
.game_logo_sections .owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 73%;
    color: #cdcbcd;
}

    .game_logo_sections .owl-nav > div:hover {
        color: #febd17;
    }

.game_logo_sections .owl-nav i {
    font-size: 32px;
}

.game_logo_sections .owl-nav .owl-prev {
    left: -30px;
}

.game_logo_sections .owl-nav .owl-next {
    right: -30px;
}

.game_logo_sections .owl-carousel .owl-item img {
    padding: 0px 4px;
}

.hot_game_section_wrap .carousel-wrap {
    margin: 62px auto 20px auto;
    padding: 0 0%;
    width: 100%;
    position: relative;
}

/* fix blank or flashing items on carousel */
.hot_game_section_wrap .owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
}
/* end fix */
.hot_game_section_wrap .owl-nav > div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
}

    .hot_game_section_wrap .owl-nav > div:hover {
        color: #febd17;
    }

.hot_game_section_wrap .owl-nav i {
    font-size: 52px;
}

.hot_game_section_wrap .owl-nav .owl-prev {
    left: -30px;
}

.hot_game_section_wrap .owl-nav .owl-next {
    right: -30px;
}

table.hightligt_table {
    overflow: hidden;
    width: 100%;
    float: left;
}

.hightligt_table td span, .hightligt_table th span {
    position: relative;
    z-index: 999;
}

.hightligt_table td {
    border-right: 1px solid #c7c7c7;
}

.hightligt_table td, .hightligt_table th {
    padding: 10px;
    position: relative;
    outline: 0;
}

body:not(.nohover) .hightligt_table tbody tr:hover {
    background-color: #ffa;
}

.hightligt_table td:hover::after,
.hightligt_table thead th:not(:empty):hover::after,
.hightligt_table td:focus::after,
.hightligt_table thead th:not(:empty):focus::after {
    content: '';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: 1;
}

.hightligt_table td:hover::after {
    background-color: rgba(0,120,201,0.4);
    font-size: 19px;
    font-weight: 700;
}

.table-vip-datas thead tr th:nth-child(1) {
    text-align: left;
    padding: 10px 12px 0px 12px;
    width: 254px;
}

.table-vip-datas thead tr th {
    width: 128px;
    padding: 10px 12px 0px 12px;
}

    .table-vip-datas thead tr th span img {
        width: 75px;
    }

.hightligt_table tbody {
    border: 1px solid #c7c7c7;
}

    .hightligt_table tbody tr th {
        text-align: left;
        background-color: #f4f4f4;
        width: 223px;
        border-right: 1px solid #c7c7c7;
    }

    .hightligt_table tbody tr td {
        text-align: center;
        padding: 10px 10px;
        color: #133a5a;
        border-right: 1px solid #c7c7c7;
        background-color: #feefc4;
        width: 115px;
        font-size: 14px;
        font-weight: 600;
    }

.table-vip-datas {
    width: 100%;
    float: left;
    padding: 10px 0px 5px 0px;
}

.highlight {
    font-weight: bold;
    background-color: #ddeedd;
}

.pagination_tables {
    float: right;
    padding-bottom: 15px;
}

    .pagination_tables a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ccc;
        margin-right: 5px;
    }

        .pagination_tables a.active {
            background-color: #feb801;
            color: black;
        }

        .pagination_tables a:hover:not(.active) {
            background-color: #ddd;
        }

.hover_icons {
    display: none;
}

.sports_sections > li:hover .hover_icons {
    display: inline-block;
    color: #212121;
}

.sports_sections > li:hover .normal_icons {
    display: none;
}

.game_logo_sports_sections {
    width: 100%;
    float: left;
}

    .game_logo_sports_sections ul {
        width: 100%;
        float: left;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-bottom: 0px;
    }

        .game_logo_sports_sections ul li {
            float: left;
            list-style: none;
            width: 110px;
            padding: 0px 12px 0px 12px;
        }

            .game_logo_sports_sections ul li a {
                text-decoration: none;
                float: left;
                width: 100%;
            }

                .game_logo_sports_sections ul li a img {
                    width: 110px;
                }

img.public_bank {
    width: 110px;
}

.table-responsive .table-bordered > thead > tr > td {
    font-size: 14px;
    font-weight: 600;
}

p.bonus_content a {
    color: #333;
}

#Reload_bonus_myModal .table tbody tr:first-child td {
    background: #858585;
}

#Reload_bonus_myModal table {
    background: #e5e5e5 !important;
    text-align: center;
    width: 100%;
}

#Reload_bonus_myModal .modal-dialog {
    width: 70vw;
}

#Reload_bonus_myModal .modal-body {
    max-height: 500px;
    overflow-y: scroll;
}

#Reload_bonus_myModal table {
    width: 70% !important;
    margin-left: auto;
    margin-right: auto;
}

.img-icon li {
    text-align: center;
    margin: 0px;
}

    .img-icon li img {
        max-width: 75px;
    }

.img-icon.nav-tabs,
.img-icon.nav-tabs > li.active > a,
.img-icon.nav-tabs > li.active > a:focus,
.img-icon.nav-tabs > li.active > a:hover,
.img-icon.nav-tabs > li > a {
    border: 0px;
}

    .img-icon.nav-tabs > li > a {
        text-transform: capitalize;
        color: #000000;
        font-weight: bold;
        transition: 0.5s;
    }

    .img-icon.nav-tabs > li:hover a,
    .img-icon.nav-tabs > li:focus a,
    .img-icon.nav-tabs > li.active > a,
    .img-icon.nav-tabs > li.active > a:focus,
    .img-icon.nav-tabs > li.active > a:hover {
        color: #feb801;
        background-color: #feb801;
    }

.tab-area .title {
    background-color: #feb801;
    padding: 10px;
    font-weight: 600;
    margin-bottom: 0px;
}

.tab-subtitle {
    display: flex;
    margin: 0px;
}

    .tab-subtitle li {
        width: calc(100% - 300px);
        padding: 10px;
        background: #feefc4;
        font-weight: 600;
    }

        .tab-subtitle li:first-child {
            background: #f4f4f4;
            width: 300px;
        }

.tabcontent_benefits_referal {
    padding: 10px;
}

    .tabcontent_benefits_referal * {
        color: #ffffff
    }
/* Normal Css */

/* Desktop View */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* Tablet View */
@media (min-width: 768px) and (max-width: 991px) {

    /**/
    .benefits_referal_tab_sec {
        width: 100%;
    }

    .become_a_vip {
        font-size: 13px;
    }

    .current_deposit_form_sec {
        margin-left: -15px;
    }

    .vip_sec_logo_left img,
    .vip_sec_form_right {
        padding-top: 0px;
    }

    .current_status_row_right input {
        height: auto;
        padding: 10px;
    }

    .vip_sec_form_right > .current_status_row_left label {
        padding-top: 0px;
    }

    .bank-selection ul li {
        width: calc(100% / 4 - 10px);
    }

    .in-wallet-chips > .chip-margin {
        padding: 0px 5px;
    }

    .password-upadte .submit {
        font-size: 13px;
    }

    .support-live h5 {
        font-size: 17px;
        line-height: 24px;
    }

    .vip-main-banner {
        min-height: 350px;
    }

    .vip_boxess h1 {
        min-height: 60px;
    }

    .vip_boxess p {
        min-height: 95px;
    }

    .vip_sec_form_right > .current_status_row_left label {
        padding-top: 0px;
    }

    .table-vip-datas thead tr th span img {
        max-width: 50px;
    }

    .vip_sec_form_right {
        padding-top: 0px;
    }

    .vip_sec_logo_left img,
    .vip_wrapper_section {
        padding-bottom: 0px;
    }
}

/* VIP Page */

@media (max-width: 767px) {

    .benefits_content_tab_sec h1 {
        font-size: 20px;
        line-height: 25px;
        padding: 25px 0px 0px;
    }

    .benefits_referal_left ul li a {
        padding: 10px;
    }

    .steps-2 .progress {
        height: 22px;
    }

    .steps-2 .progress-bar {
        height: 20px;
    }

    .steps-2 {
        z-index: 5;
        padding-bottom: 50px;
    }

        .steps-2 .step {
            flex-wrap: wrap;
            flex-direction: column;
            top: 0px;
            padding: 0px;
        }

        .steps-2 .point {
            width: 100%;
            height: auto;
            background: transparent;
            border-left: 2px solid #ffffff;
            border-radius: 0px;
            text-align: left;
            padding-left: 15px;
            top: 22px;
            left: 0px;
            margin-left: 5px;
        }

            .steps-2 .point:before {
                content: '';
                display: block;
                left: 0;
                top: 12px;
                width: 10px;
                height: 2px;
                background: #ffffff;
                position: absolute;
            }

            .steps-2 .step-title,
            .steps-2 .step-title1,
            .steps-2 .point .price {
                position: unset;
                margin: 0px 1px 15px;
                font-size: 12px;
                line-height: 15px;
                cursor: pointer;
            }

    .benefits_referal_tab_sec {
        width: 100%;
    }

    .benefits_referal_left ul {
        display: flex;
        align-items: center;
        float: none;
    }

        .benefits_referal_left ul li {
            width: calc(100% / 2);
            float: none;
        }

    .table-vip-datas thead tr th:nth-child(1) {
        max-width: 130px;
        display: flex;
        align-items: end;
        height: 86px;
    }

    .vip-main-banner {
        min-height: 150px;
    }

    .vip_sec_logo_left img {
        padding: 15px;
        max-width: 275px;
    }

    .vip_privileges_inner_sec_credits h1,
    .table-vip-datas thead tr th:nth-child(1), .table-vip-datas,
    .table-vip-datas thead tr th,
    .vip_sec_form_right {
        padding-top: 0px;
    }

    .vip_privileges_inner_sec_credits h1 {
        padding-bottom: 10px;
    }

    .vip_privilage_sec_credits {
        padding: 20px 0px;
        padding-bottom: 120px;
    }

    .vip_pri_btn,
    .become_a_vip {
        font-size: 10px;
        line-height: 15px;
        width: auto;
        border: 1px solid #e5b950;
        padding: 5px;
    }

    .pr0.current_status_row_left,
    .pr0.current_status_row_right {
        padding-left: 0px;
    }

    .table-vip-datas thead tr th span img {
        width: 60px;
    }

    .vip_privileges_inner_sec_credits p {
        padding-left: 0px;
    }

    .tab-subtitle li:first-child {
        width: 200px;
    }

    .tab-subtitle li {
        width: calc(100% - 200px);
    }

    .img-icon {
        display: flex;
        justify-content: space-between;
    }

        .img-icon li a {
            padding: 5px;
        }

        .img-icon li img {
            width: 100%;
            max-width: 100%;
        }

        .img-icon.nav-tabs > li > a {
            font-size: 0px;
            line-height: 0px
        }


}