<div class="my-container">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-4">
                    <legend class="main-title">AG Game Bet Limit</legend>
                </div>
            </div>
        </div>
        <div class="row card-body">
            <div class="col-md-12">
                <div class="row">
                    <label class="col-3"></label>
                    <label class="col-3"><span class="bold">Bet Limit Value</span></label>
                    <label class="col-3"><span class="bold">{{agLimit}}</span></label>
                </div>
                <br />
                <div class="row">
                    <label class="col-4"></label>
                    <label class="col-2">Set Group Type</label>
                    <input class="col-2 form-control" id="txt_ag" placeholder="Betting Limit" type="text" />
                </div>
                <br />
                <div class="row">
                    <label class="col-5"></label>
                    <button class="col-1 btn btn-success" (click)="AgSetLimit()">SET</button>
                    <label class="col-2"></label>
                    <label class="col-4"></label>
                </div>
                <br /><br />
            </div>
        </div>
    </div>
</div>

<div class="my-container">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-6">
                    <legend class="main-title">DG Game BeT Limit</legend>
                </div>
            </div>
        </div>
        <br />
        <div class="row card-body">
            <div class="col-md-12">
                <div class="row">
                    <label class="col-3"></label>
                    <label class="col-3"><span class="bold">Bet Limit Value</span></label>
                    <label class="col-3"><span class="bold">{{dgLimit}}</span></label>
                </div>
                <br />
                <div class="row">
                    <label class="col-4"></label>
                    <label class="col-2">Bet Limit value :</label>
                    <input class="col-2 form-control" id="txt_dgbetLimit" placeholder="Bet Limit" type="text" />
                </div>
                <br /><br />
                <div class="row">
                    <label class="col-5"></label>
                    <button class="col-1 btn btn-success" (click)="DgSetLimit()">SET</button>
                    <label class="col-2"></label>
                    <label class="col-4"></label>
                </div>
                <br /><br />
            </div>
        </div>
    </div>
</div>

<div class="my-container">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-6">
                    <legend class="main-title">Sexy Game Bet Limit</legend>
                </div>
            </div>
        </div>
        <br />
        <div class="row card-body">
            <div class="col-md-12">
                <div class="row">
                    <label class="col-3"></label>
                    <label class="col-3"><span class="bold">Bet Limit Value</span></label>
                    <label class="col-5"><span class="bold">{{sexyLimit}}</span></label>
                </div>
                <br />
                <div class="row">
                    <label class="col-4"></label>
                    <label class="col-2">Bet Limit value :</label>
                    <input class="col-2 form-control" id="txt_sexyBetlimit" placeholder="Bet Limit" type="number" />
                </div>
                <br /><br />
                      <div class="row">
                          <label class="col-5"></label>
                          <button class="col-1 btn btn-success" (click)="SexySetLimit()">SET</button>
                          <label class="col-1"></label>
                          <button class="col-1 btn btn-danger" (click)="SexyDeleteLimit()">Delete</button>
                      </div>
                <br /><br />
            </div>
        </div>
    </div>
</div>
