@page
@{ ViewData["Title"] = "History";
    Layout = ""; }
<div id="comContent"></div>
<div id="mComContent">

    <script>
        document.body.classList.add("no-pad-top");
        $('body').css('padding-top', '0px');
        if (GetLocalStorage('currentUser') === null)
            loadPageHome();
        DepositHistory();
    </script>
    <div id="History" class="white-bg history-page">

        <div class="container">
            <div class="info-form text-center">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="back-btn"><a onclick="loadPageHome({backFrom:'history'})" href="javascript:void(0);" rel="prefetch"><img class="tab-bankicon" src="/images/mobile/BackArrow_svg.svg" alt=""></a></div>
                    </div>
                    <div class="col-xs-8">
                        <h4 class="black-text lang" key="history">HISTORY</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-form history-tabs">
            <ul class="nav nav-tabs">
                <li onclick="DepositHistory()" class="active"><a data-toggle="tab" href="#profileDeposit"><span key="deposit" class="lang"></span></a></li>
                <li onclick="WithdrawHistory()"><a data-toggle="tab" href="#profilewithdrawal"><span key="withdrawal_title" class="lang"></span></a></li>
                <li onclick="TransferHistory()"><a data-toggle="tab" href="#profileTransfer"><span key="transfer_title" class="lang"></span></a></li>
                <li onclick="PromotionHistory()"><a data-toggle="tab" href="#promotion-apply"><span key="menu_promotion" class="lang"></span></a></li>
                <li onclick="RebateHistory()"><a data-toggle="tab" href="#rebate"><span key="rebate" class="lang"></span></a></li>
                <li onclick="StatementHistory()"><a data-toggle="tab" href="#statement"><span key="statement" class="lang"></span></a></li>
            </ul>
        </div>

        <div class="history-tabs">
            <div class="tab-content">

                <div id="profileTransfer" class="tab-pane fade in">
                    <div style="text-align:center;">
                        <img src="~/images/loading.gif" id="transfeRefreshImage" style="display:none" />
                    </div>
                    <div class="container full-height listing extra-bottom-padding" id="transferHistory">
                    </div>
                </div>

                <div id="profilewithdrawal" class="tab-pane fade in">
                    <div class="container full-height listing extra-bottom-padding" id="withdrawHistory">
                    </div>
                </div>

                <div id="profileDeposit" class="tab-pane fade in active">
                    <div style="text-align:center;">
                        <img src="~/images/loading.gif" id="depositRefreshImage" style="display:none" />
                    </div>
                    <div class="container full-height listing extra-bottom-padding" id="depositHistory" onscroll="DepositScroll(event)">
                    </div>
                </div>

                <div id="promotion-apply" class="tab-pane fade in">
                    <div class="container full-height listing extra-bottom-padding" id="promotionHistory">
                    </div>
                </div>

                <div id="rebate" class="tab-pane fade in">
                    <div class="container full-height listing extra-bottom-padding">
                        <div class="info-form history-tabs">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#loseRebate"><span key="loseRebate" class="lang"></span></a></li>
                                <li><a data-toggle="tab" href="#turnOverCommissionRebate"><span key="turnoverCommissionRebate" class="lang"></span></a></li>
                            </ul>
                        </div>
                        <div class="history-tabs">
                            <div class="tab-content">
                                <div class="tab-pane fade in" id="loseRebate">
                                    <div class="container full-height listing extra-bottom-padding">
                                    </div>
                                </div>
                                <div class="tab-pane fade in" id="turnOverCommissionRebate">
                                    <div class="container full-height listing extra-bottom-padding">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="statement" class="tab-pane fade in">
                    <div class="container full-height listing extra-bottom-padding" id="statementHistory">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-widget" id="footerWidget">
        <ul class="list-inline text-center">
            <li id="homePagebottom">
                <a onclick="loadPageHome()" href="javascript:void(0);" rel="prefetch">
                    <i class="fa fa-home"></i>
                    <p class="white-text no-mar" data-translate="menu_home">Home</p>
                </a>
            </li>
            <li id="promotionPagebottom" class="">
                <a onclick="loadPagePromotions()" href="javascript:void(0)" rel="prefetch">
                    <i class="fa fa-gift"></i>
                    <p class="white-text no-mar" data-translate="Promotion">Promotion</p>
                </a>
            </li>
            <li id="contactusPagebottom">
                <a onclick="loadPageContactus()" href="javascript:void(0)" rel="prefetch">
                    <i class="fa fa-user"></i>
                    <p class="white-text no-mar lang" key="contact_us">Contact Us</p>
                </a>
            </li>
            <li>
                <a href="#" onclick="whatsapp()">
                    <figure><img src="~/images/images-mobile/whatsapp.png" alt="Whats App" /></figure>
                    <p class="white-text no-mar">Whatsapp</p>
                </a>
            </li>
            <li class="live-chat">
                <a class="live-chat-icon"><p class="white-text no-mar" data-translate="Live_chat">Live Chat</p></a>
            </li>
        </ul>
    </div>

    <div>
        <a id="mobileM8" style="display:none"></a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".contact-us-btn,.contact-us-btn-footer").click(function () {
            $("#chatting").toggle();
        });
        $(".contact-user").mouseover(function () {
            $("#chatting").toggle();
        });
    });
</script>

<!--Begin Comm100 Live Chat Code-->
<div></div>
<script type="text/javascript">
    var OnlineHelpAPI = OnlineHelpAPI || {}; (function (t) { function e(e) { var a = document.createElement("script"), c = document.getElementsByTagName("script")[0]; a.type = "text/javascript", a.async = !0, a.src = e + t.site_id, c.parentNode.insertBefore(a, c) } t.chat_buttons = t.chat_buttons || [], t.chat_buttons.push({ code_plan: "a9010000-0000-0000-0000-008e000391c3", div_id: "onlinehelp-button-a9010000-0000-0000-0000-008e000391c3" }), t.site_id = 233923, t.main_code_plan = "a9010000-0000-0000-0000-008e000391c3", e("https://vue.livelyhelp.chat/livechat.ashx?siteId="), setTimeout(function () { t.loaded || e("https://vue1.livelyhelp.chat/livechat.ashx?siteId=") }, 5e3) })(OnlineHelpAPI || {})
</script>
<!--End Comm100 Live Chat Code-->
<!-- Slider Section End -->
<!-- Modal For Video -->
<script type="text/javascript">
    $(document).ready(function () {
        $(".open-modal").click();
    });
    jQuery(".scroll-down-visible").hide();
    jQuery("#more-arrow").click(function () {
        jQuery(".scroll-down-visible").toggleClass("show");
        jQuery("#more-arrow").toggleClass("rotate");
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".navbar-toggle,.canvas-overlay").click(function () {
            if (!$("html").hasClass('intro')) {
                $("html").addClass("intro");
            }
            else {
                $("html").removeClass("intro");
            }
        });
        $(".canvas-overlay").click(function () {
            if ($(".navbar-collapse").hasClass('in')) {
                $(".navbar-collapse").removeClass("in");
            }
        });
    });
</script>
<!-- Slider Section End -->
<script>
    $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        if (scroll >= 1) {
            $("header").addClass("sticky-header");
        }
        else {
            $("header").removeClass("sticky-header");
        }
    });
</script>

<script>

    function get() {
        (GetLocalStorage('language') === null) ? SetLocalStorage('language', 'en-US') : false;

        $.ajax({
            url: '../../resources/strings.' + GetLocalStorage('language') + '.json',
            dataType: 'json',
            async: false,
            success: function (lang) {
                $('.lang').each(function (index, element) {
                    if (localStorage.getItem("language") === "ms-MY") {
                        $('body').addClass('malay-font');
                    }
                    $(this).text(lang[$(this).attr('key')]);
                });
                $("[data-translate]").each(function () {
                    if ($(this).is("input")) {
                        $(this).attr('placeholder', lang[$(this).data("translate")]);
                    } else {
                        $(this).text(lang[$(this).data("translate")]);
                    }
                });
            }
        });
    }

    setTimeout(() => {
        get();
    }, 200);

    async function DepositScroll() {

        if ((NumberOfLine % 5) == 0) {

            NumberOfLine = NumberOfLine + 1;
            if (!apiRunning) {
                pageNumber = pageNumber + 1;
                await DepositHistory(pageNumber)
            }
        }
        else {
            NumberOfLine = NumberOfLine + 1;
        }
    }
</script>