@page
@{
    ViewData["Title"] = "Pragmatic Slots";
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">

    <title>Webet333 - @ViewData["Title"] </title>
    <link rel="apple-touch-icon" sizes="57x57" href="../../images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon/favicon-16x16.png">
    <link href="~/css/PlaytechGame/master.css" rel="stylesheet" />
    <script src="~/js/constants/apiConsts.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <link href="~/css/bootstrap.css" rel="stylesheet" />

    <script type="text/javascript">
    </script>
    <style>
        .column {
            float: left;
            padding: 15px;
        }

        .images-row {
            width: 100%;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(2,1fr);
        }

        .img-withd {
            width: 100%;
            box-shadow: 0px 0px 20px rgba(239, 234, 234, 0.6);
            -moz-box-shadow: 0px 0px 20px rgba(239, 234, 234, 0.6);
            -webkit-box-shadow: 0px 0px 20px rgba(239, 234, 234, 0.6);
            -o-box-shadow: 0px 0px 20px rgba(239, 234, 234, 0.6);
        }
    </style>
    <script type="text/javascript">
        function openGame(GameID) {
            $(".loadingImage").fadeIn("slow");
            let model = {
                gameId: GameID,
                isMobile: true,
            }
            $.ajax({
                url: baseUrl + apiEndPoints.pragmaticLogin,
                type: "POST",
                data: JSON.stringify(model),
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem('currentUser'),
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                    'Access-Control-Max-Age': 300,
                    'Accept-Language': localStorage.getItem('language')
                },
                async: false,
                success: function (data) {
                    $(".loadingImage").fadeOut("slow");
                    window.location.href = data.data.gameURL;
                }
            });
        }

        function images() {
            let model = {
                isMobile: true,
            }
            var imageDiv = document.getElementById('pragmaticGames');
            $.ajax({
                url: baseUrl + apiEndPoints.pragmaticList,
                type: "POST",
                data: JSON.stringify(model),
                headers: {
                    'Authorization': 'Bearer ' + localStorage.getItem('currentUser'),
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                    'Access-Control-Max-Age': 300,
                    'Accept-Language': localStorage.getItem('language')
                },
                async: false,
                success: function (data) {
                    json = data.data.gameList;
                    for (i = 0; i < json.length; i++) {
                        if (imageDiv !== null)
                            imageDiv.innerHTML += '<div class="column"><a onclick="openGame(\'' + json[i].gameID + '\')"> ><img class="img-withd" src="https://api.prerelease-env.biz/game_pic/rec/325/' + json[i].gameID + '.png" alt="' + json[i].fullName + '" /></a></div>'
                    }

                }
            });
        }
    </script>
</head>

<body>
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            @*<img alt="weplay-logo"  class="col-sm-6" src="~/images/logo.gif" />*@
            <img alt="joker" class="col-sm-8 col-sm-offset-2" src="~/images/pragmatic.png" />
        </div>
    </div>

    <div class="images-row" id="pragmaticGames">
    </div>
    <script>
        $(document).ready(function () {
            if (localStorage.getItem('currentUser') != null) {
                $(".loadingImage").fadeOut("slow");
                images();
            }
            else {
                alert("Please Login !");
                location.href = "/Home/home";
            }
        });
    </script>
</body>
</html>