<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a routerLink="/admin/customers/promotion-list">Promotion List</a>
    </li>
    <li class="breadcrumb-item">
        Add Promotion
    </li>
</ol>
<div class="my-container">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-4">
                    <legend class="main-title">Promotion Add</legend>
                </div>
            </div>
        </div>
        <div class="row card-body">
            <div class="col-md-12">
                <form class="border border-light p-5">
                    <div class="row col-md-12">
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Start Date :</label>
                            </div>
                            <div class="input-group col-9">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" id="dp_startDate">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">End Date :</label>
                            </div>
                            <div class="input-group col-9">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model1" ngbDatepicker #d_1="ngbDatepicker" id="dp_endDate">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d_1.toggle()" type="button"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row col-md-12">
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px;margin-top:35px">Start Time :</label>
                            </div>
                            <div class="input-group col-9">
                                <ngb-timepicker [(ngModel)]="timeStart" [meridian]="meridian" name="time" id="tp_startTime" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                            </div>
                        </div>
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px;margin-top:35px">End Time :</label>
                            </div>
                            <div class="input-group col-9">
                                <ngb-timepicker [(ngModel)]="timeEnd" [meridian]="meridian" name="time" id="tp_endTime" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Daily Onces Promotions :</label>
                            </div>
                            <div class="input-group col-1">
                                <label class="container">
                                    <input type="checkbox" id="chk_isdaily">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <span id="question" class="fa fa-question-circle" title="user only can apply this promotion for daily once, if user apply by today,after tomorrow 12:00AM, will consider as new day, user can apply promotion again."></span>
                        </div>
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Hide on Deposit Page :</label>
                            </div>
                            <div class="input-group col-1">
                                <label class="container">
                                    <input type="checkbox" id="chk_isDepositePage">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <span id="question" class="fa fa-question-circle" title="this promotion will not displayed on user and admin deposit page"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row col-md-12">
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Admin Only :</label>
                            </div>
                            <div class="input-group col-1">
                                <label class="container">
                                    <input type="checkbox" id="chk_isAdmin">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <span id="question" class="fa fa-question-circle" title="only admin page will display this promotion, user cannot see on this promotion."></span>
                        </div>
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Per User Only :</label>
                            </div>
                            <div class="input-group col-1">
                                <label class="container">
                                    <input type="checkbox" id="chk_isPerUser">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <span id="question" class="fa fa-question-circle" title="one user only can apply this promotion one time, if user applied this promotion before, user permanent cannot apply this promotion any more"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row col-md-12">
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Bank Account Claim Once:</label>
                            </div>
                            <div class="input-group col-1">
                                <label class="container">
                                    <input type="checkbox" id="chk_isBankAccountClaimOnce">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <span id="question" class="fa fa-question-circle" title="if user A apply for this promotion A, and completed the promotion A and withdraw the money with bank account numbers with 1234567890, and he create a new user B, apply for the same promotion A again, when user B complete promotion A, he cannot withdraw the money, will prompt error message,' your bank account number was applied for this promotion before, u cannot withdraw your money with this bank account...'"></span>
                        </div>
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Banner Show on Main Page:</label>
                            </div>
                            <div class="input-group col-1">
                                <label class="container">
                                    <input type="checkbox" id="chk_isMainPage">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <span id="question" class="fa fa-question-circle" title="if this checkbox is checked, this promotion banner image will show on home page's promotion slide show."></span>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Discount Type :</label>
                            </div>
                            <div class="input-group col-9">
                                <select #discountTypeSelect
                                        class="form-control"
                                        id="txt_discountTypeId"
                                        [(ngModel)]="T"
                                        [ngModelOptions]="{standalone: true}"
                                        (change)='onDiscountTypeSelected(discountTypeSelect.value)'>
                                    <option [value]="c.id"
                                            *ngFor="let c of Type"
                                            [ngValue]="c">
                                        {{c.type}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row col-md-6">
                            <ng-container *ngIf="showDiscount">
                                <div class="col-3">
                                    <label style="float:right;clear:both;padding-top:6px">Discount :</label>
                                </div>
                                <div class="input-group col-9">
                                    <input id="txt_discountId" type="number" class="form-control" [(ngModel)]="discountValue" [ngModelOptions]="{standalone: true}" />
                                </div>
                            </ng-container>
                            <ng-container *ngIf="showPromotionFixedBonus">
                                <div class="scrollit">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <td>
                                                    <div style="display: flex;">
                                                        <label class="container">
                                                            <h5 style="text-align: left;">Deposit Amount</h5>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div style="display: flex;">
                                                        <label class="container">
                                                            <h5 style="text-align: left;">Bonus Amount</h5>
                                                        </label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody style="text-align:right">
                                            <ng-container *ngFor='let promotionFixedBonusAmountValue of promotionFixedBonusAmount; let i = index'>
                                                <tr>
                                                    <td>
                                                        <input id="txt_depositAmount_{{i}}"
                                                               type="number"
                                                               class="form-control"
                                                               [(ngModel)]="promotionFixedBonusAmountValue.depositAmount"
                                                               [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                    <td>
                                                        <input id="txt_bonusAmount_{{i}}"
                                                               type="number"
                                                               class="form-control"
                                                               [(ngModel)]="promotionFixedBonusAmountValue.bonusAmount"
                                                               [ngModelOptions]="{standalone: true}">
                                                    </td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <br />
                    <div class="row col-md-12">
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Title :</label>
                            </div>
                            <div class="input-group col-9">
                                <input id="txt_titleId" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Sequence :</label>
                            </div>
                            <div class="input-group col-9">
                                <select class="form-control" [(ngModel)]="list" [ngModelOptions]="{standalone: true}" id="ddlSequence">
                                    <option [value]="c.id" *ngFor="let c of listType" [ngValue]="c">{{c.sequence}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row col-md-12">
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Upload Desktop Files :</label>
                            </div>
                            <div class="input-group col-9">
                                <input type="file" (change)="fileSelectDestop($event)" />
                            </div>
                        </div>
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Language :</label>
                            </div>
                            <div class="input-group col-9">
                                <select class="form-control" id="ddlLanguage">
                                    <option [value]="c.id" *ngFor="let c of Language" [ngValue]="c">{{c.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row col-md-12">
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Upload Mobile Files:</label>
                            </div>
                            <div class="input-group col-9">
                                <input type="file" (change)="fileSelectMobile($event)" />
                            </div>
                        </div>
                        <ng-container *ngIf="showMaxBonus">
                            <div class="row col-md-6">
                                <div class="col-3">
                                    <label style="float:right;clear:both;padding-top:6px">Max Bonus :</label>
                                </div>
                                <div class="input-group col-9">
                                    <input id="txt_maxbonus" type="number" class="form-control" [(ngModel)]="maxBonusValue" [ngModelOptions]="{standalone: true}" />
                                </div>
                            </div>
                        </ng-container>
                        <!--<div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Turnover Time :</label>
                            </div>
                            <div class="input-group col-9">
                                <div class="form-control">
                                    <ngx-select-dropdown tabindex="0" [multiple]="false" [config]="config" (change)="OnSelect($event)" [options]="quantities"></ngx-select-dropdown>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <br />
                    <div class="row col-md-12">
                        <div class="row col-md-6">
                            <ng-container *ngIf="showMinDeposit">
                                <div class="col-3">
                                    <label style="float:right;clear:both;padding-top:6px">Min. Deposit :</label>
                                </div>
                                <div class="input-group col-9">
                                    <input id="txt_minDepositAmount" type="number" class="form-control" [(ngModel)]="minDepositValue" [ngModelOptions]="{standalone: true}" />
                                </div>
                            </ng-container>
                            <br /><br />
                        </div>
                    </div>
                    <br />
                    <div class="row col-md-12">
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Bet Limit :</label>
                            </div>
                            <div class="input-group col-1">
                                <label class="container">
                                    <input type="checkbox" id="chk_isYeeBetBetLimit">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div>
                                <label>
                                    Enable YeeBet Promotion Bet Limit
                                </label>
                            </div>
                            <span id="question"
                                  class="fa fa-question-circle"
                                  title="1) deposit &gt;=10 bet limit 1-100 2) deposit &gt;=2000 bet limit 5-300 3) deposit &gt;=10000 bet limit 10-500 4) deposit &gt;=20000 bet limit 10- 1000">
                            </span>
                        </div>
                    </div>
                    <br />
                    <div class="row col-md-12">
                        <!--<div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">WinTurn :</label>
                            </div>
                            <div class="input-group col-9">
                                <div class="form-control">
                                    <ngx-select-dropdown tabindex="0" [multiple]="false" [config]="configWinTurn" (change)="OnSelectWinTurn($event)" [options]="WinTurnquantities"></ngx-select-dropdown>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <br />
                    <div class="col-11 offset-1">
                        <form name="demo" style="display:flex;">
                            <label class="container col-2 remover-margin ">
                                Turnover
                                <input type="radio" name="radio" (change)="UpdateOverSetting('Turnover',$event.target.checked)">
                                <span class="checkmarkRadio"></span>
                            </label>
                            <!--<label class="container col-2 remover-margin ">
                                Winover
                                <input type="radio" name="radio" (change)="UpdateOverSetting('Winover',$event.target.checked)">
                                <span class="checkmarkRadio"></span>
                            </label>-->
                        </form>
                        <br /><br />
                        <div class="input-group col-2">
                            <div class="form-control">
                                <ngx-select-dropdown tabindex="0" [multiple]="false" [config]="configWinTurn" (change)="OnSelectWinTurn($event)" [options]="WinTurnquantities"></ngx-select-dropdown>
                            </div>
                        </div>
                        <br /><br />
                        <h3>Game</h3>
                        <div class="row col-md-12" id="turnover_CheckBoxs" [style.display]="displayTurnoverCategory ? 'flex' : 'none'">
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="ag_id" /> &nbsp; &nbsp;
                                <label> AG </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="dg_id" /> &nbsp; &nbsp;<label> DG </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="sa_id" /> &nbsp; &nbsp;<label> SA </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="playtech_id" /> &nbsp; &nbsp;<label> Playtech </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="playtechSlots_id" /> &nbsp; &nbsp;<label> Playtech Slots</label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="sexybaccarat_id" /> &nbsp; &nbsp;<label> Sexy B. </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="wm_id" /> &nbsp; &nbsp;<label> WM </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="allbet_id" /> &nbsp; &nbsp;<label> AllBet </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="pragmatic_id" /> &nbsp; &nbsp;<label> Pragmatic </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="maxbet_id" /> &nbsp; &nbsp;<label> Maxbet </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="m8" /> &nbsp; &nbsp;<label> M8 </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="918Kiss_id" /> &nbsp; &nbsp;<label> 918Kiss </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="joker_id" /> &nbsp; &nbsp;<label> Joker </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="mega888_id" /> &nbsp; &nbsp;<label> Mega888 </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="pussy888_id" /> &nbsp; &nbsp;<label> Pussy888 </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="YeeBet_id" /> &nbsp; &nbsp;<label> YeeBet </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="SBO_id" /> &nbsp; &nbsp;<label>SBO</label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="GamePlayCasino_id" /> &nbsp; &nbsp;<label>GamePlay Live Casino</label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="GamePlaySlot_id" /> &nbsp; &nbsp;<label>GamePlay Slot</label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="CQ9Slot_id" /> &nbsp; &nbsp;<label>CQ9 Slot</label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="JDBSlot_id" /> &nbsp; &nbsp;<label>JDB Slot</label>
                            </div>
                        </div>
                        <!--<div class="row col-md-12" id="winover_CheckBoxs" [style.display]="displayWinoverCategory ? 'flex' : 'none'">
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="918Kiss_id" /> &nbsp; &nbsp;<label> 918Kiss </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="joker_id" /> &nbsp; &nbsp;<label> Joker </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="mega888_id" /> &nbsp; &nbsp;<label> Mega888 </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="pussy888_id" /> &nbsp; &nbsp;<label> Pussy888 </label>
                            </div>
                        </div>-->
                        <br /><br />
                        <h3>Promotion Category</h3>
                        <div class="row col-md-12">
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="newmember_id" /> &nbsp; &nbsp;
                                <label> New Member </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="sports_id" /> &nbsp; &nbsp;<label> Sports </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="casino_id" /> &nbsp; &nbsp;<label> Casino </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="slot_id" /> &nbsp; &nbsp;<label> Slot </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="rebate_id" /> &nbsp; &nbsp;<label> Rebate </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="limitedtime_id" /> &nbsp; &nbsp;<label> Limited Time </label>
                            </div>
                        </div>
                        <br /><br />
                        <h3>Apply For User Level Promotion</h3>
                        <div class="row col-md-12">
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="normal_id" /> &nbsp; &nbsp;
                                <label> Normal </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="Bronze_id" /> &nbsp; &nbsp;<label> Bronze </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="silver_id" /> &nbsp; &nbsp;<label> Silver </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="gold_id" /> &nbsp; &nbsp;<label> Gold </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="platinum_id" /> &nbsp; &nbsp;<label> Platinum </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="diamond_id" /> &nbsp; &nbsp;<label> Diamond </label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row col-md-12">
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Description :</label>
                            </div>
                        </div>
                    </div>
                    <div style="margin-left: 100px;margin-right: 105px; background-color:aliceblue">
                        <ckeditor id="txt_descriptionId" [editor]="Editor" data="" (ready)="onReady($event)" (change)="onChange($event)"></ckeditor>
                    </div>
                    <hr />
                    <div align="center">
                        <button class="btn btn-block btn-primary mt-3" [disabled]="disabled" type="submit" (click)="addPromotion()" style="max-width:200px;align-content:center">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>