<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a routerLink="/admin/dashboard">Dashboard</a>
    </li>
    <li class="breadcrumb-item">
        Change Password
    </li>
</ol>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <form [formGroup]="valForm" class="form-horizontal" (submit)="changePassword($event, valForm.value)"
                novalidate="">
                <div class="card card-default">
                    <div class="card-body">
                        <fieldset class="b0">
                            <legend>Change Password</legend>
                        </fieldset>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <input class="form-control" type="password" formControlName="CurrentPassword"
                                    placeholder="Current Password" />
                                <span class="text-danger" *ngIf="valForm.controls['CurrentPassword'].hasError('required') && (valForm.controls['CurrentPassword'].dirty || valForm.controls['CurrentPassword'].touched)">This
                                    field is required</span>
                                <span class="text-danger" *ngIf="valForm.controls['CurrentPassword'].hasError('minlength') && (valForm.controls['CurrentPassword'].dirty || valForm.controls['CurrentPassword'].touched)">This
                                    value is too short. It should have 6 characters or more</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <input class="form-control" type="password" formControlName="Password" [formControl]="valForm.get('Password')"
                                    placeholder="New Password" />
                                <span class="text-danger" *ngIf="valForm.controls['Password'].hasError('required') && (valForm.controls['Password'].dirty || valForm.controls['Password'].touched)">This
                                    field is required</span>
                                <span class="text-danger" *ngIf="valForm.controls['Password'].hasError('minlength') && (valForm.controls['Password'].dirty || valForm.controls['Password'].touched)">This
                                    value is too short. It should have 6 characters or more</span>
                                <span class="text-danger" *ngIf="valForm.controls['Password'].hasError('pattern') && (valForm.controls['Password'].dirty || valForm.controls['Password'].touched)">Password must contains one upper, one lower, one digit and one special character. </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <input class="form-control" type="password" formControlName="ConfirmPassword"
                                    [formControl]="valForm.get('ConfirmPassword')" placeholder="Confirm Password" />
                                <div class="text-danger" *ngIf="valForm.get('ConfirmPassword').hasError('equalTo')">Confirm
                                    password does not match</div>
                                <span class="text-danger" *ngIf="valForm.controls['ConfirmPassword'].hasError('required') && (valForm.controls['ConfirmPassword'].dirty || valForm.controls['ConfirmPassword'].touched)">This
                                    field is required</span>
                            </div>
                            <span class="text-danger" *ngIf="valForm.controls['ConfirmPassword'].hasError('minlength') && (valForm.controls['ConfirmPassword'].dirty || valForm.controls['ConfirmPassword'].touched)">This
                                value is too short. It should have 6 characters or more</span>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3">
                                <button class="btn btn-info" type="submit">Update Password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>