<div>
    <ngx-datatable class="bootstrap no-detail-row"
                   [rows]="rows"
                   [columns]="[{ prop: 'Name' }, { prop: 'Gender' }, { prop: 'Company' }]"
                   [columnMode]="'force'"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   rowHeight="auto"
                   [externalPaging]="true"
                   [count]="totalRecord"
                   [offset]="offset"
                   [limit]="pageZise"
                   (page)="setPage($event)">
    </ngx-datatable>
</div>