<div>
    <ngx-datatable class="bootstrap no-detail-row"
                   [rows]="rows"
                   [columns]="[{ name: 'Name' }, { name: 'Gender' }, { name: 'Company' }]"
                   [columnMode]="'force'"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   rowHeight="auto"
                   [externalPaging]="true"
                   [count]="100"
                   [offset]="0"
                   [limit]="10"
                   (page)="setPage($event)">
    </ngx-datatable>
</div>