
<div class="my-container">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-4">
                    <legend class="main-title">VIP PAGE SETTING</legend>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-2">
                    <h4>Normal</h4>
                </div>
                <div class="col-xs-2">
                    <h4>Brooze</h4>
                </div>
                <div class="col-xs-2">
                    <h4>Silver</h4>
                </div>
                <div class="col-xs-2">
                    <h4>Gold</h4>
                </div>
                <div class="col-xs-2">
                    <h4>Platinum</h4>
                </div>
                <div class="col-xs-2">
                    <h4>Diamond</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <h4>DEPOSIT</h4>
                </div>
                <div class="col-xs-2">
                    <input id="depositNormal" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="depositBrooze" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="depositSilver" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="depositGold" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="depositPlatinum" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="depositDiamond" type="number" />
                </div>
            </div>
            <br />
            <div class="row ">
                <div class="col-xs-2">
                    <h4>Weekly Extra Free CREDIT**</h4>
                </div>
                <div class="col-xs-2">
                    <input id="weekelyCredNormal" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="weekelyCredBrooze" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="weekelyCredSilver" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="weekelyCredGold" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="weekelyCredPlatinum" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="weekelyCredDiamond" type="number" />
                </div>
            </div>
            <br />
            <div class="row ">
                <div class="col-xs-2">
                    <h4>Birthday Bonus</h4>
                </div>
                <div class="col-xs-2">
                    <input id="birthdayBonusNormal" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="birthdayBonusBrooze" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="birthdayBonusSilver" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="birthdayBonusGold" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="birthdayBonusPlatinum" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="birthdayBonusDiamond" type="number" />
                </div>
            </div>
            <br />
            <div class="row ">
                <div class="col-xs-2">
                    <h4>Live CASICNO & SLOT REBATE</h4>
                </div>
                <div class="col-xs-2">
                    <input id="liveCasinoSportRebateNormal" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="liveCasinoSportRebateBrooze" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="liveCasinoSportRebateSilver" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="liveCasinoSportRebateGold" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="liveCasinoSportRebatePlatinum" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="liveCasinoSportRebateDiamond" type="number" />
                </div>
            </div>
            <br />
            <div class="row ">
                <div class="col-xs-2">
                    <h4>SPORT BOOK REBATE</h4>
                </div>
                <div class="col-xs-2">
                    <input id="sportBookRebateNormal" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="sportBookRebateBrooze" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="sportBookRebateSilver" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="sportBookRebateGold" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="sportBookRebatePlatinum" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="sportBookRebateDiamond" type="number" />
                </div>
            </div>
            <br />
            <div class="row ">
                <div class="col-xs-2">
                    <h4>918kiss and pussy lose reabate</h4>
                </div>
                <div class="col-xs-2">
                    <input id="kissandPussyRebateNormal" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="kissandPussyRebateBrooze" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="kissandPussyRebateSilver" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="kissandPussyRebateGold" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="kissandPussyRebatePlatinum" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="kissandPussyRebateDiamond" type="number" />
                </div>
            </div>
            <br />
            <div class="row ">
                <div class="col-xs-2">
                    <h4>Withdraw Times</h4>
                </div>
                <div class="col-xs-2">
                    <input id="withdrawTimeNormal" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="withdrawTimeBrooze" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="withdrawTimeSilver" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="withdrawTimeGold" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="withdrawTimePlatinum" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="withdrawTimeDiamond" type="number" />
                </div>
            </div>
            <br />
            <div class="row ">
                <div class="col-xs-2">
                    <h4>Withdraw Amount</h4>
                </div>
                <div class="col-xs-2">
                    <input id="withdrawAmountNormal" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="withdrawAmountBrooze" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="withdrawAmountSilver" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="withdrawAmountGold" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="withdrawAmountPlatinum" type="number" />
                </div>
                <div class="col-xs-2">
                    <input id="withdrawAmountDiamond" type="number" />
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="row col-12">
                <div class="col-4">
                    <h3>WEEKLY FREE CREDIT MIN DEPOSIT AMOUNT</h3>
                </div>
                <div class="col-1">
                    <input  id="weeklyFreeCreditMinDepositAmount"  type="number" />
                </div>
            </div>
            <div class="row col-12">
                <div class="col-4">
                    <h3>WEEKLY FREE CREDIT TURNOVER WITHDRAW</h3>
                </div>
                <div class="col-lg-2 col-xs-4">
                    <ngx-select-dropdown tabindex="0" [multiple]="false"
                                         [config]="config" [options]="promotionData" (change)="onChange($event)"></ngx-select-dropdown>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-block btn-primary mt-3" [disabled]="disabled" type="submit" (click)="addVIPcategory()" style="max-width:200px;align-content:center">Submit</button>
</div>