<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a routerLink="/admin/customers/admin-list">Admin List</a>
    </li>
    <li class="breadcrumb-item">
        Add Admin
    </li>
</ol>

<div class="my-container col-md-12">
    <div class="card card-default">
        <div class="card-body">
            <legend style="align-content:center">Add Admin</legend>
            <div class="row">
                <div class="col-lg-12">
                    <form class="text-center border border-light p-5">
                            <div class="row col-md-12">
                                <label class="col-md-4" style="text-align:right;font-size:20px">Username</label>
                                <input type="text" id="txt_username" class="form-control col-md-4 mb-4" placeholder="" value="">
                            </div>
                            <div class="row col-md-12">
                                <label class="col-md-4" style="text-align:right;font-size:20px">Password</label>
                                <input type="text" id="txt_password" class="form-control col-md-4 mb-4" placeholder="" value="">
                            </div>
                            <div class="row col-lg-12">
                                <span class="col-md-5"></span>
                                <button class="btn btn-info col-md-2 mb-2" style="text-align:right;font-size:20px" type="submit" disabled>Change Password</button>
                            </div>
                        
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="text-center border border-dark p-5">

                                        <div class="row col-lg-12">
                                            <span class="col-md-4 mb-4">
                                                <button class="btn btn-info col-md-8 mb-2" style="text-align:center;font-size:20px" type="submit" (click)="checkUncheckAll(false)">Clear all</button>
                                            </span>
                                            <span class="col-md-4 mb-4">
                                                <button class="btn btn-info col-md-8 mb-2" style="text-align: center;font-size: 20px" type="submit" (click)="checkUncheckAll(true)">Check All</button>
                                            </span>
                                            <span class="col-md-4 mb-4">
                                                <button class="btn btn-info col-md-8 mb-2" style="text-align: center;font-size: 20px" type="submit" (click)="addAdmin()">Save Changes</button>
                                            </span>
                                        </div>

                                        <div class="row col-md-12" style="margin:10px 0 0 0;">
                                            <p style="text-align:center;font-size: 20px;">
                                                <u>Page Access right</u>
                                            </p>
                                        </div>

                                        <div class="row col-md-12" style="margin:10px 0 0 0;">
                                            <p style="text-align:center;font-size: 20px;">
                                                Note: To access the child menu you must have to give permission to their parent menu.
                                            </p>
                                        </div>

                                        <!--<div class="row col-md-12">
                                            <span *ngFor='let item of defaultPermissionsList'>
                                                <span *ngIf="item.IsChecked">
                                                    <span>{{item.text}}</span>
                                                    <span *ngFor='let defaultPermissions of item.Permissions'>
                                                        <input type="checkbox"
                                                               id={{defaultPermissions.Id}}
                                                               name={{defaultPermissions.text}}
                                                               [checked]="defaultPermissions.IsChecked">
                                                        <span>{{defaultPermissions.text}}</span>
                                                    </span>
                                                    <span *ngIf="item.submenu">
                                                        <span *ngFor='let subitem of item.submenu'>
                                                            <span *ngIf="subitem.IsChecked">
                                                                <span>{{subitem.text}}</span>
                                                                <span *ngFor='let defaultPermissions of subitem.Permissions'>
                                                                    <input type="checkbox"
                                                                           id={{defaultPermissions.Id}}
                                                                           name={{defaultPermissions.text}}
                                                                           [checked]="defaultPermissions.IsChecked">
                                                                    <span>{{defaultPermissions.text}}</span>
                                                                </span>
                                                                <span *ngIf="subitem.submenu">
                                                                    <span *ngFor='let subsubitem of subitem.submenu'>
                                                                        <span *ngIf="subsubitem.IsChecked">
                                                                            <span>{{subsubitem.text}}</span>
                                                                            <span *ngFor='let defaultPermissions of subsubitem.Permissions'>
                                                                                <input type="checkbox"
                                                                                       id={{defaultPermissions.Id}}
                                                                                       name={{defaultPermissions.text}}
                                                                                       [checked]="defaultPermissions.IsChecked"
                                                                                       (click)='getList(defaultPermissions.IsChecked)'
                                                                                       (change)="getList2($event,defaultPermissions.Id,subsubitem.Id)">
                                                                                <span>{{defaultPermissions.text}}</span>
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </div>-->

                                        <div class="row col-md-12 table-responsive">
                                            <table class="table">

                                                <thead>
                                                    <tr>
                                                        <td><h5></h5></td>
                                                        <td>
                                                            <div class="col-lg-3" style="display: flex;">
                                                                <div class="">
                                                                    <label class="container">
                                                                        <h5 style="font-weight: 600; font-size: 16px;">View</h5>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="col-lg-3" style="display: flex;">
                                                                <div class="">
                                                                    <label class="container">
                                                                        <h5 style="font-weight: 600; font-size: 16px;">Change/Delete</h5>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="col-lg-3" style="display: flex;">
                                                                <div class="">
                                                                    <label class="container">
                                                                        <h5 style="font-weight: 600; font-size: 16px;">Add</h5>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </thead>

                                                <tbody style="text-align:left">
                                                    <ng-container *ngFor='let item of defaultPermissionsList; let i = index'>
                                                        <ng-container *ngIf="item.IsActive">
                                                            <tr>
                                                                <td><h5 style="font-weight: 600; font-size: 16px;">{{item.text}}</h5></td>
                                                                <td *ngFor='let defaultPermissions of item.Permissions; let j = index'>
                                                                    <div class="col-lg-3" style="display: flex;" *ngIf="defaultPermissions.IsShow">
                                                                        <div class="">
                                                                            <label class="container">
                                                                                <input type="checkbox"
                                                                                       id={{defaultPermissions.Id}}
                                                                                       (change)="getUpdatedPermissionsList(defaultPermissionsList,item,defaultPermissions.text,j,item)"
                                                                                       name="{{defaultPermissions.text}}-{{i}}-{{j}}"
                                                                                       [(ngModel)]="defaultPermissions.IsChecked"
                                                                                       [disabled]="defaultPermissions.IsDisabled">
                                                                                <span class="checkmark"></span>
                                                                                <!--<span> {{defaultPermissions.text}}</span>-->
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <!--<div class="p-2"><h4>{{defaultPermissions.IsChecked}}+/+{{defaultPermissions.IsDisabled}}</h4></div>--> <!--For Testing-->
                                                                </td>
                                                            </tr>

                                                            <ng-container *ngIf="item.submenu">
                                                                <ng-container *ngFor='let subitem of item.submenu; let k = index'>
                                                                    <ng-container *ngIf="subitem.IsActive">
                                                                        <tr>
                                                                            <td><h5 style="font-weight: 600; font-size: 16px; margin-left:50px">{{subitem.text}}</h5></td>
                                                                            <td *ngFor='let defaultPermissions of subitem.Permissions; let l = index'>
                                                                                <div class="col-lg-3" style="display: flex;" *ngIf="defaultPermissions.IsShow">
                                                                                    <div class="">
                                                                                        <label class="container">
                                                                                            <input type="checkbox"
                                                                                                   id={{defaultPermissions.Id}}
                                                                                                   (change)="getUpdatedPermissionsList(defaultPermissionsList,subitem,defaultPermissions.text,l,item,subitem)"
                                                                                                   name="{{defaultPermissions.text}}-{{i}}-{{j}}-{{k}}-{{l}}"
                                                                                                   [(ngModel)]="defaultPermissions.IsChecked"
                                                                                                   [disabled]="defaultPermissions.IsDisabled">
                                                                                            <span class="checkmark"></span>
                                                                                            <!--<span> {{defaultPermissions.text}}</span>-->
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                                <!--<div class="p-2"><h4>{{defaultPermissions.IsChecked}}+/+{{defaultPermissions.IsDisabled}}</h4></div>--> <!--For Testing-->
                                                                            </td>
                                                                        </tr>

                                                                        <ng-container *ngIf="subitem.submenu">
                                                                            <ng-container *ngFor='let subsubitem of subitem.submenu; let m = index'>
                                                                                <ng-container *ngIf="subsubitem.IsActive">
                                                                                    <tr>
                                                                                        <td><h5 style="font-weight: 600; font-size: 16px; margin-left: 100px;">{{subsubitem.text}}</h5></td>
                                                                                        <td *ngFor='let defaultPermissions of subsubitem.Permissions; let n = index'>
                                                                                            <div class="col-lg-3" style="display: flex;" *ngIf="defaultPermissions.IsShow">
                                                                                                <div class="">
                                                                                                    <label class="container">
                                                                                                        <input type="checkbox"
                                                                                                               id={{defaultPermissions.Id}}
                                                                                                               (change)="getUpdatedPermissionsList(defaultPermissionsList,subsubitem,defaultPermissions.text,n,item,subitem,subsubitem)"
                                                                                                               name="{{defaultPermissions.text}}-{{i}}-{{j}}-{{k}}-{{l}}-{{m}}-{{n}}"
                                                                                                               [(ngModel)]="defaultPermissions.IsChecked"
                                                                                                               [disabled]="defaultPermissions.IsDisabled">
                                                                                                        <span class="checkmark"></span>
                                                                                                        <!--<span> {{defaultPermissions.text}}</span>-->
                                                                                                    </label>
                                                                                                </div>
                                                                                            </div>
                                                                                            <!--<div class="p-2"><h4>{{defaultPermissions.IsChecked}}+/+{{defaultPermissions.IsDisabled}}</h4></div>--> <!--For Testing-->
                                                                                        </td>
                                                                                    </tr>
                                                                                </ng-container>
                                                                            </ng-container>
                                                                        </ng-container>
                                                                    </ng-container>
                                                                </ng-container>
                                                            </ng-container>
                                                        </ng-container>
                                                    </ng-container>
                                                </tbody>
                                            </table>
                                        </div>

                                        <!-- This is permission list With Out table staructure -->
                                        <!--<div class="row col-md-12">
                                            <ul style="list-style-type:none;">
                                                <li *ngFor='let item of defaultPermissionsList; let i = index'>
                                                    <ul *ngIf="item.IsChecked"
                                                        style="list-style-type:none;">
                                                        <span style="margin:10px;">{{item.text}}</span>
                                                        <span style="margin:10px;"
                                                              *ngFor='let defaultPermissions of item.Permissions; let j = index'>
                                                            <input type="checkbox"
                                                                   id={{defaultPermissions.Id}}
                                                                   (change)="getUpdatedPermissionsList(defaultPermissionsList)"
                                                                   name="{{defaultPermissions.text}}-{{i}}-{{j}}"
                                                                   [(ngModel)]="defaultPermissions.IsChecked">
                                                            <span> {{defaultPermissions.text}}</span>
                                                        </span>
                                                        <li>
                                                            <ul *ngIf="item.submenu"
                                                                style="list-style-type:none;">
                                                                <li *ngFor='let subitem of item.submenu; let k = index'
                                                                    style="list-style-type:none;">
                                                                    <ul *ngIf="subitem.IsChecked"
                                                                        style="list-style-type:none;">
                                                                        <span style="margin:10px;">{{subitem.text}}</span>
                                                                        <span style="margin:10px;"
                                                                              *ngFor='let defaultPermissions of subitem.Permissions; let l = index'>
                                                                            <input type="checkbox"
                                                                                   id={{defaultPermissions.Id}}
                                                                                   (change)="getUpdatedPermissionsList(defaultPermissionsList)"
                                                                                   name="{{defaultPermissions.text}}-{{i}}-{{j}}-{{k}}-{{l}}"
                                                                                   [(ngModel)]="defaultPermissions.IsChecked">
                                                                            <span> {{defaultPermissions.text}}</span>
                                                                        </span>
                                                                    </ul>
                                                                    <ul *ngIf="subitem.submenu"
                                                                        style="list-style-type:none;">
                                                                        <li *ngFor='let subsubitem of subitem.submenu; let m = index'>
                                                                            <ul *ngIf="subsubitem.IsChecked"
                                                                                style="list-style-type:none;">
                                                                                <span style="margin:10px;">{{subsubitem.text}}</span>
                                                                                <span style="margin:10px;"
                                                                                      *ngFor='let defaultPermissions of subsubitem.Permissions; let n = index'>
                                                                                    <input type="checkbox"
                                                                                           id={{defaultPermissions.Id}}
                                                                                           (change)="getUpdatedPermissionsList(defaultPermissionsList)"
                                                                                           name="{{defaultPermissions.text}}-{{i}}-{{j}}-{{k}}-{{l}}-{{m}}-{{n}}"
                                                                                           [(ngModel)]="defaultPermissions.IsChecked">
                                                                                    <span> {{defaultPermissions.text}}</span>
                                                                                </span>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>-->
                                        <!-- This is permission list -->
                                        <!--<div class="row col-md-12">

                                            <ul style="list-style-type:none;">

                                                <li *ngFor='let item of defaultPermissionsList let i = index'>

                                                    <ul *ngIf="item.IsChecked" style="list-style-type:none;">
                                                        <span>{{item.text}}</span>
                                                        <span *ngFor='let defaultPermissions of item.Permissions let i = index'>
                                                            <input type="checkbox"
                                                                   id={{defaultPermissions.Id}}
                                                                   [checked]="defaultPermissions.IsChecked">
                                                            <span>{{defaultPermissions.text}}</span>
                                                        </span>
                                                    </ul>

                                                    <ul *ngIf="item.submenu" style="list-style-type:none;">

                                                        <li *ngFor='let subitem of item.submenu let i = index' style="list-style-type:none;">

                                                            <ul *ngIf="subitem.IsChecked" style="list-style-type:none;">
                                                                <span>{{subitem.text}}</span>
                                                                <span *ngFor='let defaultPermissions of subitem.Permissions let i = index'>
                                                                    <input type="checkbox"
                                                                           id={{defaultPermissions.Id}}
                                                                           [checked]="defaultPermissions.IsChecked">
                                                                    <span>{{defaultPermissions.text}}</span>
                                                                </span>
                                                            </ul>

                                                            <ul *ngIf="subitem.submenu" style="list-style-type:none;">
                                                                <li *ngFor='let subsubitem of subitem.submenu let i = index'>
                                                                    <ul *ngIf="subsubitem.IsChecked" style="list-style-type:none;">
                                                                        <span>{{subsubitem.text}}</span>
                                                                        <span *ngFor='let defaultPermissions of subsubitem.Permissions let i = index'>
                                                                            <input type="checkbox"
                                                                                   id={{defaultPermissions.Id}}
                                                                                   [checked]="defaultPermissions.IsChecked"
                                                                                   (click)='getList(defaultPermissions.IsChecked)'
                                                                                   (change)="getList2($event,defaultPermissions.Id,subsubitem.Id)">
                                                                            <span>{{defaultPermissions.text}}</span>
                                                                        </span>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>-->
                                        <!-- Google -->
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="row col-md-12" style="margin:10px 0 0 0;">
                                                        <p style="text-align:center;font-size: 20px;"> <u>Manager Approve Permission</u></p>
                                                    </div>
                                                    <div class="text-center border border-dark p-5">
                                                        <div class="row col-md-12" style="text-align:center">
                                                            <input type="checkbox" style="height:25px; width:25px" />
                                                            <p style="text-align:center;font-size: 20px; margin-left:10px;">Google Authenticator</p>
                                                            <div class="row col-md-12">
                                                                <input type="text" id="txt_google_authenticator" class="form-control col-md-12 mb-4" placeholder="" value="">
                                                            </div>
                                                        </div>
                                                        <div class="row col-lg-12">
                                                            <span class="col-md-6 mb-4">
                                                                <button class="btn btn-info col-md-8 mb-2" style="text-align:center;font-size:20px" type="submit">Active</button>
                                                            </span>
                                                            <span class="col-md-6 mb-4">
                                                                <button class="btn btn-info col-md-8 mb-2" style="text-align: center;font-size: 20px" type="submit">Suspend</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>