<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a routerLink="/admin/customers/promotion-list">Promotion List</a>
    </li>
    <li class="breadcrumb-item">
        Edit Promotion
    </li>
</ol>
<div class="my-container">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-4">
                    <legend class="main-title">Promotion Edit</legend>
                </div>
            </div>
        </div>
        <div class="row card-body">
            <div class="col-md-12">
                <form class="border border-light p-5">
                    <div class="row col-md-12">
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Start Date :</label>
                            </div>
                            <div class="input-group col-9">
                                <input class="form-control" placeholder="yyyy-mm-dd"
                                       name="dp" ngbDatepicker #d="ngbDatepicker" value="{{startDate}}" id="dp_startDate">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">End Date :</label>
                            </div>
                            <div class="input-group col-9">
                                <input class="form-control" placeholder="yyyy-mm-dd"
                                       name="dp" ngbDatepicker #d_1="ngbDatepicker" value="{{endDate}}" id="dp_endDate">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d_1.toggle()" type="button"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row col-md-12">
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px;margin-top:35px">Start Time :</label>
                            </div>
                            <div class="input-group col-1">
                                <ngb-timepicker [(ngModel)]="timeStart" [meridian]="meridian" name="time" id="tp_startTime" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                            </div>
                        </div>
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px;margin-top:35px">End Time :</label>
                            </div>
                            <div class="input-group col-1">
                                <ngb-timepicker [(ngModel)]="timeEnd" [meridian]="true" name="time" id="tp_endTime" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
                            </div>
                        </div>
                    </div>

                    <div class="row col-md-12">
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Daily Onces Promotions :</label>
                            </div>
                            <div class="input-group col-1">
                                <label class="container">
                                    <input type="checkbox" [checked]="data.isdailyavail" id="chk_isdaily">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <span id="question" class="fa fa-question-circle" title="user only can apply this promotion for daily once, if user apply by today,after tomorrow 12:00AM, will consider as new day, user can apply promotion again."></span>
                        </div>
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Hide on Deposit Page :</label>
                            </div>
                            <div class="input-group col-1">
                                <label class="container">
                                    <input type="checkbox" [checked]="data.isdepositpage" id="chk_isdepositpage">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <span id="question" class="fa fa-question-circle" title="this promotion will not displayed on user and admin deposit page"></span>
                        </div>
                    </div>

                    <br />

                    <div class="row col-md-12">
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Admin Only :</label>
                            </div>
                            <div class="input-group col-1">
                                <label class="container">
                                    <input type="checkbox" [checked]="data.isadmin" id="chk_isAdmin">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <span id="question" class="fa fa-question-circle" title="only admin page will display this promotion, user cannot see on this promotion."></span>
                        </div>
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Per User Only :</label>
                            </div>
                            <div class="input-group col-1">
                                <label class="container">
                                    <input type="checkbox" [checked]="data.isperuseronly" id="chk_isPerUser">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <span id="question" class="fa fa-question-circle" title="one user only can apply this promotion one time, if user applied this promotion before, user permanant cannot apply this promotion any more"></span>
                        </div>
                    </div>
                    <br />
                    <div class="row col-md-12">
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Bank Account Claim Once:</label>
                            </div>
                            <div class="input-group col-1">
                                <label class="container">
                                    <input type="checkbox" [checked]="data.bankAccountClaimOnce" id="chk_isBankAccountClaimOnce">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <span id="question" class="fa fa-question-circle" title="if user A apply for this promotion A, and completed the promotion A and withdraw the monney with bank account numbers with 1234567890, and he create a new user B, apply for the same promotion A again, when user B complete promotion A, he cannot withdraw the money, will prompt error message,' your bank account number was applied for this promotion before, u cannot withdraw your money with this bank account...'"></span>
                        </div>
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Banner Show on Main Page:</label>
                            </div>
                            <div class="input-group col-1">
                                <label class="container">
                                    <input type="checkbox" [checked]="data.isMain" id="chk_isMainPage">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <span id="question" class="fa fa-question-circle" title="if this checkbox is checked, this promotion banner image will show on home page's promotion slide show."></span>
                        </div>
                    </div>

                    <div class="row col-md-12">
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Discount Type :</label>
                            </div>
                            <div class="input-group col-9">
                                <select class="form-control" id="txt_discountTypeId" [(ngModel)]="data.discountType" [ngModelOptions]="{standalone: true}">
                                    <option [value]="c.id" *ngFor="let c of Type" [selected]="c.id==data.discountType" [ngValue]="c">{{c.type}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Discount :</label>
                            </div>
                            <div class="input-group col-9">
                                <input id="txt_discountId" type="number" value="{{data.discount}}" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row col-md-12">
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Title :</label>
                            </div>
                            <div class="input-group col-9">
                                <input id="txt_titleId" type="text" value="{{data.title}}" class="form-control" />
                            </div>
                        </div>
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Sequence :</label>
                            </div>
                            <div class="input-group col-9">
                                <select class="form-control" [(ngModel)]="data.sequence" [ngModelOptions]="{standalone: true}" id="ddlSequence">
                                    <option [value]="c.id" *ngFor="let c of listType" [ngValue]="c">{{c.sequence}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row col-md-12">
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Upload Desktop Files :</label>
                            </div>
                            <div class="input-group col-9">
                                <input type="file" (change)="fileSelectDesktop($event)" />
                            </div>
                        </div>
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Language :</label>
                            </div>
                            <div class="input-group col-9">
                                <select class="form-control" id="ddlLanguage">
                                    <option [value]="c.id" *ngFor="let c of Language" [ngValue]="c" [selected]="c.id==data.languageId">{{c.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row col-md-12">
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Upload Mobile Files :</label>
                            </div>
                            <div class="input-group col-9">
                                <input type="file" (change)="fileSelectMobile($event)" />
                            </div>
                        </div>
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Max Bonus :</label>
                            </div>
                            <div class="input-group col-9">
                                <input id="txt_maxbonus" value="{{data.maxbonus}}" type="number" class="form-control" />
                            </div>
                        </div>
                        <!--<div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Turnover Time :</label>
                            </div>
                            <div class="input-group col-9">
                                <div class="form-control">
                                    <ngx-select-dropdown tabindex="0" [multiple]="false"
                                                         [(ngModel)]="selectedTurnOverValue" [ngModelOptions]="{standalone: true}" [config]="config" (change)="OnSelect($event)" [options]="quantities"></ngx-select-dropdown>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <br />
                    <div class="row col-md-12">

                        <!--<div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">WinTurn :</label>
                            </div>
                            <div class="input-group col-9">
                                <div class="form-control">
                                    <ngx-select-dropdown tabindex="0" [multiple]="false" [(ngModel)]="selectedWinTurnValue" [ngModelOptions]="{standalone: true}"
                                                         [config]="configWinTurn" (change)="OnSelectWinTurn($event)" [options]="WinTurnquantities"></ngx-select-dropdown>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <br /><br />
                    <div class="col-11 offset-1">
                        <form name="demo" style="display:flex;">
                            <label class="container col-1 remover-margin ">
                                Turnover
                                <input type="radio" name="radio" [checked]="turnoverCheck" (change)="UpdateOverSetting('Turnover',$event.target.checked)">
                                <span class="checkmarkRadio"></span>
                            </label>
                            <label class="container col-1 remover-margin ">
                                Winover
                                <input type="radio" name="radio" [checked]="winoverCheck" (change)="UpdateOverSetting('Winover',$event.target.checked)">
                                <span class="checkmarkRadio"></span>
                            </label>
                        </form>
                        <br /><br />
                        <div class="input-group col-2">
                            <div class="form-control">
                                <ngx-select-dropdown tabindex="0" [multiple]="false" [(ngModel)]="selectedWinTurnValue" [ngModelOptions]="{standalone: true}"
                                                     [config]="configWinTurn" (change)="OnSelectWinTurn($event)" [options]="WinTurnquantities"></ngx-select-dropdown>
                            </div>
                        </div>
                        <br /><br />
                        <h3>Game</h3>

                        <div class="row col-md-12" id="turnover_CheckBoxs" [style.display]="displayTurnoverCategory ? 'flex' : 'none'">
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="ag_id" [checked]="data.isAG" /> &nbsp; &nbsp;
                                <label> AG </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="dg_id" [checked]="data.isDG" /> &nbsp; &nbsp;<label> DG </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="sa_id" [checked]="data.isSA" /> &nbsp; &nbsp;<label> SA </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="playtech_id" [checked]="data.isPlaytech" /> &nbsp; &nbsp;<label> Playtech </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="sexybaccarat_id" [checked]="data.isSexyBaccarat" /> &nbsp; &nbsp;<label> Sexy B. </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="wm_id" [checked]="data.isWM" /> &nbsp; &nbsp;<label> WM </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="allbet_id" [checked]="data.isAllBet" /> &nbsp; &nbsp;<label> AllBet </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="pragmatic_id" [checked]="data.isPragmatic" /> &nbsp; &nbsp;<label> Pragmatic </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="maxbet_id" [checked]="data.isMaxbet" /> &nbsp; &nbsp;<label> Maxbet </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="m8" [checked]="data.isM8" /> &nbsp; &nbsp;<label> M8 </label>
                            </div>
                        </div>

                        <div class="row col-md-12" id="winover_CheckBoxs" [style.display]="displayWinoverCategory ? 'flex' : 'none'">
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="918Kiss_id" [checked]="data.is918Kiss" /> &nbsp; &nbsp;<label> 918Kiss </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="joker_id" [checked]="data.isJoker" /> &nbsp; &nbsp;<label> Joker </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="mega888_id" [checked]="data.isMega888" /> &nbsp; &nbsp;<label> Mega888 </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="pussy888_id" [checked]="data.isPussy888" /> &nbsp; &nbsp;<label> Pussy888 </label>
                            </div>
                        </div>

                        <br /><br />
                        <h3>Promotion Category</h3>

                        <div class="row col-md-12">
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="newmember_id" [checked]="data.isNewMember" /> &nbsp; &nbsp;
                                <label> New Member </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="sports_id" [checked]="data.isSports" /> &nbsp; &nbsp;<label> Sports </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="casino_id" [checked]="data.isCasino" /> &nbsp; &nbsp;<label> Casino </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="slot_id" [checked]="data.isSlots" /> &nbsp; &nbsp;<label> Slot </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="rebate_id" [checked]="data.isRebate" /> &nbsp; &nbsp;<label> Rebate </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="limitedtime_id" [checked]="data.isLimitedTime" /> &nbsp; &nbsp;<label> Limited Time </label>
                            </div>
                        </div>

                        <br /><br />
                        <h3>Applly For User Level Promotion</h3>

                        <div class="row col-md-12">
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="normal_id" [checked]="data.isNormal" /> &nbsp; &nbsp;
                                <label> Normal </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="Bronze_id" [checked]="data.isBronze" /> &nbsp; &nbsp;<label> Bronze </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="silver_id" [checked]="data.isSilver" /> &nbsp; &nbsp;<label> Silver </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="gold_id" [checked]="data.isGold" /> &nbsp; &nbsp;<label> Gold </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="platinum_id" [checked]="data.isPlatinum" /> &nbsp; &nbsp;<label> Platinum </label>
                            </div>
                            <div class="col-md-2" style="font-size:20px;">
                                <input type="checkbox" style="height:20px;width:20px;" id="diamond_id" [checked]="data.isDiamond" /> &nbsp; &nbsp;<label> Diamond </label>
                            </div>
                        </div>
                    </div>

                    <div class="row col-md-12">
                        <div class="row col-md-6">
                            <div class="col-3">
                                <label style="float:right;clear:both;padding-top:6px">Description :</label>
                            </div>
                        </div>
                    </div>
                    <div style="margin-left: 100px;margin-right: 105px; background-color:aliceblue">
                        <ckeditor id="txt_descriptionId" [editor]="Editor" data="{{data.description}}" (ready)="onReady($event)" (change)="onChange($event)"></ckeditor>
                    </div>
                    <hr />
                    <div align="center">
                        <button class="btn btn-block btn-primary mt-3" [disabled]="disabled" type="submit" (click)="UpdatePromotion()" style="max-width:200px;align-content:center">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>