<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<br />
<section class="section">
    <div class="content">
        <h3>Customer</h3>
        <div class="row">
            <div class="col-lg-4 col-xs-6">
                <a href="#" (click)="Navigation('Customer')" style="text-decoration:none">
                    <div class="small-box bg-info-light">
                        <div class="inner">
                            <h3>{{totalCustomer}}</h3>
                            <p>Total Customer</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-users fa-0.3x"></i>
                        </div>
                        <a href="#" class="small-box-footer"></a>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-xs-6">
                <a href="#" (click)="Navigation('Customer')" style="text-decoration:none">
                    <div class="small-box bg-success-light">
                        <div class="inner">
                            <h3>{{activeCustomer}}</h3>
                            <p>Active Customers</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-user fa-0.3x"></i>
                        </div>
                        <a href="#" class="small-box-footer"></a>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-xs-6">
                <a href="#" (click)="Navigation('Customer')" style="text-decoration:none">
                    <div class="small-box bg-danger-light">
                        <div class="inner">
                            <h3>{{deactiveCustomer}}</h3>
                            <p>Deactive Customers</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-user-times fa-0.3x"></i>
                        </div>
                        <a href="#" class="small-box-footer"></a>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<br />
<section class="section">
    <div class="content">
        <h3>Deposit</h3>
        <div class="row">
            <div class="col-lg-4 col-xs-6">
                <a href="#" (click)="Navigation('DepositPending')" style="text-decoration:none">
                    <div class="small-box bg-info-light">
                        <div class="inner">
                            <h3>{{depositPending}}</h3>
                            <p>Pending</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-money fa-0.3x"></i>
                        </div>
                        <a href="#" class="small-box-footer"></a>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-xs-6">
                <a href="#" (click)="Navigation('DepositApproved')" style="text-decoration:none">
                    <div class="small-box bg-success-light">
                        <div class="inner">
                            <h3>{{depositApproved}}</h3>
                            <p>Approved</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-check fa-0.3x"></i>
                        </div>
                        <a href="#" class="small-box-footer"></a>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-xs-6">
                <a href="#" (click)="Navigation('DepositRejected')" style="text-decoration:none">
                    <div class="small-box bg-danger-light">
                        <div class="inner">
                            <h3>{{depositRejected}}</h3>
                            <p>Rejected</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-close fa-0.3x"></i>
                        </div>
                        <a href="#" class="small-box-footer"></a>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<br />
<section class="section">
    <div class="content">
        <h3>Withdraw</h3>
        <div class="row">
            <div class="col-lg-4 col-xs-6">
                <a href="#" (click)="Navigation('WithdrowPending')" style="text-decoration:none">
                    <div class="small-box bg-info-light">
                        <div class="inner">
                            <h3>{{withdrowPending}}</h3>
                            <p>Pending</p>
                        </div>
                        <div class="icon">
                            <i class="fa  fa-money  fa-0.3x"></i>
                        </div>
                        <a href="#" class="small-box-footer"></a>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-xs-6">
                <a href="#" (click)="Navigation('WithdrowApproved')" style="text-decoration:none">
                    <div class="small-box bg-success-light">
                        <div class="inner">
                            <h3>{{withdrowApproved}}</h3>
                            <p>Approved</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-check fa-0.3x"></i>
                        </div>
                        <a href="#" class="small-box-footer"></a>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-xs-6">
                <a href="#" (click)="Navigation('WithdrowRejected')" style="text-decoration:none">
                    <div class="small-box bg-danger-light">
                        <div class="inner">
                            <h3>{{withdrowRejected}}</h3>
                            <p>Rejected</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-close fa-0.3x"></i>
                        </div>
                        <a href="#" class="small-box-footer"></a>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<br />
<section class="section">
    <div class="content">
        <h3>Stats</h3>
        <div class="row">
            <div class="col-lg-4 col-xs-4">
                <a href="#" (click)="Navigation('Announcement')" style="text-decoration:none">
                    <div class="small-box bg-info-light">
                        <div class="inner">
                            <h3>{{totalAnnouncement}}</h3>
                            <p>Total Announcement</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-bullhorn fa-0.3x"></i>
                        </div>
                        <a href="#" class="small-box-footer"></a>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-xs-4">
                <a href="#" (click)="Navigation('Transfer')" style="text-decoration:none">
                    <div class="small-box bg-success-light">
                        <div class="inner">
                            <h3>{{totalTransfer}}</h3>
                            <p>Total Transfer</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-server fa-0.3x"></i>
                        </div>
                        <a href="#" class="small-box-footer"></a>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-xs-4">
                <a href="#" (click)="Navigation('Bonus')" style="text-decoration:none">
                    <div class="small-box bg-danger-light">
                        <div class="inner">
                            <h3>{{totalBonus}}</h3>
                            <p>Total Bonus</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-money fa-0.3x"></i>
                        </div>
                        <a href="#" class="small-box-footer"></a>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-xs-6">
                <a href="#" (click)="Navigation('Promotion')" style="text-decoration:none">
                    <div class="small-box bg-warning-dark">
                        <div class="inner">
                            <h3>{{totalPromotion}}</h3>
                            <p>Total Promotion</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-gift fa-0.3x"></i>
                        </div>
                        <a href="#" class="small-box-footer"></a>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-xs-6">
                <a href="#" (click)="Navigation('Adjustment')" style="text-decoration:none">
                    <div class="small-box bg-warning-dark" style="background-color:mediumorchid;">
                        <div class="inner">
                            <h3>{{totalAdjustment}}</h3>
                            <p>Total Adjustment</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-sliders fa-0.3x"></i>
                        </div>
                        <a href="#" class="small-box-footer"></a>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<br />