<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a routerLink="/admin/customers/bonus-list">Bonus List</a>
    </li>
    <li class="breadcrumb-item">
        Add Bonus
    </li>
</ol>
<div class="my-container">
    <div class="card card-default">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-4">
                    <legend class="main-title">Bonus Add</legend>
                </div>
            </div>
        </div>
        <div class="row card-body">
            <div class="col-md-12">
                <form class="border border-light p-5" name="myForm">
                    <div class="row col-md-6">
                        <h3 class="col-md-4">Username</h3>
                        <h2 class="col-md-1">:</h2>
                        <div class="form-control col-md-4 mb-4">
                            <ngx-select-dropdown tabindex="0" [multiple]="false" [config]="config" [options]="customerData" (change)="onChange($event)"></ngx-select-dropdown>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="col-md-8">
                                <h3>Current Balance</h3>
                                <div class="row">
                                    <div class="col-sm-3 col-lg-3"><h5>Main Wallet :</h5></div>
                                    <div class="col-sm-3 col-lg-3"><h5>{{mainBal == null ? 'Select username.' : mainBal}}</h5></div>
                                    <div class="col-sm-3 col-lg-3"><h5>918 Kiss :</h5></div>
                                    <div class="col-sm-3 col-lg-3"><h5>{{kissBal == null ? 'Select username.' : kissBal}}</h5></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-lg-3"><h5>Palytech :</h5></div>
                                    <div class="col-sm-3 col-lg-3"><h5>{{playtechBal == null ? 'Select username.' : playtechBal}}</h5></div>
                                    <div class="col-sm-3 col-lg-3"><h5>M8 :</h5></div>
                                    <div class="col-sm-3 col-lg-3"><h5>{{m8Bal == null ? 'Select username.' : m8Bal}}</h5></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-lg-3"><h5>Joker :</h5></div>
                                    <div class="col-sm-3 col-lg-3"><h5>{{jokerBal == null ? 'Select username.' : jokerBal}}</h5></div>
                                    <div class="col-sm-3 col-lg-3"><h5>AG :</h5></div>
                                    <div class="col-sm-3 col-lg-3"><h5>{{agBal == null ? 'Select username.' : agBal}}</h5></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-lg-3"><h5>MaxBet :</h5></div>
                                    <div class="col-sm-3 col-lg-3"><h5>{{maxbetBal == null ? 'Select username.' : maxbetBal}}</h5></div>
                                    <div class="col-sm-3 col-lg-3"><h5>Mega888 :</h5></div>
                                    <div class="col-sm-3 col-lg-3"><h5>{{mega888Bal == null ? 'Select username.' : mega888Bal}}</h5></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-lg-3"><h5>DG :</h5></div>
                                    <div class="col-sm-3 col-lg-3"><h5>{{dgBal == null ? 'Select username.' : dgBal}}</h5></div>
                                    <div class="col-sm-3 col-lg-3"><h5>Sexy Baccarat :</h5></div>
                                    <div class="col-sm-3 col-lg-3"><h5>{{sexybaccaratBal == null ? 'Select username.' : sexybaccaratBal}}</h5></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-lg-3"><h5>SA :</h5></div>
                                    <div class="col-sm-3 col-lg-3"><h5>{{saBal == null ? 'Select username.' : saBal}}</h5></div>
                                    <div class="col-sm-3 col-lg-3"><h5>Pussy888 :</h5></div>
                                    <div class="col-sm-3 col-lg-3"><h5>{{Pussy888Bal == null ? 'Select username.' : Pussy888Bal}}</h5></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-lg-3"><h5>AllBet :</h5></div>
                                    <div class="col-sm-3 col-lg-3">
                                        <h5>{{allbetBal == null ? 'Select username.' : allbetBal}}</h5>
                                    </div>
                                    <div class="col-sm-3 col-lg-3"><h5>WM :</h5></div>
                                    <div class="col-sm-3 col-lg-3"><h5>{{wmBal == null ? 'Select username.' : wmBal}}</h5></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-lg-3"><h5>Pragmatic :</h5></div>
                                    <div class="col-sm-3 col-lg-3">
                                        <h5>{{pragmaticBal == null ? 'Select username.' : pragmaticBal}}</h5>
                                    </div>
                                    <div class="col-sm-3 col-lg-3"><h5>YeeBet :</h5></div>
                                    <div class="col-sm-3 col-lg-3">
                                        <h5>{{YeeBetBalance == null ? 'Select username.' : YeeBetBalance}}</h5>
                                    </div>
                                </div>
                                <br />
                                <div class="deposit-details">
                                    <ul>
                                        <li>
                                            <div class="left-part">Request</div>
                                            <div class="right-part">
                                                <select class="form-control" [(ngModel)]="selectedList1" [ngModelOptions]="{standalone: true}" id="ddl_wallettype">
                                                    <option [ngValue]="undefined" disabled selected> Please select Wallet type. </option>
                                                    <option *ngFor="let d of walletType" [value]="d.id">{{d.walletType}}</option>
                                                </select>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="left-part">Amount</div>
                                            <div class="right-part">
                                                <input type="text" id="txt_amount" />
                                            </div>
                                        </li>
                                        <li>
                                            <div class="left-part">Remark</div>
                                            <div class="right-part">
                                                <input type="text" name="name" id="txt_reference" />
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="step-seection">
                                <p>Step:3 <br />Choose your promotion</p>
                            </div>
                            <section class="select-checkboxes" style="overflow-y:auto;height:500px">
                                <ul class="promotion-choose" *ngFor="let item of promotionList; let i=index">
                                    <li class='mar-btm-ten'>
                                        <input type='radio' name='promotion' id={{this.promotionList[i].id}} value={{this.promotionList[i].id}} />
                                        <div class='border promotion-content' for='rad1'>
                                            <img style="height:100px" class='full-img' src='{{this.promotionList[i].bannerImage}}' />
                                            <p class='no-mar'>"{{this.promotionList[i].promotionTitle}}"</p>
                                        </div>
                                    </li>
                                </ul>
                            </section>
                        </div>
                    </div>
                    <button class="btn btn-block btn-primary mt-3" [disabled]="disabled" type="submit" (click)="addBonus()" style="max-width:200px;align-content:center">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>