<div class="wrapper">
    <div class="block-center mt-4 wd-xl">
        <!-- START card-->
        <div class="card card-flat">
            <div class="card-header text-center bg-dark">
                <a href="#">
                    <img class="block-center rounded" style="width:200px" src="../../assets/img/logo.gif" alt="Image" />
                </a>
            </div>
            <div class="card-body">
                <p class="text-center py-2" style="font-size:large">Reset Password.</p> 
                <form [formGroup]="resetPWDForm" class="form-validate mb-3" role="form" name="resetPWDForm" novalidate="" (submit)="passwordSubmit(resetPWDForm.value)">
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" type="password" formControlName="Password" [formControl]="resetPWDForm.get('Password')"
                            placeholder="New Password" />
                            <div class="input-group-append">
                                <span class="input-group-text fa fa-lock text-muted bg-transparent border-left-0"></span>
                            </div>
                        </div>
                        <span class="text-danger" *ngIf="resetPWDForm.controls['Password'].hasError('required') && (resetPWDForm.controls['Password'].dirty || resetPWDForm.controls['Password'].touched)">This
                                field is required</span>
                            <span class="text-danger" *ngIf="resetPWDForm.controls['Password'].hasError('minlength') && (resetPWDForm.controls['Password'].dirty || resetPWDForm.controls['Password'].touched)">This
                                value is too short. It should have 6 characters or more</span>
                            <span class="text-danger" *ngIf="resetPWDForm.controls['Password'].hasError('pattern') && (resetPWDForm.controls['Password'].dirty || resetPWDForm.controls['Password'].touched)">Password must contains one upper, one lower, one digit and one special character. </span>
                    </div>
                    <div class="form-group">
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0"  type="password" formControlName="ConfirmPassword"
                            [formControl]="resetPWDForm.get('ConfirmPassword')" placeholder="Confirm Password" />
                            <div class="input-group-append">
                                <span class="input-group-text fa fa-lock text-muted bg-transparent border-left-0"></span>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="resetPWDForm.get('ConfirmPassword').hasError('equalTo')">Confirm
                                password does not match
                        </div>
                        <span class="text-danger" *ngIf="resetPWDForm.controls['ConfirmPassword'].hasError('required') && (resetPWDForm.controls['ConfirmPassword'].dirty || resetPWDForm.controls['ConfirmPassword'].touched)">This
                                field is required</span>
                    </div>
                    <button class="btn btn-block btn-primary" type="submit" >Submit</button>
                </form>
            </div>
        </div>
        <!-- END card-->
        <div class="p-3 text-center">
            <span>&copy;</span>
            <span>{{ settings.app.year }}</span>
            <span class="mx-2">-</span>
            <span>{{ settings.app.name }}</span>
            <br/>
            <span>{{ settings.app.description }}</span>
        </div>
    </div>
</div>
