@page
@{ ViewData["Title"] = "Joker Slots Apps Download";
    Layout = "~/Pages/Shared/_LayoutSPA.cshtml"; }
<div id="comContent"></div>
<div id="mComContent">
    <!--<div class="loadingImage" style="z-index: 2147483643;"></div>-->

    <div id="success_snackbar">
        <div>
            <span><img class="Image" width="100px" height="100px" src="~/images/success.png" /></span>
        </div>
        <div class="message">
            <span id="SuccessMessage">
            </span>
        </div>
    </div>

    <div id="error_snackbar">
        <div>
            <span><img class="Image" width="100px" height="100px" src="~/images/Error.png" /></span>
        </div>
        <div class="message">
            <span id="ErrorMessage">
            </span>
        </div>
    </div>

    <div id="afterlogin_mobile">
        <div class="sidebar">
            <div class="navbar-collapse" id="myNavbar">
                <ul class="nav text-center mob-menu">
                    <li id="logout"><a onclick="logoutMain(1)"><i class="fa fa-sign-out" aria-hidden="true"></i><p class="lang" key="sidebar_Logout"></p></a></li>
                    <li id="login"><a onclick="loadPageLogin()" href="javascript:void(0);" rel="prefetch"><i class="fa fa-sign-in" aria-hidden="true"></i><p class="lang" key="sidebar_login"></p></a></li>
                    <li><a onclick="loadPageHome()" href="javascript:void(0);" rel="prefetch"><img src="~/images/images-mobile/home_side.png" alt="mn-home"><p class="lang" key="menu_home"></p></a></li>
                    <li id="downloadpage"><a href="~/Mobile/download?id=918DownloadTab" rel="prefetch"><img src="~/images/images-mobile/download.png" alt="mn-download"><p class="lang" key="sidebar_Download"></p></a></li>
                    <li><a href="~/Home/home" rel="prefetch"><img src="~/images/images-mobile/desktop.png" alt="mn-desktop"><p class="lang" key="sidebar_Desktop"></p></a></li>
                    <li><a href="#" data-toggle="modal" data-target="#language"><img src="~/images/images-mobile/language.png" alt="mn-lang"><p class="lang" key="sidebar_Language"></p></a></li>
                    <li><a onclick="loadPageAbout()" href="javascript:void(0);" rel="prefetch"><img src="~/images/images-mobile/about.png" alt="about-us"><p class="lang" key="sidebar_About_US"></p></a></li>
                    <li><a onclick="loadPageTermandCondtion()" href="javascript:void(0);" rel="prefetch"><img src="~/images/images-mobile/tc.png" alt="Terms & Condition"><p class="lang" key="sidebar_T_&_C"></p></a></li>
                    <li id="accountPage"><a onclick="loadPageAccount()" href="javascript:void(0);" rel="prefetch"><img src="~/images/images-mobile/profile.png" alt="Profile"><p class="lang" key="sidebar_Profile"></p></a></li>
                </ul>
            </div>
        </div>
        <div class="main-content" id="navbarhide">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-header mob-layout">
                    <ul>
                        <li>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </li>
                        <li>
                            <a href="/Mobile/home" class="navbar-brand"><img class="logo" id="MainLogo" src="~/images//webet-main-logo.png" alt="WEBET 333.com"></a>
                        </li>
                        <li id="balanceShow">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle wallet" type="button" data-toggle="dropdown"><figure><img src="~/images/images-mobile/wallet.png" alt="f-wallet"></figure></i></button>
                                <ul class="dropdown-menu wallet-dropdown">
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>Main Wallet</strong></li>
                                            <li class="fright" id="ddlmainWallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>918Kiss Wallet</strong></li>
                                            <li class="fright" id="ddl918KissWallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>AG Wallet</strong></li>
                                            <li class="fright" id="ddlAGWallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>M8 Wallet</strong></li>
                                            <li class="fright" id="ddlM8Wallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>Joker Wallet</strong></li>
                                            <li class="fright" id="ddlJokerWallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>Playtech Wallet</strong></li>
                                            <li class="fright" id="ddlPlaytechWallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>MaxBet Wallet</strong></li>
                                            <li class="fright" id="ddlMaxBetWallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>Mega888 Wallet</strong></li>
                                            <li class="fright" id="ddlMega888Wallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>DG Wallet</strong></li>
                                            <li class="fright" id="ddlDgWallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>Sexy B. Wallet</strong></li>
                                            <li class="fright" id="ddlSexyWallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>SA Wallet</strong></li>
                                            <li class="fright" id="ddlSAWallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>Pussy888 Wallet</strong></li>
                                            <li class="fright" id="ddlPussy888Wallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>AllBet Wallet</strong></li>
                                            <li class="fright" id="ddlAllbetWallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>WM Wallet</strong></li>
                                            <li class="fright" id="ddlWMWallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>Pragmatic Wallet</strong></li>
                                            <li class="fright" id="ddlPragmaticWallet">feching...</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="scroll-content" style="padding-bottom:0px;" id="Translation_Option">
                <div class="join-now-section" style="padding-bottom:0px;">
                    <div class="text-center myr-quote">
                        <h4>MYR <span id="menuMainWallet"><img class="loading-gif" src="~/images/loading.gif" /></span><span onclick="RefershBalance()" class="fa fa-refresh"></span></h4>
                    </div>
                    <ul class="account-icon list-inline text-center">
                        <li class="mobile-icon deposit_icon"><a onclick="loadPagedeposit()" href="javascript:void(0);" rel="prefetch"><span data-translate="mobile_menu_deposit"></span></a></li>
                        <li class="mobile-icon transfer_icon"><a onclick="loadPageTransfer()" href="javascript:void(0);" rel="prefetch"><span data-translate="mobile_menu_Transfer"></span></a></li>
                        <li class="mobile-icon restore_icon"><a data-toggle="modal" data-target="#RestoreConfirmation" href="#"><span data-translate="mobile_menu_Restore"></span></a></li>
                        <li class="mobile-icon withdraw_icon"><a onclick="loadPageWithdraw()" href="javascript:void(0);" rel="prefetch"><span data-translate="mobile_menu_Withdraw"></span></a></li>
                        <li class="mobile-icon history_icon"><a onclick="loadPageHistory()" href="javascript:void(0);" rel="prefetch"><span data-translate="mobile_menu_History"></span></a></li>
                    </ul>
                    <div class="container" style="background: #ffffff;">
                        <div class="annunce-section d-flex">
                            <p class="annunce-title"><img src="~/images/images-mobile/announcement.png" alt=""></p>
                            <p class="annunce-text mobile-announcment"><marquee class="announcment-font" behavior="scroll" direction="left" scrollamount="10" id="p_announcement_mobile_one"></marquee></p>
                            <div class="clear-fix"></div>
                            <p class="white-text mar-top-ten text-center">Welcome <span id="lbl_usernameHeader"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <title>Webet333 - @ViewData["Title"] </title>
    <script>
        if (localStorage.getItem('currentUser') == null) {
            location.href = 'home';
        }
        else {
            document.getElementById('login').style.display = "none";
            document.getElementById('AccountBeforeLogin').style.display = "none";
            document.getElementById('balanceBeforeShow').style.display = "none";
        }
    </script>
    <div id="JokerDownload" class="tabcontent account-reg radius-none downloadbanner">
        <div class="info-form marginb-none">
            <h5 class=" bg-no-repeat symbol white-text lang download-icon mar-btm-ten"><strong>DOWNLOAD</strong></h5>
        </div>
        <div class="download-process">
            <ul class="mar-btm-twentyfive">
                <li class="playstore">
                    <div class="text-center">
                        <label class="white-text text-center mar-top-ten">Android</label>
                    </div>
                    <figure>
                        <img style="width:70%" src="~/images/game-barcode.jpg" alt="barcode">
                    </figure>
                    <div class="text-center">
                        <label class="white-text text-center mar-top-ten"><a onclick="downloadgame(2); return false;" class="white-text text-center mar-top-ten">Click to Download</a></label>
                    </div>
                </li>
                <li class="appstore">
                    <div class="text-center">
                        <label class="white-text text-center mar-top-ten">IOS</label>
                    </div>
                    <figure>
                        <img style="width:70%" src="~/images/game-barcode.jpg" alt="barcode">
                    </figure>
                    <div class="text-center">
                        <label class="white-text text-center mar-top-ten"><a onclick="downloadgame(2); return false;" class="white-text text-center mar-top-ten">Click to Download</a></label>
                    </div>
                </li>
                <div class="clear-fix"></div>
            </ul>
            <div class="access-info">
                <p class="white-text blue-bg text-center no-mar">Your Access Information</p>
                <div class="row border-bottom no-mar">
                    <div class="col-sm-5">
                        <p class="grey-text" style="text-align:center;">Joker Username : <span id="JokeruserName"></span></p>
                    </div>
                    <div class="col-sm-7" style="border-left:1px solid #d7d7d7">
                        <p class="grey-text text-center" id="_918userName" style="display:none;"></p>
                        <p class="grey-text text-center" id="_918resetpasswordDownload" style="display:none;"></p>

                    </div>
                </div>
                <div class="row no-mar">
                    <div class="col-sm-5">
                        <p class="grey-text">Joker Password : <span id="Jokerresetpassword"><a href="#" class="grey-text">Your WEBET333.COM Password</a></span></p>
                    </div>
                    <div class="col-sm-7 text-center" style="border-left:1px solid #d7d7d7">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="form-login modal fade" id="gameLogin" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span class="lang" key="alert"></span></h4>
                </div>
                <div class="modal-body">
                    <p class="lang" key="noLogin"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="laguage">
        <div id="language" class="modal fade">
            <div class="modal-dialog mail-width">
                <div class="modal-content">
                    <div class="modal-body text-center lang-modal">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <p>Select Language.</p>
                        <ul class="list-inline pad-top-ten">
                            <li><button id="englishbtn" class="submit" type="button" data-dismiss="modal" onclick="language('en-US')">English</button></li>
                            <li><button id="malaybtn" class="submit" type="button" data-dismiss="modal" onclick="language('ms-MY')">Malay</button></li>
                            <li><button id="chinesebtn" class="submit" type="button" data-dismiss="modal" onclick="language('zh-Hans')">Chinese</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-widget" id="footerWidget">
        <ul class="list-inline text-center">
            <li id="homePagebottom">
                <a onclick="loadPageHome()" href="javascript:void(0);" rel="prefetch">
                    <i class="fa fa-home"></i>
                    <p class="white-text no-mar" data-translate="menu_home">Home</p>
                </a>
            </li>
            <li id="promotionPagebottom" class="">
                <a onclick="loadPagePromotions()" href="javascript:void(0)" rel="prefetch">
                    <i class="fa fa-gift"></i>
                    <p class="white-text no-mar" data-translate="Promotion">Promotion</p>
                </a>
            </li>
            <li id="contactusPagebottom">
                <a onclick="loadPageContactus()" href="javascript:void(0)" rel="prefetch">
                    <i class="fa fa-user"></i>
                    <p class="white-text no-mar lang" key="contact_us">Contact Us</p>
                </a>
            </li>
            <li>
                <a href="#" onclick="whatsapp()">
                    <figure><img src="~/images/images-mobile/whatsapp.png" alt="Whats App" /></figure>
                    <p class="white-text no-mar">Whatsapp</p>
                </a>
            </li>
            <li class="live-chat">
                <a class="live-chat-icon"><p class="white-text no-mar" data-translate="Live_chat">Live Chat</p></a>
            </li>
        </ul>
    </div>
    <div>
        <a id="mobileM8" style="display:none"></a>
    </div>

    <div class="form-login modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span class="lang" key="login"></span></h4>
                </div>
                <div class="modal-body">
                    <div role="form">
                        <div class="info-form">
                            <label class="user"><input id="txt_login_username" name="txt_username" type="text" class="reg-form" data-translate="username_placeholder" placeholder="Username" value=""></label>
                            <label class="lock"><input id="txt_login_password" name="txt_password" autocomplete="new-password" type="password" class="reg-form" data-translate="password_placeholder" placeholder="Password"></label>
                            <div class="checkbox">
                                <label style="margin-left:15px"><input id="remember_me" type="checkbox" value=""><span class="lang" key="remember"></span></label>
                            </div>
                            <a class="forgot-pass" data-toggle="modal" data-target="#forgot-password"><span class="lang" key="forgot_pasword"></span></a>
                            <div class="log_in text-center">
                                <button class="log_in" onclick="DoLogin(1)"><span class="lang" key="login"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-login modal fade" id="gameLogin" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span class="lang" key="alert"></span></h4>
                </div>
                <div class="modal-body">
                    <p class="lang" key="noLogin"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="forgot-password" class="modal fade">
            <div class="modal-dialog mail-width">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <p data-translate="forgtopasswordststic"></p>
                        <label class="num pad-top-ten"><input id="txt_forgot_email" name="txt_forgot_email" type="text" class="reg-form" data-translate="forgtopassword_placeholder" value=""></label>
                        <ul class="list-inline pad-top-ten">
                            <li><button class="submit" type="button" onclick="DoForgotPassword()" data-translate="forgtopassworbutton"></button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".contact-us-btn,.contact-us-btn-footer").click(function () {
            $("#chatting").toggle();
        });
        $(".contact-user").mouseover(function () {
            $("#chatting").toggle();
        });
    });
</script>



<!--Begin Comm100 Live Chat Code-->
<div></div>
<script type="text/javascript">
    var Comm100API = Comm100API || {}; (function (t) {
        function e(e) {
            var a = document.createElement("script"),
                c = document.getElementsByTagName("script")[0];
            a.type = "text/javascript",
                a.async = !0, a.src = e + t.site_id, a.target = "_blank"
            c.parentNode.insertBefore(a, c)
        } t.chat_buttons = t.chat_buttons || [], t.chat_buttons.push({ code_plan: 425, div_id: "comm100-button-425" }), t.site_id = 233923, t.main_code_plan = 425, e("https://chatserver.comm100.com/livechat.ashx?siteId="), setTimeout(function () {
            t.loaded || e("https://hostedmax.comm100.com/chatserver/livechat.ashx?siteId=")
        }, 5e3)
    })(Comm100API || {})
</script>
<!--End Comm100 Live Chat Code-->
<!-- Slider Section End -->
<!-- Modal For Video -->
<script type="text/javascript">
    $(document).ready(function () {
        $(".open-modal").click();
    });
    jQuery(".scroll-down-visible").hide();
    jQuery("#more-arrow").click(function () {
        jQuery(".scroll-down-visible").toggleClass("show");
        jQuery("#more-arrow").toggleClass("rotate");
    });
</script>
<script src="~/js/spa/m_spa.js"></script>
<!-- //Modal For Video -->
<script src="~/js/jcf/jcf.js"></script>
<script src="~/js/jcf/jcf.select.js"></script>
<script src="~/js/jcf/jcf.checkbox.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            jcf.replaceAll();
        });
    });

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".navbar-toggle,.canvas-overlay").click(function () {
            if (!$("html").hasClass('intro')) {
                $("html").addClass("intro");
            }
            else {
                $("html").removeClass("intro");
            }
        });
        $(".canvas-overlay").click(function () {
            if ($(".navbar-collapse").hasClass('in')) {
                $(".navbar-collapse").removeClass("in");
            }
        });
    });
</script>
<!-- Slider Section End -->
<script>
    $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        if (scroll >= 1) {
            $("header").addClass("sticky-header");
        }
        else {
            $("header").removeClass("sticky-header");
        }
    });
</script>
<script>
    if (localStorage.getItem('currentUser') == null) {
        //document.getElementById('walletAfterLogin').style.display = "none";
    }
    else {
        //document.getElementById('walletBeforeLogin').style.display = "none";
    }
</script>
<script>
    $(document).ready(function () {
        if (localStorage.getItem('currentUser') == null) {
            document.getElementById('logout').style.display = "none";
            document.getElementById('accountPage').style.display = "none";
            document.getElementById('downloadpage').style.display = "none";

            if (!window.location.href.toLowerCase().includes("mobile/login") && !window.location.href.toLowerCase().includes("mobile/register")) {
                document.getElementById('balanceShow').style.textIndent = "-999px";
                document.getElementById("MainLogo").style.marginLeft = "-30px";
            }
        }
        else {
            document.getElementById('login').style.display = "none";
        }

        if (location.href.toLowerCase().includes("mobile/login") || location.href.toLowerCase().includes("mobile/register") || location.href.toLowerCase().includes("mobile/forgetpassword")) {
            document.getElementById("footerWidget").innerHTML = "";
        }
    });


    $("html").click(async function (event) {
        if (GetLocalStorage('currentUser') !== null) {
            await PostMethod(apiEndPoints.userLastTimeUpdate, {});
        }
    });


</script>
