<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-168889054-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-168889054-1');
    </script>-->
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <meta name="keywords" content="Webet333.com | Cash Market, Online Casino, Malaysia Online Casino, 918Kiss, AG Casino, Playtech Casino, Joker Casino, Joker Slot, M8 Sports, 24x7 Casino, Malaysia Casino, 100% Welcome Bonus Casino, 150% Welcome Bonus Casino, 10% Extra jackpot casino, 10% Extra bonus casino" />
    <meta name="description" content="Webet333.com | Trusted Online Casino Malaysia, Malaysia Online Casino, 918Kiss, AG Casino, Playtech Casino, Joker Casino, Joker Slot, M8 Sports, 24x7 Casino, Malaysia Casino, 200% Welcome Bonus Casino, 150% Welcome Bonus Casino, 10% Extra jackpot casino, 10% Extra bonus casino" />
    <meta name="author" content="" />
    <meta name="title" content="Webet333 🥇" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="apple-touch-icon" sizes="57x57" href="../../images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../../images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="~/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/fontawesome.all.min.css" />
    <link href="~/css/fontawesome.css" type="text/css" rel="stylesheet" />
    <link href="~/css/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet" />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/jquery.slick/1.4.1/slick.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css'>
    <link href="~/css/style.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/responsive-style.css" />
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script src="~/js/constants/apiConsts.js"></script>
    <script src="~/js/helpers/apiHelper.js"></script>
    <script src="~/js/web/home.js"></script>
    <script src="~/js/web/account.js"></script>
    <script src="~/js/web/bank.js"></script>
    <script src="~/js/web/balance.js"></script>
    <script src="~/js/web/download.js"></script>
    <script src="~/js/web/gamelogin.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <title>@ViewBag.Title</title>

    <script>
        $(window).on('load', function () {
            $(".loadingImage").fadeOut();
        });
    </script>

</head>
<body class="home-page">
    <div class="loadingImage"></div>

    <header>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="../">
                            <img class="logo" src="~/images/logo.png" />
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">

                        <div class="login-register" id="beforelogin">
                            <div class="login-form">
                                <div class="div-toggle">
                                    <ul>
                                        <li class="login-item input-field">
                                            <ul class="user-login">
                                                <li class="user form-icon">
                                                    <input id="txt_login_username" class="topTxtBox" placeholder="Username" type="text" />
                                                </li>
                                                <li class="lock form-icon">
                                                    <input id="txt_login_password" class="topTxtBox" placeholder="Password" type="password" />
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="login-item signin form-icon">
                                            <button class="bttn btn-login" onclick="DoLogin()">
                                                <span><i class="fas fa-sign-in-alt"></i></span> <span class="lang" key="login"></span>
                                            </button>
                                        </li>
                                        <li Class="login-item register my-account">
                                            <a href="~/Web/register">
                                                <button class="bttn btn-register">
                                                    <span><i class="fas fa-user-plus"></i> </span> <span class="lang" key="signup"></span>
                                                </button>
                                            </a>
                                        </li>
                                        <li class="login-item country">
                                            <div class="language_selection">
                                                <div class="flag_nsd"><img src="~/images/lan_en.png" alt="lan_en"></div>
                                                <a href="" data-toggle="modal" data-target="#lang_choose" class="dot_line"><img src="~/images/menu-dot.svg" width="6" alt=""></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="bellow_signt">
                                        <a href=""  data-toggle="modal" data-target="#forgotPassword"><span class="lang" key="forgot_username_password"></span></a>
                                        <a href="" id="current_time">7/1/2021 9:29:16pm (GMT=8)</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="login-register" id="afterlogin">
                            <div class="login-form">
                                <div id="afterlogin" class="div-toggle">
                                    <ul>
                                        <li class="login-item"><label id="current_time">7/1/2021 9:29:16pm (GMT=8)</label></li>
                                        <li class="login-item country custom-country-width">
                                            <div class="language_selection">
                                                <div class="flag_nsd"><img src="~/images/lan_en.png" alt="lan_en"></div>
                                                <a href="" data-toggle="modal" data-target="#lang_choose" class="dot_line"><img src="~/images/menu-dot.svg" width="6" alt=""></a>
                                            </div>
                                        </li>
                                        <li class="login-item input-field login">
                                            <ul class="d-flex">

                                                <li class="login-item u-name form-icon" style="display:flex;margin-left:-25px;">
                                                    <span id="sound" class="sound">
                                                        <a id="soundLink" href="javascript:void(0);"><img class="vip_header_icon" id="login_user_vip_level" alt="vip_user"></a>
                                                        <ul class="soud_arrow">
                                                            <li><a href="#"><img src="~/images/vip_tokens.png" /> <br> More Aout VIP</a></li>
                                                        </ul>
                                                    </span>
                                                    <span style="font-size:larger">
                                                        <span class="lang" key="username"></span>
                                                    </span> : <span style="white-space: nowrap; overflow: unset; text-overflow: ellipsis;font-size:larger;" id="login_username"></span>

                                                </li>




                                            </ul>
                                        </li>
                                        <li class="logout-item signin form-icon log-out">
                                            <button class="btn-login" value="LOGOUT" type="button" onclick="DoLogout()">
                                                <span> <i class="fas fa-sign-out-alt"></i> <span class="lang" key="logout"></span></span>
                                            </button>
                                        </li>
                                        <li class="log-item register inner_register my-account">
                                            <a href="~/Web/profile">
                                                <button class="btn-register" value="MY ACCOUNT">
                                                    <span> <i class="fas fa-user"></i> <span class="lang" key="my_account"></span></span>
                                                </button>
                                            </a>
                                        </li>

                                    </ul>
                                    <div class="after-logion">
                                        <ul class="money-type list-inline">
                                            <button class=" restore-btn layout-btn" onclick="RestoreBalance();">
                                                <img class="icon-home" src="~/images/restore.png">
                                                <span><span class="lang" key="restore"></span></span>
                                            </button>
                                            <li class="currency" data-toggle="collapse" data-target="#myDropdown" onclick="LoadAllBalance();">
                                                <div class="select-balance">
                                                    <button class=" restore-btn layout-btn">
                                                        <span class="lang" key="current_balance"></span> &nbsp;&nbsp;<span class="fa fa-chevron-down"></span>
                                                    </button>
                                                    <div id="myDropdown" class="dropdown-content collapse">
                                                        <table cellpadding="10" style="width:170px;" cellspacing="10">
                                                            <tr>
                                                                <td class="menu-padding" style="font-size: 12px;">Main wallet</td>
                                                                <td><span id="main_balance_dropdown" style="font-size: 12px;">fetching.....</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="menu-padding" style="font-size: 12px;">Joker wallet</td>
                                                                <td><span id="joker_balance_dropdown" style="font-size: 12px;">fetching.....</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="menu-padding" style="font-size: 12px;">Playtech wallet</td>
                                                                <td><span id="playtech_balance_dropdown" style="font-size: 12px;">fetching.....</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="menu-padding" style="font-size: 12px;">918Kiss wallet</td>
                                                                <td><span id="kiss918_balance_dropdown" style="font-size: 12px;">fetching.....</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="menu-padding" style="font-size: 12px;">AG wallet</td>
                                                                <td><span id="ag_balance_dropdown" style="font-size: 12px;">fetching.....</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="menu-padding" style="font-size: 12px;">M8 wallet</td>
                                                                <td><span id="m8_balance_dropdown" style="font-size: 12px;">fetching.....</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="menu-padding" style="font-size: 12px;">MaxBet wallet</td>
                                                                <td><span id="maxbet_balance_dropdown" style="font-size: 12px;">fetching.....</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="menu-padding" style="font-size: 12px;">Mega888 wallet</td>
                                                                <td><span id="mega888_balance_dropdown" style="font-size: 12px;">fetching.....</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="menu-padding" style="font-size: 12px;">DG wallet</td>
                                                                <td><span id="dg_balance_dropdown" style="font-size: 12px;">fetching.....</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="menu-padding" style="font-size: 12px;">Sexy wallet</td>
                                                                <td><span id="sexy_baccarat_balance_dropdown" style="font-size: 12px;">fetching.....</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="menu-padding" style="font-size: 12px;">SA wallet</td>
                                                                <td><span id="sa_balance_dropdown" style="font-size: 12px;">fetching.....</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="menu-padding" style="font-size: 12px;">Pussy888 wallet</td>
                                                                <td><span id="pussy888_balance_dropdown" style="font-size: 12px;">fetching.....</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="menu-padding" style="font-size: 12px;">AllBet wallet</td>
                                                                <td><span id="allbet_balance_dropdown" style="font-size: 12px;">fetching.....</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="menu-padding" style="font-size: 12px;">WM wallet</td>
                                                                <td><span id="wm_balance_dropdown" style="font-size: 12px;">fetching.....</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td class="menu-padding" style="font-size: 12px;">Pragmatic wallet</td>
                                                                <td><span id="pragmatic_balance_dropdown" style="font-size: 12px;">fetching.....</span></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </li>
                                            <a href="~/Web/profile#deposit">
                                                <li class="restore-btn layout-btn">
                                                    <label>
                                                        <img class="icon-home" src="~/images/deposit.png">&nbsp;&nbsp;<span class="lang black-textt2" key="deposit"></span>
                                                    </label>
                                                </li>
                                            </a>
                                            <a href="~/Web/profile#withdraw">
                                                <li class="restore-btn layout-btn">
                                                    <label>
                                                        <img class="icon-home" src="~/images/withdraw.png">&nbsp;&nbsp;<span class="lang black-textt2" key="withdraw"></span>
                                                    </label>
                                                </li>
                                            </a>
                                            <a href="~/Web/profile#transfer">
                                                <li class="restore-btn layout-btn">
                                                    <label>
                                                        <img class="icon-home" src="~/images/transfer.png">&nbsp;&nbsp;<span class="lang black-textt2" key="transfer"></span>
                                                    </label>
                                                </li>
                                            </a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="row_two_navigation menu-area">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a href="../">
                        <span>
                            <img class="normal_icons" src="~/images/phone1.png" width="26" height="23" alt="">
                            <img class="hover_icons" src="~/images/phone1_hover.png" width="26" height="23" alt="">
                        </span>
                    </a>
                </li>
                <li>
                    <a href="~/Mobile">
                        <span>
                            <img class="normal_icons" src="~/images/home1.png" width="26" height="23" alt="">
                            <img class="hover_icons" src="~/images/home1_hover.png" width="26" height="23" alt="">
                        </span>
                    </a>
                </li>
                <li class="live-casino dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span>
                            <img class="normal_icons" src="~/images/livecasino.png" width="26" height="23" alt="">
                            <img class="hover_icons" src="~/images/livecasino_hover.png" width="26" height="23" alt=""> <span class="lang" key="menu_live_casino"></span>
                        </span><span class="caret"></span>
                    </a>
                    <div class="dropdown-menu dropmenu-main">
                        <ul class="menu-list" id="subMenuSports" role="menu">
                            <li>
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" id="dg">
                                    <img id="dg-wallet" onclick="OpenGame('DG Wallet',false)" data-toggle="tooltip" data-placement="bottom" class="img-responsive" src="~/images/dropdown_logos/dg.png" alt="dg" />Dream Gaming
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" id="sexy">
                                    <img id="sexy-wallet" onclick="OpenGame('Sexy Wallet',false)" data-toggle="tooltip" data-placement="bottom" class="img-responsive " src="~/images/dropdown_logos/sexy.png" alt="sexy" />Sexy Gaming
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" id="sa">
                                    <img id="sa-wallet" onclick="OpenGame('SA Wallet',false)" data-toggle="tooltip" data-placement="bottom" class="img-responsive " src="~/images/dropdown_logos/sa.png" alt="sa" />SA Gaming
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" id="ag">
                                    <img id="ag-wallet" onclick="OpenGame('AG Wallet',false)" data-toggle="tooltip" data-placement="bottom" class="img-responsive " src="~/images/dropdown_logos/ag.png" alt="ag" />Asia Gaming
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" id="playtech">
                                    <img id="playtech-wallet" onclick="OpenGame('PlayTech Wallet',false)" data-toggle="tooltip" data-placement="bottom" class="img-responsive " src="~/images/dropdown_logos/pt.png" alt="playtech" />Play Tech
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" id="albet">
                                    <img id="allbet-wallet" onclick="OpenGame('AllBet Wallet',false)" data-toggle="tooltip" data-placement="bottom" class="img-responsive " src="~/images/dropdown_logos/allbet.png" alt="albet" />All Bet
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" id="wm">
                                    <img id="wm-wallet" onclick="OpenGame('WM Wallet',false)" data-toggle="tooltip" data-placement="bottom" class="img-responsive " src="~/images/dropdown_logos/wm.png" alt="wm" />WM Casino
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="slot-game dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span>
                            <img class="normal_icons" src="~/images/slot.png" width="26" height="23" alt="">
                            <img class="hover_icons" src="~/images/slot_hover.png" width="26" height="23" alt=""> <span class="lang" key="slots"></span>
                        </span> <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu dropmenu-main">
                        <ul class="menu-list" id="subMenuSlots" role="menu">
                            <li>
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" id="918kisses">
                                    <img id="918kiss-wallet" onclick="OpenGame('918Kiss Wallet',false)" data-toggle="tooltip" data-placement="bottom" class="img-responsive img-filter" src="~/images/dropdown_logos/1.png" alt="918kisses" />918 Kisses
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" id="mega888">
                                    <img id="mega888-wallet" onclick="OpenGame('Mega888 Wallet',false)" data-toggle="tooltip" data-placement="bottom" class="img-responsive img-filter" src="~/images/dropdown_logos/7.png" alt="mega888" />Mega 888
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" id="ag">
                                    <img id="ag-wallet" onclick="OpenGame('AG Wallet', true)" data-toggle="tooltip" data-placement="bottom" class="img-responsive img-filter" src="~/images/dropdown_logos/3.png" alt="ag" />Asia Gaming
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" id="pt">
                                    <img id="playtech-wallet" onclick="OpenGame('PlayTech Wallet',true)" data-toggle="tooltip" data-placement="bottom" class="img-responsive img-filter" src="~/images/dropdown_logos/5.png" alt="pt" />Play Tech
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" id="joker">
                                    <img id="joker-wallet" onclick="OpenGame('Joker Wallet',false)" data-toggle="tooltip" data-placement="bottom" class="img-responsive img-filter" src="~/images/dropdown_logos/2.png" alt="joker" />Joker
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" id="Pussy888">
                                    <img id="pussy888-wallet" onclick="OpenGame('Pussy888 Wallet',false)" data-toggle="tooltip" data-placement="bottom" class="img-responsive img-filter" src="~/images/dropdown_logos/4.png" alt="Pussy888" />Pussy 888
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" id="Pragmatic">
                                    <img id="pragmatic-wallet" onclick="OpenGame('Pragmatic Wallet',false)" data-toggle="tooltip" data-placement="bottom" class="img-responsive img-filter" src="~/images/dropdown_logos/8.png" alt="Pragmatic" />Pragmatic Play
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="sportbook dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span>
                            <img class="normal_icons" src="~/images/sport.png" width="26" height="23" alt="">
                            <img class="hover_icons" src="~/images/sport_hover.png" width="26" height="23" alt=""> <span class="lang" key="sports"></span>
                        </span> <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu dropmenu-main">
                        <ul class="menu-list" id="subMenuLive" role="menu">
                            <li>
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" id="m8bet">
                                    <img id="m8-wallet" onclick="OpenGame('M8 Wallet',false)" data-toggle="tooltip" data-placement="bottom" class="img-responsive img-filter" src="~/images/dropdown_logos/m8.png" alt="m8bet" />M8BET
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" id="maxbet">
                                    <img id="maxbet-wallet" onclick="OpenGame('MaxBet Wallet',false)" data-toggle="tooltip" data-placement="bottom" class="img-responsive img-filter" src="~/images/dropdown_logos/maxbet.png" alt="maxbet" />Maxbet
                                </a>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="promotion">
                    <a href="#">
                        <span class="lang" key="menu_promotion">
                            <img class="normal_icons" src="~/images/fish.png" width="26" height="23" alt="">
                            <img class="hover_icons" src="~/images/fish_hover.png" width="26" height="23" alt=""> Fish
                        </span>
                    </a>
                </li>
                <li class="promotion">
                    <a href="~/Web/promotion">
                        <span>
                            <img class="normal_icons" src="~/images/promo.png" width="26" height="23" alt="">
                            <img class="hover_icons" src="~/images/promo_hover.png" width="26" height="23" alt=""> <span class="lang" key="promotion"></span>
                        </span>
                    </a>
                </li>
                <li class="banking-info">
                    <a href="~/Web/vip">
                        <span>
                            <img class="normal_icons" src="~/images/vip.png" width="26" height="23" alt="">
                            <img class="hover_icons" src="~/images/vip_hover.png" width="26" height="23" alt=""> VIP
                        </span>
                    </a>
                </li>
                <li class="banking-info" id="bankMainMenu">
                    <a href="~/Web/bank">
                        <span>
                            <img class="normal_icons" src="~/images/bank.png" width="26" height="23" alt="">
                            <img class="hover_icons" src="~/images/bank_hover.png" width="26" height="23" alt=""> <span class="lang" key="bank"></span>
                        </span>
                    </a>
                </li>
                <li class="download">
                    <a href="~/Web/download">
                        <span>
                            <img class="normal_icons" src="~/images/download.png" width="26" height="23" alt="">
                            <img class="hover_icons" src="~/images/download_hove.png" width="26" height="23" alt=""> <span class="lang" key="download"></span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>

    <div class="row vip_wrapper_section ml0 mr0">
        <div class="container">
            <div class="col-sm-3">
                <div class="vip_boxess">
                    <img src="~/images/footericon1.png" alt="footericon1" />
                    <h1><span class="lang" key="vip_program"></span></h1>
                    <p><span class="lang" key="vip_program_text"></span></p>
                    <a href="~/Web/vip"><span class="lang" key="apply_now"></span></a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="vip_boxess">
                    <img src="~/images/footericon2.png" alt="footericon1" />
                    <h1><span class="lang" key="customer_service_27_7"></span></h1>
                    <p><span class="lang" key="customer_service_27_7_text"></span></p>
                    <a onclick="OpenChatWindow()"><span class="lang" key="chat_now"></span></a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="vip_boxess">
                    <img src="~/images/footericon3.png" alt="footericon1" />
                    <h1><span class="lang" key="feedback_complaint"></span></h1>
                    <p><span class="lang" key="feedback_complaint_text"></span></p>
                    <a onclick="OpenWhatsapp();"><span class="lang" key="complaint_now"></span></a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="promtion_boxess">
                    <img src="~/images/footericon4.png" alt="footericon1" />
                    <h1><span class="lang" key="promotion"></span></h1>
                    <p><span class="lang" key="promotion_text"></span></p>
                    <a href="~/Web/promotion"><span class="lang" key="get_free_credit_card_now"></span></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row casino_category_sec ml0 mr0">
        <div class="container">
            <div class="col-md-3">
                <div class="welcome_wb3_boxes_wrapper">
                    <div class="wb3_welcome_boxes">
                        <h1><span class="lang" key="welcome_webet333_casino"></span></h1>
                        <p> <span class="lang" key="welcome_webet333_casino_text"></span></p>
                    </div>
                    <div class="wb3_welcome_boxes">
                        <h1><span class="lang" key="bonus_promotion"></span></h1>
                        <p> <span class="lang" key="bonus_promotion_text"></span></p>
                    </div>
                    <div class="wb3_welcome_boxes">
                        <h1><span class="lang" key="saftey_security"></span></h1>
                        <p> <span class="lang" key="saftey_security_text"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="welcome_wb3_boxes_wrapper">
                    <div class="wb3_welcome_boxes">
                        <h1><span class="lang" key="live_casino"></span></h1>
                        <p> <span class="lang" key="live_casino_text"></span></p>
                    </div>
                    <div class="wb3_welcome_boxes">
                        <h1><span class="lang" key="slots"></span></h1>
                        <p> <span class="lang" key="slots_text"></span></p>
                    </div>
                    <div class="wb3_welcome_boxes">
                        <h1><span class="lang" key="24_7_customer_service"></span></h1>
                        <p> <span class="lang" key="24_7_customer_service_text"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="welcome_wb3_boxes_wrapper">
                    <div class="wb3_welcome_boxes">
                        <h1><span class="lang" key="fishing"></span></h1>
                        <p> <span class="lang" key="fishing_text"></span></p>
                    </div>
                    <div class="wb3_welcome_boxes">
                        <h1><span class="lang" key="sports"></span></h1>
                        <p> <span class="lang" key="sports_text"></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="welcome_wb3_boxes_wrapper">
                    <div class="wb3_welcome_boxes">
                        <h1><span class="lang" key="vip_level"></span></h1>
                        <p> <span class="lang" key="vip_level_text"></span></p>
                    </div>
                    <div class="wb3_welcome_boxes">
                        <h1><span class="lang" key="company_license"></span></h1>
                        <p> <span class="lang" key="company_license_text"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h5 class="black-text our_partner lang" key="our_partner">Our Partner</h5>
                    <ul class="list-inline supported-game">
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo normal_icons" src="~/images/footerlogo/footerlogo1.png" alt="">
                                <img class="pink-logo hover_icons" src="~/images/footerlogo/footerlogo1_color.png" alt="">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo normal_icons" src="~/images/footerlogo/footerlogo2.png" alt="">
                                <img class="pink-logo hover_icons" src="~/images/footerlogo/footerlogo2_color.png" alt="">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo normal_icons" src="~/images/footerlogo/footerlogo3.png" alt="">
                                <img class="pink-logo hover_icons" src="~/images/footerlogo/footerlogo3_color.png" alt="">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo normal_icons" src="~/images/footerlogo/footerlogo4.png" alt="">
                                <img class="pink-logo hover_icons" src="~/images/footerlogo/footerlogo4_color.png" alt="">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo normal_icons" src="~/images/footerlogo/footerlogo5.png" alt="">
                                <img class="pink-logo hover_icons" src="~/images/footerlogo/footerlogo5_color.png" alt="">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo normal_icons" src="~/images/footerlogo/footerlogo6.png" alt="">
                                <img class="pink-logo hover_icons" src="~/images/footerlogo/footerlogo6_color.png" alt="">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo normal_icons" src="~/images/footerlogo/footerlogo7.png" alt="">
                                <img class="pink-logo hover_icons" src="~/images/footerlogo/footerlogo7_color.png" alt="">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo normal_icons" src="~/images/footerlogo/footerlogo8.png" alt="">
                                <img class="pink-logo hover_icons" src="~/images/footerlogo/footerlogo8_color.png" alt="">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo normal_icons" src="~/images/footerlogo/footerlogo9.png" alt="">
                                <img class="pink-logo hover_icons" src="~/images/footerlogo/footerlogo9_color.png" alt="">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo normal_icons" src="~/images/footerlogo/footerlogo10.png" alt="">
                                <img class="pink-logo hover_icons" src="~/images/footerlogo/footerlogo10_color.png" alt="">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo normal_icons" src="~/images/footerlogo/footerlogo11.png" alt="">
                                <img class="pink-logo hover_icons" src="~/images/footerlogo/footerlogo11_color.png" alt="">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo normal_icons" src="~/images/footerlogo/footerlogo12.png" alt="">
                                <img class="pink-logo hover_icons" src="~/images/footerlogo/footerlogo12_color.png" alt="">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo normal_icons" src="~/images/footerlogo/footerlogo13.png" alt="">
                                <img class="pink-logo hover_icons" src="~/images/footerlogo/footerlogo13_color.png" alt="">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo normal_icons" src="~/images/footerlogo/footerlogo14.png" alt="">
                                <img class="pink-logo hover_icons" src="~/images/footerlogo/footerlogo14_color.png" alt="">
                            </figure>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 class="black-text our_partner lang" key="bank_support">Bank Supported</h5>
                    <ul class="list-inline bank-us">
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo1 normal_icons" src="~/images/footerlogo/footerlogo15.png" alt="">
                                <img class="pink-logo1 hover_icons" src="~/images/footerlogo/footerlogo15_color.png" alt="">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo1 normal_icons" src="~/images/footerlogo/footerlogo16.png" alt="">
                                <img class="pink-logo1 hover_icons" src="~/images/footerlogo/footerlogo16_color.png" alt="">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo1 normal_icons" src="~/images/footerlogo/footerlogo17.png" alt="">
                                <img class="pink-logo1 hover_icons" src="~/images/footerlogo/footerlogo17_color.png" alt="">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo1 normal_icons" src="~/images/footerlogo/footerlogo18.png" alt="">
                                <img class="pink-logo1 hover_icons" src="~/images/footerlogo/footerlogo18_color.png" alt="">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo1 normal_icons" src="~/images/footerlogo/footerlogo19.png" alt="">
                                <img class="pink-logo1 hover_icons" src="~/images/footerlogo/footerlogo19_color.png" alt="">
                            </figure>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5 class="black-text our_partner lang" key="certified_by">Certified By</h5>
                    <ul class="list-inline bank-us">
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo1 normal_icons" src="~/images/footerlogo/footerlogo20.png" alt="">
                                <img class="pink-logo1 hover_icons" src="~/images/footerlogo/footerlogo20_color.png" alt="">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo1 normal_icons" src="~/images/footerlogo/footerlogo21.png" alt="">
                                <img class="pink-logo1 hover_icons" src="~/images/footerlogo/footerlogo21_color.png" alt="">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo1 normal_icons" src="~/images/footerlogo/footerlogo22.png" alt="">
                                <img class="pink-logo1 hover_icons" src="~/images/footerlogo/footerlogo22_color.png" alt="">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo1 normal_icons" src="~/images/footerlogo/footerlogo23.png" alt="">
                                <img class="pink-logo1 hover_icons" src="~/images/footerlogo/footerlogo23_color.png" alt="">
                            </figure>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5 class="black-text our_partner lang" key="payment_gateway">Payment Gateway</h5>
                    <ul class="list-inline bank-us">
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo2 normal_icons" src="~/images/footerlogo/footerlogo24.png" alt="">
                                <img class="pink-logo2 hover_icons" src="~/images/footerlogo/footerlogo24_color.png" alt="">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo2 normal_icons" src="~/images/footerlogo/footerlogo25.png" alt="">
                                <img class="pink-logo2 hover_icons" src="~/images/footerlogo/footerlogo25_color.png" alt="">
                            </figure>
                        </li>
                    </ul>

                    <h5 class="black-text our_partner lang" key="follow_us">Follow us</h5>
                    <ul class="list-inline bank-us">
                        <li class="hand-curson" onclick="FollowOnFacebook()">
                            <a>
                                <img class="menu-social-icon normal_icons" src="~/images/footerlogo/footerlogo26.png" />
                                <img class="menu-social-icon hover_icons" src="~/images/footerlogo/footerlogo26_color.png" alt="">
                            </a>
                        </li>
                        <li class="hand-curson" onclick="FollowOnYoutube()">
                            <a>
                                <img class="menu-social-icon normal_icons" src="~/images/footerlogo/footerlogo27.png" />
                                <img class="menu-social-icon hover_icons" src="~/images/footerlogo/footerlogo27_color.png" alt="">
                            </a>
                        </li>
                        <li class="hand-curson" onclick="FollowOnInstagram()">
                            <a>
                                <img class="menu-social-icon normal_icons" src="~/images/footerlogo/footerlogo28.png" />
                                <img class="menu-social-icon hover_icons" src="~/images/footerlogo/footerlogo28_color.png" alt="">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <div class="row ml0 mr0 footer_sec_two">
        <div class="container">
            <div class="col-md-8 footer_sec_two_left">
                <ul>
                    <li><a href="~/Web/about"><span class="lang" key="about_us"></span> </a> | </li>
                    <li><a href="~/Web/termsconditions"><span class="lang" key="term_condition"></span></a>| </li>
                    <li><a href="~/Web/faq"><span class="lang" key="faq"></span></a> | </li>
                    <li><a href="~/Web/join"><span class="lang" key="how_to_join"></span></a> | </li>
                    <li><a href="#" onclick="OpenChatting()"><span class="lang" key="contact_us"></span></a></li>
                </ul>
            </div>
            <div class="col-md-4 footer_sec_two_right">
                <p class="copyright">&copy; 2020 WEBET333. All Rights Reserved.</span></p>
            </div>
        </div>
    </div>
 
    <div class="contact-us-btn">
        <div class="contact-user" id="ContactUsPopUp" href="#">
            <span class="lang" style="font-size:15px;color:#000;font-weight: 600;" key="contact_us">Contact Us</span>&nbsp;<span class="contact-img"></span>
        </div>
        <ul class="chatting" id="chatting">
            <li class="support-live">
                <h5><img src="~/images/24h.png" alt="hours 24">24X7</h5>
                <p></p>
                <h6>Customer Services</h6>
            </li>
            <li class="call-contact text-center hand-curson">
                <h5><img class="contact-logos" src="~/images/sideicon4.png" alt="Call">LIVE CHAT</h5>
                <a href="# ">Click here</a>
            </li>
            <li class="call-contact text-center">
                <h5><img class="contact-logos" src="~/images/sideicon5.png" alt="Call"> PHONE</h5>
                <a href="# ">+6013 555 8826</a>
            </li>
            <li class="text-center whatsapp-sec">
                <h5><img class="contact-logos" src="~/images/sideicon2.png" alt="Whats App">Whatsapp</h5>
                <p> CS1 : <a href="#" target="_blank">+6013 555 7800</a></p>
                <p>CS2 : <a href="#" target="_blank">+6013 555 8826</a></p>
            </li>
            <li class="text-center wechat_sec">
                <h5><img class="contact-logos" src="~/images/sideicon1.png" alt="We Chat"> Wechat</h5>
                <figure>
                    <img class="image-qr" src="~/images/barcode.png" alt="barcode">
                </figure>
            </li>
            <li class="text-center telegram_sec">
                <h5><img class="contact-logos" src="~/images/sideicon3.png" alt="Whats App"> Telegram</h5>
                <p><a href="#"> @@mywbcs1 : </a>: CS1</p>
            </li>
            <li class="text-center follow_us_sec">
                <h5> Follow Us On</h5>
                <img src="~/images/fb.png" alt="fb">
                <img src="~/images/ig.png" alt="ig">
                <img src="~/images/youtube.png" alt="youtube">
            </li>
        </ul>
    </div>
    <div class="contact-us-btn1">
        <div class="contact-user1" id="ContactUsPopUp1" href="#">
            <span class="lang" style="font-size:15px;color:#000;font-weight: 600;" key="download">DOWNLOAD</span>&nbsp;<span class="contact-img1"></span>
        </div>
        <ul class="chatting text-center" id="chatting1">
            <li class="android-contact">
                <a href="~/Web/download">
                    <h5><img class="download-game-logos" src="~/images/carousel_logos/918kiss_color.png" alt="sideicon8"></h5>
                </a>
            </li>
            <li class="android-contact">
                <a href="~/Web/download">
                    <h5><img class="download-game-logos" src="~/images/carousel_logos/joker_color.png" alt="sideicon8"></h5>
                </a>
            </li>
            <li class="android-contact">
                <a href="~/Web/download">
                    <h5><img class="download-game-logos" src="~/images/carousel_logos/pussy888_color.png" alt="sideicon8"></h5>
                </a>
            </li>
            <li class="android-contact">
                <a href="~/Web/download">
                    <h5><img class="download-game-logos" src="~/images/carousel_logos/mega_color.png" alt="sideicon8"></h5>
                </a>
            </li>
        </ul>
    </div>
    <!-- my family popup start -->
    <div class="modal fade" id="lang_choose" role="dialog">
        <div class="modal-dialog lang_choose_dialog">
            <!-- Modal content-->
            <div class="modal-content lang_choose_content">
                <div class="modal-header lang_choose_header">
                    <h3 class="modal-title">Region and Language</h3>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body lang_choose_body">
                    <div class="row ml0 mr0 lang_wrapper">
                        <p>Malaysia</p>
                        <div class="col-md-4 lang_boxes_one_wrap">
                            <div class="lang_boxes_one">
                                <a href="#" data-dismiss="modal" onclick="ChangeLanguage('en-US')"><img src="~/images/lang1.png"> English</a>
                            </div>
                        </div>
                        <div class="col-md-4 lang_boxes_two_wrap">
                            <div class="lang_boxes_two">
                                <a href="#" data-dismiss="modal" onclick="ChangeLanguage('ms-MY')"> Malay</a>
                            </div>
                        </div>
                        <div class="col-md-4 lang_boxes_three_wrap">
                            <div class="lang_boxes_three">
                                <a href="#" data-dismiss="modal" onclick="ChangeLanguage('zh-Hans')">Chinese</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="error_choose" role="dialog">
        <div class="modal-dialog lang_choose_dialog">
            <!-- Modal content-->
            <div class="modal-content lang_choose_content">
                <div class="modal-header lang_choose_header" style="background-color:red;">
                    <h3 class="modal-title" style="background-color:red;">Error</h3>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body lang_choose_body">
                    <div class="row ml0 mr0 lang_wrapper" style="text-align:center">
                        <div class="col-md-12 lang_boxes_one_wrap">
                            <div class="lang_boxes_one">
                                <img style="max-width:100px" src="~/images/error-payment.gif">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="lang_boxes_two">
                                <p id="error_message">Error</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="success_choose" role="dialog">
        <div class="modal-dialog lang_choose_dialog">
            <!-- Modal content-->
            <div class="modal-content lang_choose_content">
                <div class="modal-header lang_choose_header" style="background-color:forestgreen;">
                    <h3 class="modal-title" style="background-color:forestgreen;">Success</h3>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body lang_choose_body">
                    <div class="row ml0 mr0 lang_wrapper" style="text-align:center">
                        <div class="col-md-12 lang_boxes_one_wrap">
                            <div class="lang_boxes_one">
                                <img style="max-width:100px" src="~/images/success-payment.gif">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="lang_boxes_two">
                                <p id="success_message"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                    <h4 class="modal-title"><span>Enter your Mobile Number</span></h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <ul class="password-upadte blk-text pad-btm-ten pad-top-ten">
                            <li class="mar-btm-fifteen pad-top-ten pad-btm-ten">
                                <label class="fleft">
                                    <p class="big no-mar lang">Mobile Number :</p>
                                </label>
                                <label class="fright tel-icon">
                                    <input type="number" class="reg-form" placeholder="Mobile No" id="forgot-password-number">
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="ForgotPassword()">Forgot</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/js/datepicker.js" type="text/javascript" charset="utf-8"></script>


    <script type="text/javascript" charset="utf-8">

        $(document).ready(function () {
            $(".contact-us-btn,.contact-us-btn-footer").click(function () {
                $("#chatting").toggle();
            });
            $(".contact-user").mouseover(function () {
                $("#chatting").toggle();
            });
            $('#chatting').mouseleave(function () {
                $("#chatting").toggle();
            });
        });


        function OpenChatting() {
            $("#chatting").toggle();
        }

        $(".dropdown").hover(function () {
            $(this).toggleClass("open");
        },
            function () {
                $(this).removeClass("open");
            }
        );

    </script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $(".contact-us-btn1,.contact-us-btn-footer1").click(function () {
                $("#chatting1").toggle();
            });
            $(".contact-user1").mouseover(function () {
                $("#chatting1").toggle();
            });

            $('#chatting1').mouseleave(function () {
                $("#chatting1").toggle();

            });

        });

    </script>

    <script type="text/javascript">
        var OnlineHelpAPI = OnlineHelpAPI || {}; (function (t) { function e(e) { var a = document.createElement("script"), c = document.getElementsByTagName("script")[0]; a.type = "text/javascript", a.async = !0, a.src = e + t.site_id, c.parentNode.insertBefore(a, c) } t.chat_buttons = t.chat_buttons || [], t.chat_buttons.push({ code_plan: "a9010000-0000-0000-0000-008e000391c3", div_id: "onlinehelp-button-a9010000-0000-0000-0000-008e000391c3" }), t.site_id = 233923, t.main_code_plan = "a9010000-0000-0000-0000-008e000391c3", e("https://vue.livelyhelp.chat/livechat.ashx?siteId="), setTimeout(function () { t.loaded || e("https://vue1.livelyhelp.chat/livechat.ashx?siteId=") }, 5e3) })(OnlineHelpAPI || {})
    </script>

</body>
</html>
